.THIS .hideAllLabels .slds-form-element__label {
    display : none;
}
.THIS .hideAllLabels .slds-radio__label .slds-radio_faux {
    margin:0;
}
.THIS .Required:after {
	color : red;
    content: "*";
    padding-left : 5px;
}
.THIS .slds-icon-text-default {
    margin-right: 5px;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}