.THIS {
    background-color: #155A91;
    color: #FFFFFF;
    width: 100%;
    padding: 8px 0;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1rem;
}

.THIS .slds-card__header {
    display: none;
}

.THIS .slds-card__body {
    margin-bottom: 0px;
}

.THIS .text-mgr-link {
    width: 100%;
}

.THIS .test-mgr-link-body {
    padding: 0 20px;
    color: #FFFFFF;
}

.THIS .test-mgr-link-body.active {
    background-color: #FFFFFF;
    color: #0C528E;
}

.THIS .test-mgr-link-section {
	padding: 20px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.THIS .test-mgr-link-section > div {
    text-align: left;
    line-height: 1em;
}

.THIS .test-mgr-link-section > div:nth-child(2) {
    padding-left: 2px;
}

.THIS .tools-icon {
    width: 14px;
    vertical-align: top;
}
.THIS .tmLinkDisabled{
    cursor: no-drop;
}