.cContractSignatory .panel-heading {
    background-color: white !important;
    border-color: #777 !important;
    color: black !important;  
}
.cContractSignatory .help-none-error{    
    display: none;
}
.THIS .phone-number{
    column-count: 2
}