.cNewDevelopmentsFileUploadW1 .header-content {
    margin-bottom: 80px;
}

.cNewDevelopmentsFileUploadW1 p+.form-group {
    margin-top: 30px;
}

.cNewDevelopmentsFileUploadW1 .context-text {
    margin-bottom: 50px;
}

.cNewDevelopmentsFileUploadW1 .container-final {
    padding-left: 580px;
    padding-right: 650px;
    margin-bottom: 75px;
}

.cNewDevelopmentsFileUploadW1 .container-final p {
    text-align: center;
}

.THIS .slds-file-selector {
    display: block;
}
.THIS .slds-file-selector .slds-file-selector__dropzone {
    display: block;
    width: 500px;
    height: 100px;
    max-width: 100%;
    position: relative;
}
.THIS .slds-file-selector_files label.slds-file-selector__body {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.THIS .slds-form-element__help {
    font-size: 2rem;
    margin-top: 2rem;
    display: block;
}

.THIS .slds-form-element__label {
    font-size: 1.60rem;
    color : #696969
}

.THIS .error-msg {
    text-align: left;
    color:#FF0000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}