/**
 * Created by Dheeraj.Mandavilli on 18/05/2018.
 */

.THIS .slds-truncate {
    white-space:pre-wrap;
}

.THIS .slds-cell-fixed {
    background-color:#2574a9;
    color:white;
}
.THIS .slds-th__action:hover {
    background-color:#2574a9;
    color:white;
}
.THIS .colorvalue {
    color:green;
}


.THIS.slds-form-element{
    margin-right: -5px;
}

.THIS.slds-select_container{
    margin-left: 3px;
}

.THIS.data-aura-rendered-by{
    margin-right: 1px;
}

.THIS .df{
    margin-left: 2px;
}

.THIS .label-hidden > label {
    display: none;
}

.THIS .address-form-two-column .slds-form-element__control {
    width: 144px;
}

.THIS .address-form-one-column .slds-form-element__control {
    width: 66%;
}

.THIS .ns-state {
    width: 340px;
}

.THIS .address-form label {
    width: 33%;
    text-align: right;
}

.THIS .address-form label {
    width: 33%;
    text-align: right;
}

.THIS .address-form .slds-form-element__control {
    width: 66%;
    display: inline-block;
}

.THIS .address-form .postcode label {
    width: initial;
    text-align: right;
} 

.THIS .address-form .slds-form-element__help {
    margin-left: 33%;
}