.THIS select.select:not([multiple]) {
    height: 46px;
    width: 100%;
    border-radius: 0;
    background-image: none;
    background-size: initial;
    padding: 0;
    line-height: initial;
    background-color: rgb(247, 251, 254);
    -webkit-appearance: menulist;
    border: 1px solid;
    border-radius: initial;
    border-color: rgb(166, 166, 166);
}

.THIS select[disabled].select {
    background-color: #D2DADD !important;
}

.THIS .title-label {
    display: block;
}

.THIS .select::-ms-expand {
    display: block;
    border: 0;
    background-color: transparent;
}