.THIS {
}
.THIS .fileUploadOuter {
    height: 70px;
}
.THIS .fileUploadHelpText {
    position: relative; 
    float: left; 
    left: 4rem;
}
.THIS .fileUploadCmp {
    position: relative; 
    float: left; 
    left: -1rem;
}