.THIS .mainContainer
{
    font-family: "Salesforce Sans", Arial, sans-serif;
    color:#54698D;
    position: absolute;
    z-index:9;
}
.THIS .greyColor{
     color:grey;
}
.THIS .WOLabel{
    position: center !important; 
}
.THIS .btncolor{
    color:white !important;
}
.THIS .slds-docked-composer.slds-is-open {
    min-width: 600px !important;
    height: 600px !important;
}

.THIS .dockcomposerheader {
    background-color: #F4F6F9;
}
.THIS .scrollerSize {
    height: 600px;
}
.THIS .sldsboxmodel {
    color:#54698D;
    background-color: #F4F6F9;
    border: 1px solid #e3e5ed;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
.THIS .sldsboxmodelBorder {
      
    border: 1px solid #e3e5ed;
   }
.THIS .slds-theme_shade {
    color:#54698D;
    background-color : #F4F6F9;
    border: 1px solid #e3e5ed;
}
.THIS .categoryVerticalLayoutItem
{
    font-family: "Salesforce Sans", Arial, sans-serif;
    color:#54698D;
    max-height : 300px;
    overflow-x :none;
    overflow-y: auto;
}
.THIS .slds-form-element__label {
    font-family: "Salesforce Sans", Arial, sans-serif;
    color : #54698D;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 0.5;
    
}
.THIS .avatarIconColor svg {
    fill:rgb(50,205,50);
}
.THIS .docIcon{
    fill:rgb(20,19,38);
}

.THIS .incidentCodeIconColor svg {
    fill: #5876a3;
    background-color : #F4F6F9;
}
.THIS .textAreaContainer textarea
{
    height : 100px;
}
.THIS .textAreaContainerBoundary textarea
{
    height : 60px;
}
.THIS .textAreaContainer textarea::placeholder {
    font-family: "Salesforce Sans", Arial, sans-serif;
    color : #54698D;
}
.THIS .footerButtons
{
    text-align:right;
}
.THIS .textOverflow {
    overflow-wrap : inherit;
}
.THIS .slds-button {
    height: 19px !important;
}
.THIS .slds-nav-vertical__item.slds-is-active .slds-nav-vertical__action {
    background-color: #0070d2;
    color: white;
}
/* Affirmative button Styling (START) */
.THIS .btnAffirmative {
    background-color:#9FC74C !important;
    color: #005031 !important;
    font-weight:bold;
}
.THIS .btnAffirmative:focus {
    background-color:#9FC74C !important;
    color: #005031 !important;
    font-weight:bold;
}
.THIS .btnAffirmative:visited {
    background-color:#9FC74C !important;
    color: #005031 !important;
    font-weight:bold;
}
.THIS .btnAffirmative:hover {
    background-color:#B3DB60 !important;
    color: #005031 !important;
    font-weight:bold;
}
.THIS .btnAffirmative:active {
    background-color:#BDE56A !important;
    color: #005031 !important;
    font-weight:bold;
}
/* Affirmative button Styling (END) */
/* Negative button Styling (START) */
.THIS .btnNegative
{
    background-color:#D82F2A  !important;
    color: #ffffff !important;
    font-weight:bold;
}
.THIS .btnNegative:focus
{
    background-color:#D82F2A  !important;
    color: #ffffff !important;
    font-weight:bold;
}
.THIS .btnNegative:visited
{
    background-color:#D82F2A  !important;
    color: #ffffff !important;
    font-weight:bold;
}
.THIS .btnNegative:hover
{
    background-color:#EC433F !important;
    color: #ffffff !important;
    font-weight:bold;
}
.THIS .btnNegative:active
{
    background-color:#F64D49 !important;
    color: #ffffff !important;
    font-weight:bold;
}
/* Negative button Styling (END) */
/* Cancel button Styling (START) */
.THIS .btnCancel
{
    background-color:#FFFFFF !important;
    color: #585862 !important;
    font-weight:bold;
}
.THIS .btnCancel:focus
{
    background-color:#DCDCDC !important;
    color: #585862 !important;
    font-weight:bold;
}
.THIS .btnCancel:visited
{
    background-color:#FFFFFF !important;
    color: #585862 !important;
    font-weight:bold;
}
.THIS .btnCancel:hover
{
    background-color:#DCDCDC !important;
    color: #585862 !important;
    font-weight:bold;
}
.THIS .btnCancel:active
{
    background-color:#D2D2D2 !important;
    color: #585862 !important;
    font-weight:bold;
}
/* Cancel button Styling (END) */
/* Disabled button Styling (START) */
.THIS .btnDisabled
{   
    background-color:#dcdcdc !important;
    color: #585862 !important;
    cursor:not-allowed !important;
    font-weight:bold;
}
.THIS .btnDisabled:focus
{
    background-color:#D2D2D2 !important;
    color: #585862 !important;
    cursor:not-allowed !important;
    font-weight:bold;
}
.THIS .btnDisabled:visited
{
    background-color:#dcdcdc !important;
    color: #585862 !important;
    font-weight:bold !important;
    cursor:not-allowed;
}
.THIS .btnDisabled:hover
{
    background-color:#D2D2D2 !important;
    color: #585862 !important;
    cursor:not-allowed !important;
    font-weight:bold;
}
.THIS .btnDisabled:active
{
    background-color:#dcdcdc !important;
    color: #585862 !important;
    cursor:not-allowed !important;
    font-weight:bold;
}
/* Disabled button Styling (END) */
/* Actions Link  styles (START) */
.THIS .slds-button.slds-button.actionLink
{
    color:#ffffff ;
    text-decoration:underline !important;
}
.THIS .reqInfo
{
    line-height: 1.275rem !important;
    text-align: left !important; 
}
.THIS .HideLinkToClick
{
 
    cursor: not-allowed !important;
    color: gray !important;
}


.THIS .slds-button.slds-button.actionLink:disabled:hover {
    cursor: not-allowed;
}
.THIS .slds-button.slds-button.actionLink:disabled{
    color:gray !important;
    text-decoration:none !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:link
{
    color:#ffffff !important;
    text-decoration:underline !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:hover
{
    color:#FFC841 !important;
    text-decoration:none !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:focus
{
    color:#FFC841 !important;
    text-decoration:none !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:visited
{
    color:#ffffff  !important;
    text-decoration:underline !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:active
{
    color:#00AEEF !important;
    text-decoration:none !important;
}
/* Actions Link styles (END) */
.THIS .slds-button {
    
    text-decoration: inherit !important;
    height: inherit !important;
}
/*color: inherit !important; */
.THIS .slds-textarea
{
    height: 100px;	 
    font: normal normal 13px/30px  'Gotham Rounded Book',sans-serif,Arial  !important;    
}
.THIS .characterCount
{
    font: normal normal 10px/20px  'Gotham Rounded Book',sans-serif,Arial  !important;    
}
.THIS .modalDialogConfirmation {
    height: 640px;
    position: relative;
    width: 22%;
}
/* Actions Icon styles (START) */
.THIS img.disabled {
    filter: brightness(0.5);
}
.THIS img.disabled:hover {
    cursor: not-allowed;
}
/* Actions Icon styles (END) */