.THIS.outerContainer {
    min-height:500px;
}
.THIS .pageTitle{
    font-size:16px;
}
.THIS .btnPosition{
    float:right;
    margin-top: 5.5%;
}
.THIS .slds-page-header__title{
    pointer-events : none !important;
}