.THIS .slds-truncate {
    white-space:pre-wrap;
}
.THIS .slds-cell-fixed {
    background-color:#2574a9;
    color:white;
}
.THIS .slds-th__action:hover {
    background-color:#2574a9;
    color:white;
}
.THIS .colorvalue {
    color:green;
}

.THIS .error-text {
    display:none;
}

.THIS .show {
    display:flex;
    color:rgb(194, 57, 52);
    margin-left: 22%;
    font-size: .75rem;
    margin-top: .5rem;
}

.THIS .slds-form-element__help {
    font-size: 0.75rem;
    margin-top: 0.12rem;
    display: block;
    position: absolute;
    margin-left: 33%;
}

.THIS .slds-form_horizontal .slds-form-element__label:first-child {
    float: left;
    max-width: none;
    flex-basis: unset;
    text-align: left;
    display: inline-block;
    width: 33%;
    vertical-align: top;
    position: relative;
    top: 0.18rem;
    margin-right: 0px;
    margin-bottom: 0px;
}