.THIS.slds-button {
    background-color: #0070c0 !important;
    color: whitesmoke !important;
	height: 45px;
    float: right;
    margin: 0px 0px 0px 0px;
}
.THIS.slds-button:hover, .THIS.slds-button:focus {
    color: white !important;
    background-color: #0f5c9e !important;
}
.THIS.feedback-head {
	color:rgb(110, 110, 121) !important;
    font-size: 1.2em;
    line-height: 1.3em;
	font-weight: bold;
    display: inline;
    padding-left: 20px;
}
.THIS.feedbackPanel {
    padding-top: 10px;
    padding-left: 21px;
}
.THIS.feedbackError {
    color: #ff1a1a;
    padding-left: 21px;
}
.THIS.hideField {
	display: none;
}
.THIS .errorBox {
	outline: 2;
    border-color: #ff1a1a;
    box-shadow: 0 0 3px #ff1a1a;
}