/**
 * Created by philipstafford-jones on 20/2/19.
 *
 * Global styles for Network Extension - these can later be ported to DF_Base
 *
 */

.THIS {
}


@media (min-width: 48em) {
    .THIS .slds-form-element_horizontal .slds-form-element .slds-form-element__label {
        display: inline-block;
        width: 33%;
        text-align: right;
    }
    .THIS .slds-form-element_horizontal .slds-form-element .slds-form-element__row .slds-form-element__control {
        display: inline-block;
        width: 66%;
    }
}

.THIS .slds-form-element__help {
    padding-left: 0px;
}


/* horizontal layout */
.THIS lightning-input.slds-p-bottom_small,
.THIS div.slds-form-element.slds-p-bottom_small {
    padding-bottom: 1em;
}


/* Table  layouts */
.THIS .slds-truncate {
    white-space:pre-wrap;
}
.THIS .slds-cell-fixed {
    background-color:#2574a9;
    color:white;
}


/* turn of the dropdown icon on lightning:datatable */
.THIS lightning-datatable .slds-button_icon-bare{
    display: none;
}


/* Fix up the white flash on table headers */
.THIS .slds-th__action {
    background-color: #2574a9 !important;
    color:white;
    fill:white;
}


/* Fix up the white flash on table headers */
.THIS .slds-th__action:focus {
    background-color:#2574a9 !important;
    color:white;
    fill:white;
}
.THIS .slds-th__action:hover {
    background-color:#2574a9;
    color:white;
}

.THIS lightning-primitive-header-factory th span.slds-cell-fixed {
    padding: 0.5rem;
}


/* BUTTONS */
.THIS button .slds-button_neutral {
    border-color: #2574a9;
}


/* labels */
.THIS .df-label,
.THIS label.slds-form-element__label {
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    color: rgb(105, 105, 105);
}

.THIS .df-label-hidden label {
    display: none;
}

.THIS .slds-form-element_horizontal label.slds-form-element__label {
    text-align: right;
    width: 33%;
}


.THIS lightning-datatable span.slds-truncate {
    text-transform: none;
}


/* Headings */
.THIS .df-heading,
.THIS .slds-text-heading_small,
.THIS .slds-text-heading_medium,
.THIS .slds-text-heading--medium {
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: normal;
}


/* buttons */
.THIS button.slds-button.slds-button_neutral:enabled {
    border-color: #2574a9;
}


/* if button is tagged with sync then add a sync icon */
.THIS .slds-button__icon[data-key='sync'] {
    width: t(dfButtonIconWidth);
    height: t(dfButtonIconHeight);
    margin-bottom: t(dfButtonIconMarginBottom);
}

.THIS .df-button-light {
    background-color: white;
    color: #2574a9;
}


/* bold text */
.THIS lightning-formatted-rich-text b {
    font-family: "Open Sans";
    font-size: 12px;
}


/* Lightning lat/long */
.THIS lightning-input-location.df-latlong-horizontal label.slds-form-element__label {
    width: 33%;
    display: inline-block;
    text-align: right;
    padding-right: 25px;
}

.THIS lightning-input-location.df-latlong-horizontal div.slds-form-element__control {
    width: 65%;
    display: inline-block;
}

.THIS lightning-input-location.df-latlong-horizontal div.slds-size_1-of-2 {
    width: 100%;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.THIS .slds-form--horizontal .slds-form-element__label:first-child {
    float: left;
    max-width: calc(33% - 1.25rem);
    flex-basis: calc(33% - 1.25rem);
    padding-top: .25rem;
    padding-right: .75rem;
    margin: 0;
    position: absolute;
    z-index: 1;
    margin-bottom: 5px;
}

.THIS .slds-form-element__help {
    font-size: .75rem;
    margin-top: .125rem;
    display: block;
    margin-left: 0%;
}

.THIS .slds-th__action:hover {
    background-color:#2574a9;
    color:white;
}

.THIS .colorvalue {
    color:green;
}


.THIS ::placeholder {
    font-style: italic;
}