.THIS {
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
    background: white;
   /* padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    margin-bottom: 20px;
    min-height: 117px;
}


/*Health Card Snapshot CSS*/

.THIS.snapshotBorder {
    border-bottom: 3px solid #E9CA9B;
    border-left: 3px solid #E9CA9B;
    border-right: 3px solid #E9CA9B;
}

.THIS .snapshotHeader {
    background: #E9CA9B;
}

.THIS .cStrike_picklist .slds-form-element__label{
    display:none;
}

.THIS .serviceInfoIcon{
    vertical-align: -webkit-baseline-middle;
}

.THIS .serviceInfoIcon svg{
    fill: #3b8bd1;
}

.THIS .cStrike_picklist .slds-picklist .slds-dropdown.sp-dropdown-control{
    left:0 !important;
}

.THIS .slds-dropdown__header{
    text-align:left !important;
}

.THIS .snapshotSection .slds-button:hover,
.THIS .snapshotSection .slds-button:focus {
    text-decoration: none;
}

.THIS .toggleButton{
    background: #3b8bd1;
    border-color: #3b8bd1;
}
/*END of Health Card Snapshot CSS*/

.THIS .slds-tabs_default__content {
    padding: 0px;
}

.THIS .macAddress {
    font-weight: 900;
}

.THIS .centreAllign {
    text-align: center;
}

.THIS .slds-col {
    padding-left: 0px;
}

.THIS .slds-gutters .slds-col {
    padding-right: 20px;
}

.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 0px 0 20px 0;
    padding: 20px 20px 20px 20px;
}

.THIS .refreshText {
    text-align: right;
    padding-right: 13px;
}

.THIS .wordBreak {
    word-break: break-all;
}


/* New 1904 */

.THIS .Green .insideBtn {
    background-color: #9FC74C;
}

.THIS .Amber .insideBtn {
    background-color: #ffb75d;
}

.THIS .Red .insideBtn {
    background-color: #D82F2A;
}

.THIS .NA .insideBtn {
    background-color: #6e7883;
}

.THIS .headerBtn.Green {
    border: 1px solid #9FC74C;
}

.THIS .headerBtn.Amber {
    border: 1px solid #ffb75d;
}

.THIS .headerBtn.Red {
    border: 1px solid #D82F2A;
}

.THIS .headerBtn.NA {
    border: 1px solid #6e7883;
}


/* OLD*/

.THIS .headerBtn.okay_green {
    border: 1px solid #9FC74C;
}

.THIS .headerBtn.alert_amber {
    border: 1px solid #ffb75d;
}

.THIS .headerBtn.bad_red {
    border: 1px solid #D82F2A;
}

.THIS .headerBtn.na_grey {
    border: 1px solid #6e7883;
}

.THIS .okay_green .insideBtn {
    background-color: #9FC74C;
}

.THIS .alert_amber .insideBtn {
    background-color: #ffb75d;
}

.THIS .bad_red .insideBtn {
    background-color: #D82F2A;
}

.THIS .na_grey .insideBtn {
    background-color: #6e7883;
}


/* Health Card Title */

.THIS .marginZero {
    margin: 0px auto;
}

.THIS .blueTitle {
    font-size: 1.1rem;
    color: #333160;
    font-weight: bold;
}

.THIS .blueTitle.healthCardTitle {
    padding-bottom: 10px;
}


/* Header Icons */

.THIS .headerBtn {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333160;
    border-radius: 0.6rem;
}

.THIS .slds-box {
    padding: .8rem;
}

.THIS .insideBtn {
    text-align: center;
    display: inline-block;
    padding: 6px 10px;
    margin: 0px;
    color: white;
    border-radius: 2rem;
    border: none;
    width: 23%;
}

.THIS .headerText {
    display: inline-block;
    width: 77%;
}

.THIS .btnGroupSummary {
    margin-left: 100px;
}

.THIS .Up {
    color: #9FC74C;
    font-weight: bold;
}

.THIS .iconViewMeasure_Red .slds-button {
    color: #D82F2A;
    border: 0;
    padding: 0;
    line-height: 0.8rem;
}

.THIS .iconViewMeasure_Red .slds-button:hover,
.THIS .iconViewMeasure_Red .slds-button:focus {
    background-color: unset;
    box-shadow: none;
    text-decoration-color: #D82F2A;
}

.THIS .iconViewMeasure_Red svg {
    fill: #D82F2A;
}

.THIS .iconViewMeasure_Green .slds-button {
    color: #3b8bd1;
    border: 0;
    padding: 0;
    line-height: 0.8rem;
}

.THIS .iconViewMeasure_Green .slds-button:hover,
.THIS .iconViewMeasure_Green .slds-button:focus {
    background-color: unset;
    box-shadow: none;
    text-decoration-color: #3b8bd1;
}

.THIS .iconViewMeasure_Green svg {
    fill: #3b8bd1;
}

.THIS .iconUp svg {
    fill: #9FC74C;
    /*border-radius: 1rem;
  border: 1px solid #9FC74C;
  background-color: #9FC74C;*/
    height: 14px;
    /* as per wireframe */
    width: 14px;
    /* as per wireframe */
}

.THIS .speed .iconUp svg {
    height: 20px;
    /* as per wireframe */
    width: 20px;
    /* as per wireframe */
}

.THIS .slds-table td {
    padding: 0px;
    line-height: 2.5;
}

.THIS .popoverclass {
    min-height: 100px;
}

.THIS .Down {
    color: #D82F2A;
    font-weight: bold;
}

.THIS .speedDesc {
    padding-left: 5px;
}

.THIS .iconDown svg {
    fill: #d82f2a;
    /*border-radius: 1rem;
  border: 1px solid #D82F2A;
  background-color: #D82F2A;*/
    height: 14px;
    /* as per wireframe */
    width: 14px;
    /* as per wireframe */
}

.THIS .icon_Info {
    margin-bottom: 7px;
}

.THIS .icon_Info svg {
    fill: #333160;
    height: 14px;
    /* as per wireframe */
    width: 14px;
    /* as per wireframe */
}

.THIS .icon_Error {
    margin-bottom: 7px;
    color: #d82f2a;
}

.THIS .icon_Error svg {
    fill: #d82f2a;
    height: 14px;
    /* as per wireframe */
    width: 14px;
    /* as per wireframe */
}

.THIS .icon_Warning {
    margin-bottom: 7px;
}

.THIS .icon_Warning svg {
    fill: #ffb75d;
    height: 14px;
    /* as per wireframe */
    width: 14px;
    /* as per wireframe */
}

.THIS .iconAmber svg {
    fill: #ffb75d;
    /*border-radius: 1rem;
  border: 1px solid #D82F2A;
  background-color: #D82F2A;*/
    height: 20px;
    /* as per wireframe */
    width: 20px;
    /* as per wireframe */
}

.THIS .speed .iconDown svg {
    height: 20px;
    /* as per wireframe */
    width: 20px;
    /* as per wireframe */
}

.THIS .slds-form-element__icon {
    padding-top: 0px;
    vertical-align: middle;
}

.THIS .iconhelpText svg {
    fill: #333160;
    height: 14px;
    /* as per wireframe */
    width: 14px;
    /* as per wireframe */
}

.THIS .btnSummary {
    width: 400px;
    background-color: white;
    color: #333160;
}


/* Show More */

.THIS .showMore {
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
}

.THIS .errorStrip {
    /*font-weight:600;
    font-size:1rem;*/
    background: #f1f4f7;
    padding: 10px;
    padding-bottom: 3px;
    margin-bottom: 0.6rem;
}

.THIS .showMore svg {
    fill: #3b8bd1;
}

.THIS .showMore span {
    color: #3b8bd1;
    margin-left: 8px;
}

.THIS .slds-button:hover {
    text-decoration: underline;
    text-decoration-color: #3b8bd1;
}

.THIS .showMore .slds-button:focus {
    box-shadow: none;
}

.THIS .gridData {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 100;
    color: #67666c;
}

.THIS .healthCardColumns {
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    min-height: 250px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    overflow-x: auto;
}

.THIS .healthCardColumns.bottomBorder {
    border-bottom: 1px solid #dddddd;
}

.THIS .healthCardColumns.rightBorder {
    border-right: 1px solid #dddddd;
}


/* Operational Status Table */

.THIS .operationalStatus td {
    line-height: 4;
}

.THIS .operationalStatus .iconhelpText {
    margin-left: 5px;
}

.THIS .operationalStatus tbody td:nth-child(2) {
    text-align: right;
}

.THIS .operationalStatus tbody tr td:first-child {
    width: 80%;
}

.THIS .operationalStatus tbody tr:nth-child(2) td {
    border-bottom: 1px solid #dddddd;
}

.THIS .operationalStatus tbody tr:nth-child(3) td {
    border-bottom: 1px solid #dddddd;
}


/* dropouts Table */

.THIS .dropouts tbody tr td:first-child {
    width: 53%;
}

.THIS .dropouts .slds-table_bordered {
    border-top: none;
}

.THIS .dropouts tbody tr:first-child td {
    border-top: none;
}

.THIS .dropouts tbody tr:nth-child(2) td {
    border-top: none;
}

.THIS .dropouts tbody tr:nth-child(3) td {
    border-width: 5px;
}


/* Speed */

.THIS .speed .slds-table_bordered {
    border-top: none;
}

.THIS .speed tbody tr:first-child td {
    border-top: none;
}

.THIS .speed tbody tr:nth-child(2) td {
    border-top: none;
}

.THIS .speed tbody tr:nth-child(3) td {
    border-top: none;
}

.THIS .speed tbody tr:nth-child(4) td {
    border-top: none;
}

.THIS .speed tbody tr:nth-child(5) td {
    border-top: none;
}

.THIS .speed tbody tr:nth-child(6) td {
    border-top: none;
}


/* CPE Table */

.THIS .cpeHistory {
    color: #3b8bd1;
    border: 0;
    padding: 0;
}

.THIS .cpeHistory:hover,
.THIS .cpeHistory:focus {
    background-color: unset;
    box-shadow: none;
}

.THIS .cpeChanges {
    line-height: 4;
}

.THIS .cpe_History .slds-table {
    line-height: 2.5;
}

.THIS .cpe_History .slds-cell-fixed {
    background-color: #f1f4f7;
}

.THIS .slds-text-title_caps,
.THIS .slds-text-title--caps {
    text-transform: none;
    font-weight: 700;
    color: #333160;
}


/* lineDetails Table */

.THIS .helpIconRightAligned {
    text-align: right;
}


/* mlt Table */

.THIS .mlt {
    overflow: initial;
}

.THIS .speed {
    overflow: initial;
}

.THIS .gridHeading {
    font-size: 1rem;
    font-weight: 600;
    color: #333160;
}

.THIS .lastRun {
    font-size: 0.8rem;
    font-weight: 600;
    color: #333160;
    text-align: right;
    margin-top: 0.2rem;
}

.THIS .slds-tabs_default__link {
    font-size: 1rem;
    font-weight: 600;
    color: #333160;
}

.THIS .slds-tabs_default__link:hover {
    text-decoration: none;
}

.THIS .slds-tabs_default__link:focus {
    text-decoration: none;
}

.THIS .slds-tabs_default__link:active {
    text-decoration: none;
}

.THIS .gridDropoutColumnHdr {
    font-weight: bold;
    color: #333160;
}

.THIS .gridRowTitle {}

.THIS .custom-box {
    text-align: center;
    background-color: green;
    color: white;
    padding: 1rem;
    border: 1px solid #d8dde6;
}

.THIS .amb {
    background-color: yellow;
}

.THIS .table-header {
    padding-bottom: 10px;
    font-size: 1rem;
    color: #333160;
    font-weight: 800;
}


/* Close Button */

.THIS .close-icon {
    text-align: right;
}

.THIS .close-icon svg {
    fill: #333160;
}

.THIS .close-button {
    padding: none !important;
    border: none !important;
    text-align: right;
    padding: 0px;
}


/* Spinner */

.THIS .healthCardSpinner {
    width: 100%;
    height: 200px;
    text-align: center;
}

.THIS .healthCardSpinnerLbl {
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
    padding-top: 32px;
}

.THIS .slds-spinner_container {
    position: relative;
}


/* Error Handler CSS */


/* Error Handler CSS */

.THIS .errorCmp {
    width: 100%;
    height: 200px;
    text-align: center;
    background-image: url(/resource/nbnSpogiconComponentLoadError);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 50% 10%;
}

.THIS .errorSection {
    display: table-row;
    margin-top: 94px;
    line-height: 1.5rem;
    text-align: center;
}

.THIS .errorHeading1 {
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
}

.THIS .errorHeading2 {
    margin: auto;
    font-size: 1rem;
    text-align: center;
}

.THIS .errorDetails {
    font-weight: 500;
    font-size: .8rem;
    color: #8a8b95;
    padding: 0px 20px;
}

.THIS .slds-popover {
    position: absolute;
    top: -87px;
    left: 119px;
}

.THIS .paddingLeft5 {
    padding-left: 5px;
}

.THIS .rejHeading {
    font-size: 1.1rem;
    white-space: normal!important;
    color: #333160;
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
    font-weight: 500;
}

.THIS .borderWidthSpeed {
    border-width: 5px;
}

.THIS .borderWidth5 {
    border-width: 5px;
    padding-top: 30px;
}