.THIS .resultHeaderText {
    font-size: 12px;
    color: #0c528e;
    font-weight: 500;
}

.THIS .testDetailTable {
    font-size: 12px;
    font-weight: 100
}

.THIS .testDetailTable tr {
    border-bottom: 1px solid #efefef;
    line-height: 25px;
}

.THIS .testDetailTable tr:hover {
    background: #f1f4f7;
}

.THIS .testDetailTable td:nth-child(1) {
    color: #67666c;
}

.THIS .testDetailTable td:nth-child(2) {
    color: black;
}

.cJIGSAW_TestManagerGuidedContainer .resultSection  {
    background: #f1f4f7;
}

.THIS .Passed{
    color: #9fc74c;
    font-weight: 800;
    font-size: 14px;
}

.THIS .Failed{
    color: #d82f2a;
    font-weight: 800;
    font-size: 14px;
}

.THIS .Inconclusive,.THIS .INCONCLUSIVE{
    color: #ffb75d;
    font-weight: 800;
    font-size: 14px;
}

.THIS .bullets{   
    list-style: outside;
    font-weight: 600;
    font-size: 14px;
    margin-left: 1rem;
    max-width: 42rem;
    word-wrap: break-word;
}

.THIS .lineSeparator{
    border-top : 1px solid #ced5e1;
}

.THIS .borderClass {
    border: 1px solid #ced5e1;
    min-height: 5rem;
    line-height: 1.5rem;
    text-align: left;
    padding: 1rem;
}

.THIS .wfOutcome{
    font-size: 12px;
    vertical-align: middle;
    color: #0c528e;
    font-weight: 600;
}

.THIS .wfHeading{
    font-size: 14px;
    vertical-align: middle;
    color: #0c528e;
    font-weight: 800;
}