.THIS.slds-box {
    -webkit-box-shadow: t(dfBoxShadow);
    -moz-box-shadow: t(dfBoxShadow);
    box-shadow: t(dfBoxShadow);
}

.THIS .slds-table thead th {
    vertical-align: top;    
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);    
}

.THIS .slds-progress.lightningProgressIndicator {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
}

.THIS .df-required-date label, .THIS .df-notes label {
    display: none;
}

.THIS .slds-has-error.df-required-date.input {
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    min-height: calc(1.875rem + (1px * 2));
}

.THIS .df-notes .slds-textarea, .THIS .df-notes .slds-form-element__control {
    width: 100%;
}

.THIS .slds-select_container {
    width: auto;
    min-width: t(dfSelectMinWidth);
}

.THIS .df-right-form-element {
    padding-left: t(dfFormElementPaddingLeft);
    padding-bottom: t(spacingMedium);
}

.THIS .df-left-form-element {
    padding-left: t(dfFormElementPaddingLeft);
    padding-bottom: t(spacingMedium);
}

.THIS .df-footer .slds-button {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.THIS a.slds-tabs--default__link {
    pointer-events: none;
    cursor: default;
}

@media (max-width: 48em) {

    .THIS .df-right-form-element, .THIS .df-left-form-element {
        padding-left: t(spacingSmall);
        padding-right: t(spacingSmall);
    }

}
.THIS ::-webkit-input-placeholder {
   font-style: italic;
}
.THIS :-moz-placeholder {
   font-style: italic;  
}
.THIS ::-moz-placeholder {
   font-style: italic;  
}
.THIS :-ms-input-placeholder {  
   font-style: italic; 
}

.THIS .slds-tabs_default__link, .THIS .slds-tabs--default__link 
{
    cursor: default !important;
    text-decoration: none !important;    
}