/**
 * Created by gobindkhurana on 4/9/18.
 */
.THIS .search-box-long {
    width: 22rem;
}

.THIS .bundle-search-box-section {
    border-top-style: solid;
    border-color: #2574a9;
    border-width: 5px;
}

.THIS .df-footer td {
    padding-left: 0px !important;
}

.THIS .slds-table thead th {
    vertical-align: middle;
    background-color:#2574a9;
    color:#FFFFFF;
}

.THIS .slds-theme_shade {
    background-color: #2574a9;
}

.THIS .search-label {
    color: white;
}

.THIS .df-footer td {
    padding-top: 0;
}

.THIS .df-sortable {
    display: none;
}

.THIS th.slds-text-title_caps {
    text-transform: none;
    font-size: 0.8125rem;
}

.THIS .slds-th__action:focus, .THIS .slds-th__action:hover {
    background-color: t(dfColorBackground);
    color: WHITE;
}

.THIS .slds-table th .slds-icon.slds-icon-text-default {
    fill: WHITE !important;
    margin-bottom: 3px;
}


.THIS.slds-box {
    -webkit-box-shadow: t(dfBoxShadow);
    -moz-box-shadow: t(dfBoxShadow);
    box-shadow: t(dfBoxShadow);
}

.THIS .df-label-search {
    font-weight: t(dfFontWeightBold);
    margin-top: 0.4rem;
}

.THIS.df-box {
    background-color: t(dfBoxColorBackground);
}

.THIS .df-heading {
    color: t(dfColorTextHeading);
    font-weight: t(dfFontWeightBold);
}

.THIS .df-date label {
    display: none;
}

/*
.THIS .uiInputDate {
    max-width: 150px;
}
*/

.THIS .slds-select_container {
    min-width: 150px;
}

.THIS .df-shift-left {
    margin-left: -200px;
}

.THIS .slds-form-element__control.df-search {
    min-width: 300px;
}

.THIS .slds-has-error.df-date.input {
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    min-height: calc(1.875rem + (1px * 2));
}

.THIS th.slds-text-title_caps {
    text-transform: none;
    font-size: 0.8125rem;
}

.THIS .slds-th__action:focus, .THIS .slds-th__action:hover {
    background-color: t(dfColorBackground);
    color: WHITE;
}

.THIS .slds-table th .slds-icon.slds-icon-text-default {
    fill: WHITE !important;
    margin-bottom: 3px;
}