.THIS {
}

.THIS .borderWidth5{
    border-width:5px;
    padding-top:0px;
}
.THIS .slds-popover{
   width:36rem;
   z-index: 9; 
   position: absolute; /*relative*/
   top: 0px;
   left:-210px;
}

.THIS .speed{
  width:24rem;
   position: absolute; /*relative*/
   top: -135px;
   left:-388px;
}

.THIS .slds-popover__close svg{
    fill:#333160;
}
.THIS .iconDownThreshold svg{
  fill: #d82f2a;
  height:14px; /* as per wireframe */
  width:14px;  /* as per wireframe */
}
.THIS .iconUpThreshold svg{
  fill: #9FC74C;
  height:14px; /* as per wireframe */
  width:14px;  /* as per wireframe */
}