/**
* Created by Gobind.Khurana on 18/05/2018.
*/
.THIS.slds-table thead th {
    vertical-align: top;
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
    padding: 0;
}

.THIS .slds-th__action:hover {
    background-color: #2574a9;
    color: white;
}

.THIS a[href="mailto:Invalid - FTTP"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Invalid - FTTP"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:nbn Select Unavailable"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:nbn Select Unavailable"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Duplicate"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Duplicate"] lightning-icon {
    display: none;
}

.THIS.df {
    text-transform: none !important;
}

.THIS .boarderInc {
    font-size: 13px !important;
    vertical-align: center !important;
    background-color: #FF6633 !important;
    color: white;
}


/*.THIS .slds-truncate {*/
/*white-space: pre-wrap;*/
/*}*/

/*.THIS th.slds-text-title_caps {*/
/*text-transform: none;*/
/*font-size: 0.8125rem;*/
/*}*/

/*.THIS .slds-cell-fixed {*/
/*background-color: #2574a9;*/
/*color: white;*/
/*}*/

/*.THIS .slds-is-sortable .slds-th__action:hover {*/
/*background-color: #2574a9;*/
/*color: white;*/
/*}*/
/*.THIS .slds-is-sortable .slds-th__action:focus {*/
/*background-color: #2574a9;*/
/*color: white;*/
/*}*/
/*.THIS .slds-is-sortable.slds-has-focus .slds-th__action {*/
/*background-color: #2574a9;*/
/*color: white;*/
/*}*/


/*.THIS .df-sortable {*/
/*display: none;*/
/*}*/

.THIS .slds-th__action {
    background-color: #2574a9;
}

.THIS .slds-button_icon-container {
    color: #2574a9;
}


.THIS .slds-button_icon-bare {
    display: none;
}

.THIS .slds-theme_shade {
    background-color: #2574a9;
}

.THIS .slds-table th .slds-icon.slds-icon-text-default {
    fill: WHITE !important;
    margin-bottom: 3px;
}

.THIS .slds-th__action:focus, .THIS .slds-th__action:hover {
    background-color: t(dfColorBackground);
    color: WHITE;
}


.THIS .colorvalue {
    color: red;
}


.THIS a[href="mailto:Pending"] {
    color: black;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Valid"] {
    color: green;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Invalid"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Invalid"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Valid"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Pending"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:In Error"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:In Error"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Invalid - LOCID"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Invalid - LOCID"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Product Unavailable"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Product Unavailable"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Location Unavailable"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Location Unavailable"] lightning-icon {
    display: none;
}


.THIS a[href="mailto:Invalid - Address"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Invalid - Address"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Invalid - LatLong"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Invalid - LatLong"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Lat/Long not found"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Lat/Long not found"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Invalid - Satellite"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Invalid - Satellite"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Invalid - Fixed Wireless"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Invalid - Fixed Wireless"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Invalid - Not Serviceable"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Invalid - Not Serviceable"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Invalid - Unknown"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Invalid - Unknown"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Invalid - Duplicate"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Invalid - Duplicate"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Invalid - Multiple Addresses"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Invalid - Multiple Addresses"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:LOCID not found"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:LOCID not found"] lightning-icon {
    display: none;
}

.THIS a[href="mailto:Address not found"] {
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Address not found"] lightning-icon {
    display: none;
}

.THIS .df {
    color: #FFA500;
}

/*.THIS .slds-button__icon_left {*/
/*float: left;*/
/*margin-left: .5rem;*/
/*margin-top: .5rem;*/
/*}*/

.THIS .slds-form-element__help {
    margin-left: 33%;
}

.THIS .multipleAddressNote {
    color: red;
}