.THIS h2 {
    color: #2574a9;
    font-family: "Roboto Slab";
    font-size: 30px;
    font-weight: lighter;
}

.THIS sup {
    font-size: 13px;
    font-weight: bolder;
}

.THIS bold {
    font-weight: bolder;
}