.THIS.slds-box {
    -webkit-box-shadow: t(dfBoxShadow);
    -moz-box-shadow: t(dfBoxShadow);
    box-shadow: t(dfBoxShadow);
}

.THIS .slds-table thead th {
    vertical-align: top;    
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);    
}
 
.THIS .slds-progress.lightningProgressIndicator {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
}

.THIS .df-notes label{
    display: none;
}

.THIS .df-notes .lds-textarea, .THIS .df-notes .slds-form-element__control {
    width: 100%;
}

.THIS .slds-select_container {
    width: auto;
    min-width: t(dfSelectMinWidth);
}

.THIS .df-right-form-element {
    padding-left: t(dfFormElementPaddingLeft);
    padding-bottom: t(spacingMedium);
}

.THIS .df-left-form-element {
    padding-left: t(dfFormElementPaddingLeft);
    padding-bottom: t(spacingMedium);
}

@media (max-width: 48em) {

    .THIS .df-right-form-element, .THIS .df-left-form-element {
        padding-left: t(spacingSmall);
        padding-right: t(spacingSmall);
    }

}

.THIS .df_backBtnPadLeft{
    padding-left:24px;
}
.THIS .label-hidden > label {
    display: none;
}

.THIS ::placeholder {
    color: darkgray;
    font-style: italic;
    opacity: 1;
}