.THIS .article-link {
    text-decoration: none !important;
}
.THIS .selfServiceArticleListItem {
    background-color: #ffffff;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 20px 0;
    margin: 0 14px;
    list-style-type: none;
}




.THIS .selfServiceArticleListItem .article-head {
    font-size: 1.2em;
    line-height: 1.3em;
	font-weight: bold;
    display:inline;
}
.THIS .selfServiceArticleListItem .footer {
    color: rgb(9, 15, 48);
    font-size: .8125em;
    margin-top: 14px;
    height: 15px;
}
.THIS .slds-badge {
    color: white;
    font-weight: normal;
    font-size: .6rem;
}
.THIS .updated {
    background-color: #a3cd4c;
}
.THIS .new {
    background-color: #ffc740;
}
.THIS .dot {
    margin-left:8px;
    margin-right:8px;
}
.THIS .slds-icon {
    fill:#66666c;
}
.THIS .selectDropdown {
	float:right;
	width: 180px !important
}
.THIS .dropdownLabel {
    float:right;
    margin-right:15px;
    margin-top: 4px;
}
.THIS.slds-spinner_container {
    background-color: rgba(255, 255, 255, 1) !important;
}
.THIS .hide {
    display:none;
}