.THIS .df-label {
    font-weight: t(dfFontWeightBold);
}

.THIS .slds-badge {
    background-color: t(dfColorBackgroundBadge);
    color: t(dfColorTextInverse);
    font-weight: t(dfFontWeightExtraBold);
    font-size: t(dfFontSizeBadge);    
}

.THIS .slds-badge--inverse {        
    background-color: t(dfColorBackgroundBadgeInverse);
    cursor: pointer;
}

.THIS .df-ovc-badge-odd-set {
    text-align: right;
    padding-right: t(spacingXSmall);
}

.THIS .df-ovc-badge-even-set {
    text-align: left;
}

@media (max-width: 48em) {
    
    .THIS .df-ovc-badge-odd-set {
        text-align: center;
        padding-bottom: t(spacingMedium);
        padding-right: t(dfSpacingNone);
    }

    .THIS .df-ovc-badge-even-set {
        text-align: center;        
    }

    .THIS .df-table {
        padding-left: t(spacingSmall);
        padding-right: t(spacingSmall);
    }

    .THIS .slds-badge + .slds-badge {
        margin-left: t(spacingXxSmall);
    }

}