.THIS .form-group label {
    font-size: 16px;
}
.THIS .help-none-error{    
    display: none;
}
.THIS .showFullMessage{
    width:100% !important;
}
.cICTAdditionalInformation .pageMinSize{
    min-height:400px !important;
}
.THIS .infoTitle{
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 15px;
}
.THIS .custompanel-body{
    padding:5px 15px 15px 15px !important;
}
/* Create two equal columns that floats next to each other */
.THIS .column {
    float: left;
    width: 50%;
    padding: 10px;
    /*height: 300px;  Should be removed. Only for demonstration */
}

.THIS .sumitButtonPanel {
    padding-top: 20px;
}

.THIS .row {
    margin-top:20px;
}

.THIS .collapsible-control-title {
    font-size:16px;
}

.THIS .well-responsive-no-border {
    background: white;
    border: none ;
}

.THIS .button-width {
    width : 222.09px;
}

/* Clear floats after the columns
.THIS .row:after {
    content: "";
    display: table;
    clear: both;
} */
/* Preferences CSS starts here*/
.THIS .checkbox {
    position: relative;
    display: block !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.THIS .form-group input[type=checkbox]{
    opacity:1 !important;
    margin-top: 5px;
}
.THIS .form-group input[type=checkbox][disabled]{
    background-color:rgb(21, 137, 238) !important;
}
.THIS input[type="checkbox"]:checked + label {
	color:#000 !important;
}
.THIS input[type=text][disabled]{
    background-color:#ddd !important;
}
.THIS textarea[disabled]{
    background-color:#ddd !important;
    resize:none !important;
}
.THIS .titleCSS{
    font-size: 16px;
}
.THIS label{
    display: -webkit-inline-box !important;
}    
.THIS .btnICT{
    min-width:120px !important;
    padding:7px !important;
}
.THIS .sumitButtonPanel {
    padding-top: 20px;
}
.THIS .prefLabel{

}
.THIS .prefPosition{
    padding-bottom:45px;
}
.THIS .alignPreferences{
    margin-left:5%;
}
.THIS input[type=text] {
    background-color: #fff !important;
}
.THIS .form-control{
    background-color: #fff !important;
}
.THIS .iconPosition{
    margin:0px 0px 0px 2px;
}