.cICTAddressSearch .lookup {
    position: relative;
    width: 100%;
	font-size: 12px;
}
.cICTAddressSearch .lookup_menu_close {   
    display: none;
}
.cICTAddressSearch .lookup_list {
    max-height: calc((((1.5 * 0.8125rem) + (1.5 * 0.75rem) - 0.25rem) + (0.25rem * 2)) * 5);
    overflow-y: auto;     
	padding: 1px;
   	margin: 0px;
	border:1px ridge;
}
.cICTAddressSearch .lookup_list:hover{
    display: block;
}
.cICTAddressSearch .lookup_list a {
    display: block;
    padding: 0.5em 1.8em;
    text-decoration: none;    
    color: #333333;
}
.cICTAddressSearch .lookup_list a:hover {
    background: #D5D8DC;
}
.cICTAddressSearch .typeahead_message{
    display: block;
    padding: 10px 0px;
    font-size: 15px;
    color: red !important;
}
.cICTAddressSearch .lookup_result-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.cICTAddressSearch .lookup_bg{
	border-bottom:1px ridge;
}