.THIS .slds-table thead th {
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
    font-weight: 400;    
}

.THIS .df-order-table.slds-table thead th {   
    padding: 0 0 0 0;
}

.THIS .slds-th__action:focus, .THIS .slds-th__action:hover {
    background-color: t(dfColorBackground);
    color: WHITE;
}

.THIS .slds-table th .slds-icon.slds-icon-text-default {
    fill: WHITE !important;
    margin-bottom: 3px;
}

.THIS th.slds-text-title_caps {
    text-transform: none;
    font-size: 0.8125rem;
}

.THIS .slds-theme_shade {
    background-color: #2574a9;
}

.THIS .search-label {
    color: white;
}

.THIS .df-footer td {
    padding-top: 0;
}

.THIS .df-sortable {
    display: none;
}
.THIS .df-fittable {
    table-layout: fixed;
    width: 100%;
}
.THIS .df-fittable tr{
    height:3rem;
}
.THIS .ee-search-box {
    width: 26rem;
}