.THIS .df-label {
    font-weight: t(dfFontWeightBold);
}

.THIS .slds-badge {
    background-color: t(dfColorBackgroundBadge);
    color: t(dfColorTextInverse);
    font-weight: t(dfFontWeightExtraBold);
    font-size: t(dfFontSizeBadge);    
}

.THIS .df-right-col {
    margin-left: -70px;
}

@media (max-width: 48em) {

    .THIS .df-right-col {
        margin-left: 0px;
    }

}