.THIS {
    background: white;
    min-height: 70vh;
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
    /*overflow-y: scroll;*/
    border: 1px solid #ced5e1;
}

.THIS .serviceIcon {
    margin-left: -0.25rem;
}

.THIS .serviceInfoIcon {
    margin-left: 1rem;
}

.THIS .serviceIcon svg {
    fill: #0c528E;
    background: white;
}

.THIS .serviceInfoIcon svg {
    fill: #0c528E;
}

.THIS .serviceInfoIcon {
    vertical-align: text-bottom;
}

.THIS .summaryTitle {
    font-size: 14px;
    vertical-align: middle;
    color: #0c528e;
    font-weight: bold;
}

.THIS .subHeader {
    color: #67666C;
    font-size: 12px;
    font-weight: 100;
}

.THIS .summaryHeaderSection {
    border-bottom: 1px solid #ced5e1;
}

.THIS .errorIcon {
    width: 25%;
}

.THIS .errorSection {
    text-align: center;
}

.THIS .errorHeading {
    font-size: 14px;
    font-weight: 800;
    color: #0c528e;
}

.THIS .errorText {
    color: #67666c;
    font-size: 12px;
    font-weight: 500;
}

.THIS .testSummaryButton {
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #ced5e1;
    border-radius: 0px;
}

.THIS .testSummaryButton:hover {
    background: #e0e5ee;
}
.THIS .testSummaryButton:focus {
    background: #e0e5ee;
    box-shadow:none;
}

.THIS .rightAlignText {
    text-align: right;
    color: #67666c;
    font-size: 12px;
    font-weight: 100;
}

.THIS .resolutionTextClass {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #67666c;
    font-size: 12px;
    font-weight: 100;
}

.THIS .scrollableSection {
    height: 61vh;
    /*margin-right: 5px;*/
}

.THIS .uiScrollerWrapper::-webkit-scrollbar {
    width: 8px;
}

.THIS .uiScrollerWrapper::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #EDECEC;
}

.THIS .filterGroup {
    background: white;
    pointer-events: none;
    cursor: default;
    text-align: left;
    padding: 0px;
    position: relative;
    left: -15px;
    color: #67666c;
}

.THIS .testName {
    font-size: 12px;
    vertical-align: middle;
    color: #0c528e;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .testResultStatus svg {
    margin-bottom: 2px;
}

.THIS .Passed svg {
    fill: #9FC74C;
}

.THIS .Failed svg {
    fill: #D82F2A;
}

.THIS .INCONCLUSIVE svg {
    fill: #ffb75d;
}

.THIS .Inconclusive svg {
    fill: #ffb75d;
}

.THIS .guidedIcon svg {
    fill: #0c528e;
}

.THIS .roleAvatar svg {
    background: transparent;
    fill: #0c528e;
}

.THIS .roleAvatar {
    background: transparent;
}

.THIS .roleChannel {
    color: #0c528e;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .dropDownArrow svg{
    fill: #0c528e;
}