.THIS .image {
    cursor: pointer;
    
    width: 348.72px;
}

.THIS.card-article {
    width: 260px;
    margin: 17px;
    cursor: pointer;
}    

.THIS.set-icon {
    margin-left: -10px;
    margin-right: 10px;
}