/* Actions Icon styles (START) */
.THIS {
    color:#000000;
    z-index:9;
}
.THIS .commentDiv{
    background-color:red;
}
.THIS .blueColor{
    /*color:#0C528E;*/
    font-family: "Salesforce Sans", Arial, sans-serif;
    color:#54698D;
}
.THIS .redColor{
     color:red;
 }
.THIS .greenColor{
     color:green;
}
.THIS .greyColor{
     color:grey;
}

.THIS .actionIcon{
    margin-right:2px
}

.THIS img.disabled{
    filter: brightness(0.5);
}
.THIS img.disabled:hover{
    cursor: not-allowed;
}



.THIS .slds-textarea{
    height: 150px;
}

.THIS .declineReason{
    font: -webkit-mini-control;
}

.THIS .slds-icon_container.slds-icon-custom-custom83{
    background-color:#333160;
}

.THIS .actionIcon svg
{
    fill:#333160;
    background-color: #ffffff;
    width: 1rem;
	height: 1rem;
    border-radius: 2rem;
}

.THIS .actionIcon.disabled svg
{
    background-color: gray;
}

.THIS .actionIcon svg
{
    fill:#333160;
    background-color: #ffffff;
    width: 1rem;
	height: 1rem;
    border-radius: 2rem;
}

.THIS .actionIcon:hover svg
{
    background-color: #FFC841;
}

.THIS .actionIcon:focus svg
{
    background-color: #FFC841;
}


.THIS .actionIcon:active svg
{
    background-color: #00AEEF;
}

/* Actions Icon styles (END) */





.THIS .actionLinkItemContainer
{
    padding-top:1px;
}

/* Overriding display propoerty of label to make it avoid unnecessary space */
.THIS .slds-form-element__label {
	display:none ;
    visibility:hidden;
}



/* Overriding radio button and label CSS (START) */


.THIS .slds-button.minimizeCloseIcons.slds-button--icon-x-small.slds-button--icon-border
{
	height: 20px !important;
}



.THIS .slds-radio_button [type=radio]+.slds-radio_button__label
{
    background-color: white;
	color:#0C528E !important;
}


.THIS .slds-button {
    text-decoration: none !important;
    height: inherit !important;
    /*color: inherit !important;*/
}

.THIS .minimizeCloseIcons{
    color: inherit !important;
}

.THIS .actionLink 
{
    line-height: 1.275rem !important;
    text-align: left !important; 
    text-decoration:underline !important;
    color: white;
}
.THIS .slds-button.slds-button.actionLink:disabled{
    color:gray !important;
	text-decoration:none !important;
}
.THIS .slds-button.slds-button.actionLink:disabled:hover {
    cursor: not-allowed !important;
}

.THIS .slds-radio_button [type=radio]:checked+.slds-radio_button__label
{
    background-color: #0C528E !important;
	color:white !important;
}

.THIS .slds-radio_button [type=radio]:hover+.slds-radio_button__label
{
    background-color: #00AEEF !important;
	color:white !important;
}


/* Overriding radio button and label CSS (END) */



.THIS .leftPaddingOnlyForFormElements
{
	padding-right:0.75rem;
}


/* Affirmative button Styling (START) */
.THIS .btnAffirmative
{
	background-color:#9FC74C !important;
    color: #005031 !important;
   
}

.THIS .btnAffirmative:focus
{
	background-color:#9FC74C !important;
    color: #005031 !important;
}
.THIS .btnAffirmative:visited
{
	background-color:#9FC74C !important;
    color: #005031 !important;
}

.THIS .btnAffirmative:hover
{
	background-color:#B3DB60 !important;
    color: #005031 !important;
}

.THIS .btnAffirmative:active
{
	background-color:#BDE56A !important;
    color: #005031 !important;
}
/* Affirmative button Styling (END) */

/* Negative button Styling (START) */
.THIS .btnNegative
{
	background-color:#155A91 !important;
    color: #ffffff !important;    
}

.THIS .btnNegative:focus
{
	background-color:#155A91 !important;
    color: #ffffff !important;
   
}
.THIS .btnNegative:visited
{
	background-color:#155A91   !important;
    color: #ffffff !important;
}

.THIS .btnNegative:hover
{
	background-color:#155A91 !important;
    color: #ffffff !important;   
}

.THIS .btnNegative:active
{
	background-color:#155A91 !important;
    color: #ffffff !important;    
}
/* Negative button Styling (END) */

/* Disabled button Styling (START) */
.THIS .btnDisabled
{
	background-color:#dcdcdc !important;
    color: #005031 !important;
    cursor:not-allowed !important;
}

.THIS .btnDisabled:focus
{
	background-color:#D2D2D2 !important;
    color: #005031 !important;
    cursor:not-allowed !important;
}

.THIS .btnDisabled:visited
{
	background-color:#dcdcdc !important;
    color: #005031 !important;
    cursor:not-allowed;
}

.THIS .btnDisabled:hover
{
	background-color:#D2D2D2 !important;
    color: #005031 !important;
    cursor:not-allowed !important;
}

.THIS .btnDisabled:active
{
	background-color:#dcdcdc !important;
    color: #005031 !important;
    cursor:not-allowed !important;
}

/* Disabled button Styling (END) */

/* Cancel button Styling (START) */
.THIS .btnCancel
{
	background-color:#FFFFFF !important;
    color: #585862 !important;
}

.THIS .btnCancel:focus
{
	background-color:#DCDCDC !important;
    color: #585862 !important;
}

.THIS .btnCancel:visited
{
	background-color:#FFFFFF !important;
    color: #585862 !important;
}

.THIS .btnCancel:hover
{
	background-color:#DCDCDC !important;
    color: #585862 !important;
}

.THIS .btnCancel:active
{
    background-color:#D2D2D2 !important;
    color: #585862 !important;
}

/* Cancel button Styling (END) */

/*.THIS .textAreaContainer
{
	height:100px;
}*/

.THIS .footerButtons
{
	text-align:right;
    margin-left:51%
}

.THIS .headerIcon svg
{
    fill:white;
    background-color: #155A91;
}

.THIS .headerIcon1
{	   
    min-width:10px;
    max-width:15px;
    background-color:#155A91;
}

.THIS .mainContainer
{
    /*height: 77px;
    min-width: 405px !Important;*/
    overflow-x: auto;
    z-index:9;
    position: absolute;
}

.THIS .slds-is-open
{
    width: 510px;
}

.THIS .modalDialogConfirmation
{
    height: 640px;
    position: absolute;
}

.THIS .slds-is-open
{
    width: 510px;
}

.THIS .slds-icon-text-default
{
    fill: rgb(180, 180, 180);
}

.THIS .slds-modal__container
{
    width: 40%;
}