.THIS .slds-table thead th {
    vertical-align: top;
    background-color: LIGHTGRAY;
    color: BLACK;
    text-transform: none !important;
    padding: 0;
    font-size: 0.8125rem;
}

.THIS .slds-theme_shade {
    background-color: #2574a9;
}

.THIS .search-label {
    color: white;
}

.THIS .dfnorecords {
    color: red;
}

.THIS .df-test-search .slds-form-element__control {
    width: 320px;
}

.THIS .slds-th__action:focus, .THIS .slds-th__action:hover {
    background-color: LIGHTGRAY;
    color: BLACK;
}

.THIS .slds-table th .slds-icon.slds-icon-text-default {
    fill: BLACK !important;
    margin-bottom: 3px;
}

.THIS .df-as-user-name-col {
    max-width: 150px;
}

.THIS .Pass {
    color: GREEN;
}

.THIS .Passed {
    color: GREEN;
}

.THIS .Fail {
    color: RED;
}

.THIS .Failed {
    color: RED;
}

.THIS .df-label {
    font-weight: t(dfFontWeightBold);
}