.cPremisesDetails .help-none-error{    
    display: none;
}
.cPremisesDetails .image-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}


.cPremisesDetails .LICSeleted{
    border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}


.cPremisesDetails .GrannyFlatLeft{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsGFL');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cPremisesDetails .GrannyFlatRight{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsGFR');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cPremisesDetails .LICLeft{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsLICLeft');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    margin-left: 10px;
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cPremisesDetails .LICRight{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsLICRight');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    margin-left: 10px;
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cPremisesDetails .SideDuplex{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsLICSD');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cPremisesDetails .CentreDuplex{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsLICCD');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    margin-left: 10px;
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cPremisesDetails .Cornerblock{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsLICCB');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}