.THIS .red{
  color: red;
}
.THIS .black{
  color: black;
}
.THIS .spinner{
    /*padding-left: 15px;
    padding-right: 15px;*/
    display: inline-block;
    border: 0px;
}

.THIS .loading{
    border: 0px;
}

.THIS .red{
  color: red;
}
.THIS .black{
  color: black;
}

.THIS .tooltip2{
  color: #0f5c9e;
  padding-left: 15px; 
  padding-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  text-decoration-style: solid;
  text-decoration: underline;
  position: static;
  max-height: 10%;
  display: block;
}

.THIS .tooltip2:hover{
  color: #083358;
}

.THIS .tooltip2:enabled{
  padding-bottom: 0px;
}

.THIS.tooltip:hover .tooltiptext {
    visibility: visible;
}
.THIS.tooltip {
    position: relative;
    display: inline-block;
   /* border-bottom: 1px dotted black; */
    padding-left: 20px;
}
.THIS.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -150px;
    left: 105%;
}    


.THIS .helpHide {
    opacity: 0; 
    display: none;
}

.THIS .helpShow {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    opacity: 1; 
    display: block;
    max-width: 100%;
    /*padding-left: 15px;
    border-top-color: rgb(220, 220, 220);*/
    border-top-style: solid;
    border-top-width: 1px;
   /* border-right-color: rgb(220, 220, 220);*/
    border-right-style: solid;
    border-right-width: 1px;
  /*  border-bottom-color: rgb(220, 220, 220);*/
    border-bottom-style: solid;
    border-bottom-width: 1px;
  /*  border-left-color: rgb(220, 220, 220);*/
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: #fff;
    border-color: #009fe3;
    color: #008dca;
    border-radius: 4px;
}

.THIS .buttonDCB {
    min-width: 186px;
    padding-left: 24px;
    padding-right: 24px;
    letter-spacing: -0.01em;
    white-space: normal;
    color: #fff;
    background-color: #0f5c9e;
    border-color: #0d4e87;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.42857;
    border-radius: 4px;
    user-select: none;
}
.THIS .buttonDCB:hover {
    color: #fff;
    background-color: #0b416f;
    border-color: #072e4f;
}

.THIS .mainSection {
    width: 300px;
    position: absolute;
    height: 450px;
}

.THIS .p1 {
    padding-left: 15px;
    padding-top: 10px;
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    color: #6e6e79;
}

.THIS .text {
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    color: #6e6e79;
}

.THIS .imgAcceptedCards {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.THIS .bpointIframe {
    position: static;
    height: 60%;
}

.THIS .imgBankLogo {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}