.THIS .slds-button-group li .slds-button {
    margin-left: -1px;
}    

.THIS .slds-button-group li:first-child .slds-button {
    border-radius: .25rem 0 0 .25rem;
}

.THIS .slds-button-group li:last-child .slds-button {
    border-radius: 0 .25rem .25rem 0;
}

.THIS .slds-button-group footer .slds-button {
    border-radius: .25rem !important;
    margin-left: 8px;
}

.THIS .slds-button-group ul .slds-button:only-child {
    border-radius: .25rem;
    margin-left: 8px;
}