/* NS Order Notifications
.THIS .slds-table thead th {
    vertical-align: top;    
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
}
*/

.THIS .slds-table thead th .slds-cell-fixed, .THIS .slds-table .slds-has-focus .slds-th__action , .THIS .slds-th__action:focus {
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
}

.THIS .slds-th__action:hover {
    background-color: t(dfColorTextInverse);
    color: t(dfColorBackground);
}

.THIS th.slds-text-title_caps {
    text-transform: none;
    font-size: t(dfFontSizeTableHeader);
}

.THIS .slds-table thead th {
    vertical-align: top;
    background-color: #2574a9;
    color: WHITE;
    padding:5px !important;
}