.THIS {
	color: #333160;    
    background-color: #FDEFD2;
    width: 100%;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
    font-size: 0.75rem;
}
.THIS .ticketBody-error{
    padding:none;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    z-index: 4;
    background-repeat: no-repeat;
    background-size: 65px;
    background-position: 0 172px;
}
.THIS .errorCmp{
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    /*max-height: 280px; Commented by Rohit CUSTSA-24147*/
    /*min-height: 284px; Commented by Rohit CUSTSA-24147*/
    max-height: 292px;/*Added by Rohit CUSTSA-24147*/
    min-height: 292px;/*Added by Rohit CUSTSA-24147*/
    background-image: url(/resource/nbnSpogiconComponentLoadError);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 50% 10%;
    display:table;
    padding-top: 80px;
    
}
.THIS .errorSection{
    display:table-row;
    margin-top: 85px;
    line-height: 1.5rem;
}
.THIS .errorHeader{
    margin: auto;
    font-size: 1.5rem;
    text-align:center;
}
.THIS .errorCmpName{
    margin: auto;
    font-size: 1rem;
    text-align:center;
}
.THIS .errorDetails{
    font-weight: 500;
    font-size: .8rem;
    color: #8a8b95;
}
.THIS.heightchangecss .slds-card__header {
    padding: 0;
    margin: 0;
	font-family: 'Gotham Rounded Book', Arial, sans-serif;
    font-size: 1.2rem;
    min-height: 219px;
}
.THIS .ticketBody {
    padding: 77px 0 74px;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    z-index: 4;
    background-repeat: no-repeat;
    background-size: 73px;
    background-position: 6px 161px;
}
.THIS .ticketBodyZero { 
    padding: 71px 0 113px;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    z-index: 4;
    background-repeat: no-repeat;
    background-size: 73px;
    background-position: 0 196px; 
} 
/*
.THIS .ticketBodyLarge_error {
    padding: 69px 0 70px;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    z-index: 4;
    background-repeat: no-repeat;
    background-size: 73px;
    background-position: 2px 196px;
}
.THIS .ticketBodyError { 
    padding: 53px 0 70px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    z-index: 4;
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: -2px 150px;
}
*/
.THIS .ticketBody.icon-truckroll,.THIS .ticketBodyZero.icon-truckroll {
    background-image: url("/resource/nbnspogicontruckroll");
}
.THIS .ticketCount {
    display: block;
    font-size: 3rem;
    line-height: 2rem;
}
.THIS .locNA {
    display: block;
    font-size: 1rem;
    line-height: 2rem;
}
.THIS .ticketBody .ticketText, .THIS .ticketBodyZero .ticketText {
    font-size: 1rem;
}
.THIS.heightchangecss .slds-card__footer {
	text-align: center;
    background-color: #FFFFFF;
    margin-top: 0px;
    border-top: none;
    font-size: .8rem;
    font-weight: 900;
    min-height: 73px;
}
.THIS .allowWrap{
    white-space:normal !important;
}
.THIS.bg-yellow {
    background-color: #FDEFD2;
}
.THIS.bg-red {
    background-color: #F3DBDA !important;
}
.THIS.bg-green {
    background-color: #E4EDCF !important;
}
.THIS.bg-grey {
    background-color: #DDDDDD;
}
.THIS.bg-white {
    background: white;
}
.THIS .loading-error{
    width: 45px ;
    height: 45PX ;
}
.THIS .bg-grey{
    background-color : #dddddd;
}
.THIS .rejectedHeader{
    font-size: 1.1rem;
    white-space: normal!important;
    color: #333160;
    font-family: 'Gotham Rounded Medium',Arial,sans-serif;
    font-weight: 500;
}

.THIS .rejectedSubText{
    font-size: 1.1rem;
    white-space: normal!important;
    color: #333160;
    font-family: 'Gotham Rounded Medium',Arial,sans-serif;
    font-weight: 500;
    display:block;
}

.THIS .paddingAdjust{
    padding: 103px 0 74px;
}