.THIS .backgroundcolorvalue {
    background-color:#E3ECF8;
}
.THIS .bordercolorvalue {
    color:#2574a9;
}
.THIS .tableborder {
    background-color:#2574a9;
}
.THIS .dfheight {
    height: 650px;
}
.THIS .dfbold {
    color:#2574a9;
    font-weight: bold;
    padding-left: 5px;
}    
.THIS .dfhomeheight {
    height: 650px;
}
.THIS .paddingSearch {
    padding-left: 120px;
}
.THIS .paddingSearchPane {
    padding-right: 5px;
}
.THIS .panel {
    background-color: #E3ECF8;
    padding-left: 15px;
    border-top-style: solid;
    border-color: #2574a9;
    border-width: 5px;
}
.THIS .imgpanel {
    background-color: #E3ECF8;
    border-top-style: solid;
    border-color: #2574a9;
    border-width: 5px;
    height: 145px;
}
.THIS .imgtile {
    float: left;
    width: 49%; 
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.THIS .homepanel {
    background-color: #E3ECF8;
    border-top-style: solid;
    border-color: #2574a9;
    border-width: 5px;
}
.THIS .rightpadding {
    padding-right: 15px;
}
.THIS .homepanel .df-footer td {
    background-color: #E3ECF8;
}
.THIS .homepanel .cDF_SF_Bundle_Search .slds-container--medium{ 
	max-width: 100%;
}
.THIS .cDF_SF_Bundle_Search .df-search-container{ 
    width: 100%
}
.THIS .homepanel .cDF_SF_Bundle_Search .df-search-container .dftablealign {
    table-layout: fixed;
    width: 100%;
}
.THIS .homepanel .cDF_SF_Bundle_Search .df-search-container .dftablealign tr {
    height:3rem;
}
.THIS .cDF_SF_Bundle_Search .containerwidth {
    width: 103%;
}
.THIS .slds-col--padded .contentRegion .siteforceContentArea .comm-layout-column {
    padding-top: 0rem;
}