.cPageTermsConditions .richtext ul>li::before{
    margin-left: 3.0em !important;
}

.cPageTermsConditions .help-none-error{    
    display: none;
}
.cPageTermsConditions .help-block-error{    
    display: block !important;
}
.cPageTermsConditions .customA{
    color: white
}
.cPageTermsConditions .form-group.has-feedback.removepadding{
    padding-bottom: 0px;
    margin-bottom: 0px;
}