.THIS .df-inc-status {
    min-width: 291px;
}

.THIS .df-inc-status .slds-form-element__control.slds-grow {
    min-width: 276px;
}

.THIS .df-date-picker .uiInputDate {
    width: 10em;
    font-size: 0.8em;     
}

.THIS .df-date-picker .uiInputDate input{
    font-size: 1.2em;
    padding-left: 0.6rem;
}

.THIS .df-date-picker .datePicker-openIcon.display {
    right: 6px;
    top: 10px;
}

.THIS .slds-box {
    -webkit-box-shadow: t(dfBoxShadow);
    -moz-box-shadow: t(dfBoxShadow);
    box-shadow: t(dfBoxShadow);
    background-color: t(dfBoxColorBackground);
    min-width:1116px;
}

.THIS .cDF_Form_Label.df-label {
    padding-bottom: 0px;
}

.THIS .ee-search-box .slds-form-element__control {
    width: 94%;
}

.THIS .slds-form-element .slds-form-element__label {
    display: none;    
}

.THIS th.slds-text-title_caps {
    text-transform: none;
    font-size: 0.8125rem;
}

.THIS .dfnorecords {
    color: red;
}

.THIS .slds-th__action:hover, .THIS th.slds-has-focus a, .THIS .slds-cell-fixed, 
.THIS a.slds-th__action.slds-text-link_reset.slds-is-sorted,
.THIS a.slds-th__action.slds-text-link_reset.slds-is-sorted_asc
{
    background-color: t(dfColorBackground);
    color: WHITE;
}

.THIS th .slds-is-sorted .slds-is-sortable__icon, .THIS th svg.slds-button__icon {
    fill: WHITE !important;
    margin-bottom: 3px;
}

.THIS .df-product-table a:hover {
    cursor: default;
}

.THIS .df-product-table .slds-scrollable_y, .THIS .df-event-table .slds-scrollable_y {
    min-height: 4.5rem;
}

.THIS .slds-is-open .slds-dropdown__item a {
    background-color: initial;
    color: initial;
}

.THIS .slds-has-error.df-date.input {
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    min-height: calc(1.875rem + (1px * 2));
    border-width: 0.1px;
}

.THIS .df-2nd-col {
    margin-left: -20px;
}

.THIS .df-status {
    margin-right: -10px; 
}

.THIS .df-sla {
    margin-right: -5px;
}

    .THIS .df-sla .slds-form-element {
        min-width: 10rem;
    }