.THIS{
    color:#000000;
    z-index:9;
}
.THIS .updateOpCat
{
    color:#fff;
	line-height: 0.8rem;
    font-size:0.6rem;
    margin-left:2px;
}

.THIS .OpCatdisabled{

    color:gray;
}

.THIS .OpCatdisabled:hover{
 text-decoration:none;
}


.THIS .updateOpCat:hover{
 text-decoration:underline;
}

.THIS .defaultText{
    font-size:0.65rem;
    color:#fff;
   
}

.THIS .defaultText svg{
  fill: #ffb325;
  width:14px;
  height:14px;
  /*border-radius: 1rem;
  border: 1px solid #9FC74C;
  background-color: white;
  height:14px; /* as per wireframe */
    /* as per wireframe */
}

.THIS .faultType{
    color:#fff;
}
.THIS .btnDisabled
{   
	background-color:#dcdcdc !important;
    color: #585862 !important;
    cursor:not-allowed !important;
    font-weight:bold;
}
.THIS .btnSubmitOpCat
{
    background-color: #9fc74b;
    color: #005031;
}

.THIS .headerIcon svg
{	   
    fill:white;
    background-color: #155A91;
}

.THIS .slds-docked-composer.slds-is-open{
    height: 400px;
    font-family: "Salesforce Sans", Arial, sans-serif;
    color : #54698D;
    min-width: 415px; 
    overflow-x: auto;
}

.THIS .modalDialogConfirmation
{
    height: 640px;
    position: absolute;
}

.THIS .slds-modal__container
{
    width: 31%;
}

/* Cancel button Styling (START) */
.THIS .btnCancel
{
	background-color:#FFFFFF !important;
    color: #585862 !important;
    font-weight:bold;
}

.THIS .btnCancel:focus
{
	background-color:#DCDCDC !important;
    color: #585862 !important;
    font-weight:bold;
}
.THIS .btnCancel:visited
{
	background-color:#FFFFFF !important;
    color: #585862 !important;
    font-weight:bold;
}
.THIS .btnCancel:hover
{
	background-color:#DCDCDC !important;
    color: #585862 !important;
    font-weight:bold;
}
.THIS .btnCancel:active
{
    background-color:#D2D2D2 !important;
    color: #585862 !important;
    font-weight:bold;
}
/* Cancel button Styling (END) */


.THIS .modelBody{
    padding:7px;
    
}