.THIS .collapsible-control-title {
    font-size:16px;
}

.THIS .sumitButtonPanel {
    padding: 20px 0px 30px 0px;
}

.THIS .slds-form-element__label {
    font-size: .8125rem;
}

.THIS .form-group label {
    font-size: 16px;
}

.THIS .draft-button{
    margin-right: 3%;
}

.THIS .alert-danger {
    margin-bottom:0px;
    margin-top:20px;
}

.THIS .disclaimer-text {
    margin-top: 35px;
    position: inherit;
    max-width: 1140px;
}