.cDisplayPaymentDetails .premisesCount{
    margin-left:86px;
}
.cDisplayPaymentDetails .buildType{
    margin-bottom: 20px;
}
.cDisplayPaymentDetails .essentialCount{
    margin-left:32px;
}
.cDisplayPaymentDetails .total{
    margin-left:50px;
}
.cDisplayPaymentDetails .pricingPolicy{
    margin-left:40%;
}
.cDisplayPaymentDetails .displayCost{   
    margin-top: 20px;
    margin-bottom: 40px;
}
.cDisplayPaymentDetails hr{
        margin-top: 2px !important;
    margin-bottom: 10px !important;
}
.cDisplayPaymentDetails label{       
    margin-bottom: 3px !important;
}