/**
 * Created by gobindkhurana on 4/9/18.
 */
.THIS .burgerNav {
    background-color:#2574a9;
    color:#2574a9;
}
.THIS .burgerColor {
    background-color: #2574a9;
    color: white;
}
.THIS .textColor {
    color: white;
}