.THIS {
    background-color: #efefef;
    z-index: 5;
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
}

.THIS .avt-background img {
    padding: 4px 5px 0px 5px;
}

.THIS .headerText {
    font-size: 20px;
    white-space: normal;
    color: #333160;
    vertical-align: middle;
    font-weight: 500;
    padding: 5px;
}

.THIS .headerContainer {
    padding-right: 2rem;
}

.THIS .returnINCButton {
    text-align: right;
}

.THIS .returnINCButton {
    text-align: right;
}

.THIS .returnText {
    padding-right: .5rem;
    vertical-align: middle;
}