.THIS .df-label {
    font-weight: t(dfFontWeightBold);
}

.THIS .df-notes {
        padding-right: t(dfSpacingXxLarge);
}

@media (max-width: 48em) {

    .THIS .df-notes-label {
        text-align: left;
        padding-left: t(spacingMedium);
    }

    .THIS .df-notes {
        padding-right: t(spacingMedium);
        padding-left: t(spacingMedium);
    }

}