/* Loading Of Fonts From External Source */
@font-face {
    font-family: "FontAwesome";
    src: url("/resource/FontAwesome470/fonts/fontawesome-webfont.eot?v=4.7.0");
    src: url("/resource/FontAwesome470/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("/resource/FontAwesome470/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("/resource/FontAwesome470/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("/resource/FontAwesome470/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("/resource/FontAwesome470/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
/*CUSTSA-2755 ADDED BY RM */
.THIS .textlinethrough{
    text-decoration: line-through;
}
/*END OF CUSTSA-2755 ADDED BY RM */
.THIS .vertical-align-text-bottom{
    vertical-align : text-bottom;
}
.THIS .whiteCalendar{
    color:white;
}
.THIS .underLine{
    border-bottom: 1px dotted #000;
    font-weight: bold;
    color: #735e5e !important;
}
.THIS .GreyText{
    color: grey;
}

/* PCR display CSS */
.THIS .underlineText{
    border-bottom-style: dotted;
}

/*Set Incident_Status Component Attributes */
.THIS {
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #333160;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    background-color: #B5DEF5;
    padding: 0px;
    width: 100%;
    /*min-height: 285px;Commented by Rohit CUSTSA-24147
    max-height: 285px;  Commented by Rohit CUSTSA-24147*/
    min-height : 292px;/*Added by Rohit CUSTSA-24147*/
    max-height : 292px;/*Added by Rohit CUSTSA-24147*/
    overflow: hidden;
}
/*Set Background Color Codes For The Component */
.THIS.bg-yellow {
    background-color: #FDEFD2 !important;
}
.THIS.bg-grey {
    background-color: #DDDDDD !important;
}
.THIS.bg-green {
    background-color: #E4EDCF !important;
}
.THIS.bg-amber {
    background-color: #fdefd2 !important;
}
/* Start Set Card Styles */
/* Set Incident Status Header size */
.THIS .slds-card__header {
    color: #333160;
    margin-bottom: 0;
    padding: 0;
    min-height: 120px;
}
/* Set Incident Status Body size */
.THIS .statusBody {
    min-height: 120px;
}
/* Set Incident Status Body size */
.THIS .slds-card__footer {
    position: relative;
    margin-top: 0;
    border: 0;
    background-color: #FFFFFF;
    min-height:172px !important;/*Added by Rohit CUSTSA-24147 */
}
.THIS .slds-spinner_container {
    opacity:1 !important;
    z-index: 1 !important;
    /*background-color: transparent !important;*/
    background-color: #DDDDDD !important;
    max-height: 120px;
}
/* End Set Card Styles */
/* Set Incident Status Header Text Properties */
.THIS .incident-status-header {
    line-height: 1.5rem;
    text-align: center;    
}
.THIS .incident-status-text {
    font-size: 12px;
}
.THIS .incident-status {
    font-size: 20px;
    white-space: normal !important;
}
.THIS .incident-sub-status {
    font-size: 13px;
    font-weight: bold;
    white-space: normal !important;
    z-index: 4;
}
.THIS .plannedRemediationDetailsSection {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-weight: normal;
    color: #81828c;
}
/* Set Incident Status Header Icon Properties */
.THIS .incident-status-icon {
    color: #FFFFFF;
    width: 80px;
    left: -2px;
    Top: 40px;
    position: absolute;
    opacity: 0.7;
    z-index: 0;
}
.THIS .incident-status-icon.accepted {
    width: 112px;
    top: 39px;
    left: -30px;
}
.THIS .incident-status-icon.truck-roll {
    width: 88px;
    top: 64px;
    left: 0;
}
.THIS .incident-status-icon.tech-onsite {
    width: 132px;
    top: 30px;
    left: -34px;
}
.THIS .incident-status-icon.resolution-rejected {
    width: 63px;
    top: 58px;
}
.THIS .incident-status-icon.pause {
    width: 66px;
    top: 58px;
    left: 0;
}
.THIS .incident-status-icon.rejected {
    width: 65px;
    top: 70px;
    left: -10px;
}
.THIS .incident-status-icon.cancelled {
    width: 65px;
    top: 67px;
    left: -6px;
}
.THIS.toastMessage.forceActionsText{
     white-space : pre-line !important;
}
/* Set Incident Details Text Properties */
.THIS .incident-details-text {
    font-weight: bold;
}
/* Set Resolution Details Properties */
.THIS .resolution-details {
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
    color: #81828C;
    padding: 7px 0 0;
}
.THIS .resolution-details > div:first-child {
    text-align: right;
}
.THIS .resolution-details > div:nth-child(2) {
    padding-left: 6px;
    text-align: left;
}
.THIS .resolution-details > div:last-child {
    font-style: italic;
    margin-top: 7px;
    padding-top: 7px;
    text-align: center;
    border-top: 1px solid #DDDDDD;
}
.THIS .resolution-details .resolution-tier-2 {
    padding-top: 2px;
}
.THIS .closure-datetime-section {
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
    color: #81828C;
    padding: 8px 0 0;
}
.THIS .closure-datetime-section > div > span {
    margin-right: 3px;
}
.THIS .closure-datetime-section > div > span > i:last-child {
    color: #FFFFFF;
}
/*Start of Incident Details Help Section */
.THIS .incident-details-help-section {
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
    font-style: italic;
    text-align: left;
    color: #DDDDDD;
    display: table;
    padding: 10px 0 10px;
}
.THIS .incident-details-help-section.suggested-action {
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
    font-style: inherit;
    color: #C3C3C3;
}
.THIS .incident-details-help-section > div {
    display: table-cell;
    vertical-align: middle;
}
.THIS .incident-details-help-section > div:last-child {
    padding-left: 10px;
    color: #818181;
}
.THIS .fa-calendar-plus-o:before {
    font-size: 13px;
    color: #FFFFFF;
}
.THIS .fa-search {
    font-size: 35px;
}
.THIS .fa-exclamation-circle {
    font-size: 46px;
}
/*End of Incident Details Help Section */
/*Start of Appointment Details Section */
.THIS .incident-appointment-details {
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
    color: #C3C3C3;
    padding-top: 11px;
}
.THIS .incident-appointment-details > div:first-child {
    border-right: 1px solid #C3C3C3;
}
.THIS .incident-appointment-details > div:nth-child(2) {
    padding-top: 3px;
}
.THIS .incident-appointment-details > div:last-child {
    padding-top: 10px;
}
.THIS .incident-appointment-date {
    font-size: 36px;
    line-height: 2rem;
    font-weight: bold;
}
.THIS .incident-appointment-month {
    font-size: 20px;
    line-height: 1.8rem;
}
.THIS .incident-appointment-time {
    font-size: 18px;
    line-height: 1.8rem;
}
.THIS .incident-appointment-tz {
    font-size: 12px;
    font-weight:bold;
}
/*End of Appointment Details Section */
/*Start of Flag Details Section */
.THIS .incident-status-flag-container {
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
    /*color: #C3C3C3;*/
    color:#67666C;
    padding: 2px;
}
.THIS .incident-status-flag-icon {
    font-family:FontAwesome;
    padding: 2px;
    color:#d5d5d5;
    vertical-align: text-bottom;
}
.THIS .incident-status-flag {
    padding: 2px;
    font-size: 12px;
    white-space:wrap;
    font-style: italic;
}
.THIS .incidentmsg {
    font-size: 12px;
    white-space:normal !important;
}
.THIS .statusBody {
    min-height: 120px;
}
.THIS .hidden {
    visibility: hidden;
}
.THIS .showDataSummaryLink{
    min-height: 45px;
    text-align: center;
}
.THIS .textposition {
    z-index: 1
}
/* Error Handler CSS */
.THIS .errorCmp{
    width: 100%;
    /*min-height: 285px; Commented by Rohit CUSTSA-24147 */
    min-height: 292px; /*Added by Rohit CUSTSA-24147 */
    text-align: center;
    background-color: white;
    background-image: url(/resource/nbnSpogiconComponentLoadError);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 50% 20%;
}
.THIS .errorSection{
    display: table-row;
    margin-top: 50px;
    line-height: 1.5rem;
    text-align: center;
}
.THIS .errorHeader{
    margin: auto;
    font-size: 1.5rem;
    text-align:center;
}
.THIS .errorCmpName {
    margin: auto;
    font-size: 1rem;
    text-align:center;
}
.THIS .errorDetails {
    font-weight: 500;
    font-size: .8rem;
    color: #8a8b95;
}
/* Affirmative button Styling (START) */
.THIS .btnAffirmative {
    background-color:#9FC74C !important;
    color: #005031 !important;
    font-weight:bold;
}
.THIS .btnAffirmative:focus {
    background-color:#9FC74C !important;
    color: #005031 !important;
    font-weight:bold;
}
.THIS .btnAffirmative:visited {
    background-color:#9FC74C !important;
    color: #005031 !important;
    font-weight:bold;
}
.THIS .btnAffirmative:hover {
    background-color:#B3DB60 !important;
    color: #005031 !important;
    font-weight:bold;
}
.THIS .btnAffirmative:active {
    background-color:#BDE56A !important;
    color: #005031 !important;
    font-weight:bold;
}
.THIS .CancelRejection-text{
    font-size:14px;
}
.THIS .topBorder{
    border-top: 1px solid #dddddd;
    padding: .1rem;
    margin-top: .4rem;
}

.THIS .left-align {
    text-align: left;
}
.THIS .right-align {
    text-align: right;
}
/* Affirmative button Styling (END) */