.THIS .slds-p-left slds-show {
    padding: .75rem;
    padding-top: 1px  !important;
    padding-bottom: 7px !important;
}

.THIS .bannerColor {
    background-color: rgb(244, 179, 66) !important;
}

.THIS .iconColor {
    background-color: #16325c;
    color: #333160;
}

.THIS .bannerIcon{
    background-image: url(/resource/nbnSpogiconBanner);
}

.THIS .iconPadding {
    padding-top: 4px;
    padding-left: 20px;   
    padding-bottom:7px;
}

.THIS .iconPaddingCRQ {
    padding-top: 4px;
    padding-left: 20px;   
    padding-bottom:6px;
}

.THIS .fontColor {
    color: #333160;
    font-size: 1rem;
    padding-left: 60px;
}

.THIS .slds-icon-text-error{
    fill: #333160;
}

.THIS .pillBackground{
    background-color: rgb(244, 179, 66) !important;
}

.THIS .pillContainer{
    padding-right: 2px !important;
}

.THIS .slds-pill_container {
    display: flex;
    border-right-width: -28px;
    min-height: calc(1.875rem + 2px);
    padding: .125rem;
    border: 0px solid rgb(221, 219, 218);
    border-radius: .25rem;
    background-color: rgb(255, 255, 255);
}

.THIS .slds-pill__remove {
    display: none !important;
}

.THIS .slds-icon-text-default {
    fill: rgb(0, 57, 107) !important;
}  

.THIS .paddingHeader {
    padding-left: 2px !important;
}

.THIS .paddingTop {
    padding-top: 8px!important;
}

.THIS .paddingArrowIcon{
    padding-top: 8px!important;
}

.THIS .slds-cell-fixed{
    background-color: #eee;
}

.THIS .slds-text-title_caps, .THIS .slds-text-title--caps {
    text-transform: none;
}

.THIS .slds-th__action-button {
    display: none;
}

.THIS .table-header{
    padding-left: 8px;
    padding-bottom: 10px;
    font-size: 0.9rem;
    white-space: normal!important;
    color: #4e4d5d;
    font-weight: 800;
}

.THIS .marginBanner {
    margin-top: 7px;
}

.THIS .slds-icon_x-small{
    padding-left: 45px;
}

.THIS .slds-pill__action{
    padding-right: 2px !important;
    border: none !important;
}

/* Error Handler CSS */
.THIS .errorCmp{
    width: 100%;
    height: 70px;
    text-align: center;
    background-image: url(/resource/nbnSpogiconComponentLoadError);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 95% 10%;
}
.THIS .errorSection{
    display: table-row;
    margin-top: 94px;
    line-height: 1.5rem;
    text-align: center;
}
.THIS .errorHeading1{
    margin: auto;
    font-size: 1.5rem;
    text-align:center;
}
.THIS .errorHeading2 {
    margin: auto;
    font-size: 1rem;
    text-align:center;
}
.THIS .errorDetails {
    font-weight: 500;
    font-size: .8rem;
    color: #8a8b95;
}

.THIS .errorTextFont{
    font-size: 19px;
}
.THIS .errorTextFont{
    font-size: 16px;
    font-weight: bold;
}
/* End of error handling CSS */

.THIS .customPill {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5;
    max-width: 100%;
    padding: .125rem;
    position: relative;
    min-height: 1.625rem;
    font-weight: bold;
    color: #333160 !important;
    background-color:inherit !important;
    margin-top: 1px !important;
    font-size: 15px;
}

.THIS .slds-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}