.THIS .alignTextCenter{
    text-align: center;
}
.THIS .tableSubHeader{
    color: #333160 !important;
    font-weight: bold !important;
    background: white;
}

.THIS tr:nth-child(even) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    background: #F0F0F0;
    width:30rem !important;
}

.THIS td {
    width: 30rem;
    padding-left : 5px;
    font-weight : bold;
    color: gray;
    font-size: .8rem;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.THIS .rightBorder{
    border-right: 1px solid white;
}