.THIS{
    background: #002856;
    width:100%;
    color: black;
}

.THIS .textColor {
     color: white;
}

.THIS .uiOutputURL {
    color: white;
}

.cNBNHomePageSearch h3 {
    color: white;
}

.THIS .searchButton {
    background-color: #fdbd32;
    color: #1c193b;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
    height: 36px;
    border: 0;
}

.THIS .searchInput {
    width: 400px;
    height: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px 0px 0px 5px;
    border: 0;
}

.THIS .container{
    border-bottom: 1px solid #c7c8c9;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 15px;
    background-color: #fff;
}

.THIS.container.cNBNHomePageSearch lightning-datatable > div {
    overflow: visible;
}
.THIS .IncidentHyperLink > button{
    text-decoration: underline;
    background-color: transparent;
    border: none;
    font-weight: bold;
}