/**
 * Created by Gobind.Khurana on 18/05/2018.
 */
.THIS.slds-theme_shade {
    background-color: t(dfColorBackground);
    padding-left: t(spacingXxSmall);
}

.THIS .boarderInc {
    font-size: 13px !important;
    vertical-align: center !important;
    background-color: #FF6633 !important;
    color: white;

}

.THIS .df-number {
    width: 135px;
}

.THIS .df-number-wide {
    width: 190px;
}

.THIS .df-edit-col {
    width: 60px;
}

.THIS .df-icon {
    background-color: t(dfColorBackgroundIconDisabled);
}

.THIS.slds-table thead th {
    vertical-align: top;
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
    padding: 0;
}

.THIS th.slds-text-title_caps {
    text-transform: capitalize;
    font-size: 0.8125rem;
}

.THIS .df-hyperlink a {
    text-decoration: none;
}

.THIS .slds-truncate {
    white-space: pre-wrap;
}

.THIS .slds-cell-fixed {
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
}

.THIS .slds-th__action:hover {
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
}

.THIS .slds-cell-buffer{
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
}

.THIS.slds-box {
    -webkit-box-shadow: t(dfBoxShadow);
    -moz-box-shadow: t(dfBoxShadow);
    box-shadow: t(dfBoxShadow);
}

.THIS .df-label-search {    
    margin-top: 0.4rem;
    color: #2574a9;
}

.THIS .searchbox {
    max-width: 500px;
}

.THIS.df-box {
    background-color: t(dfBoxColorBackground);
}

.THIS .df-heading {
    color: t(dfColorTextHeading);
    font-weight: t(dfFontWeightBold);
}

.THIS .df-search {    
    min-width: 372px;
    margin-left: 8px;
    margin-right: 8px;
}

.THIS .ns-searchButton {
    vertical-align: middle;
    margin-top: 2px;
}

.THIS .dfnorecords {
    color: red;
}

.THIS .slds-th__action:focus, .THIS .slds-th__action:hover {
    background-color: t(dfColorBackground);
    color: WHITE;
}

.THIS th .slds-icon-utility-arrowdown svg.slds-icon-text-default, 
.THIS th .slds-icon-utility-arrowup svg.slds-icon-text-default {
    fill: WHITE !important;
    margin-bottom: 3px;
}