/*reset ui-input styles to match style guide*/
.THIS ::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
    font-weight: inherit;
    font-size: 12px;
}

.THIS ::-moz-placeholder {
    color: #999;
    opacity: 1;
    font-weight: inherit;
    font-size: 12px;
}

.THIS :-ms-input-placeholder {
    color: #999;
    opacity: 1;
    font-weight: inherit;
    font-size: 12px;
}

.THIS ::placeholder {
    color: #999;
    opacity: 1;
    font-weight: inherit;
    /*font-size: initial;*/
    font-size: 12px;
}

.THIS .form-control {
    display: block;
    width: 100%;
    height: 46px;
    padding: 11px 12px;
    font-size: 16px;
    line-height: 1.42857;
    color: #555;
    background-color: #F7FBFE;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s
}

.THIS .form-control:focus {
    border-color: #009DE6;
    outline: 0;
    background-color: #F7FBFE;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,157,230,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,157,230,0.6)
}

.THIS.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.THIS.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #ce8483;
}
.THIS .help-none-error.help-block-error.errorClass{
    font-size: 12px;
    color: red;
}
.THIS.optionalClass{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.THIS .form-control.altClass{
    width: 100%;
    height: 30px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1;
}