.THIS .df-order-summary {
    color: rgb(105, 105, 105);
    font-weight: t(dfFontWeightBold);
    font-family: "Open Sans";
}

.THIS.df-box {
    background-color: t(dfBoxColorBackground);
}

.THIS .df-label {
    font-weight: t(dfFontWeightBold);
}