.THIS.slds-box {
    -webkit-box-shadow: t(dfBoxShadow);
    -moz-box-shadow: t(dfBoxShadow);
    box-shadow: t(dfBoxShadow);
}

.THIS .df-validation-error-cell {
    max-width: 200px;
}

.THIS.slds-modal {
    z-index: 5001;
}

.THIS.slds-backdrop {
    z-index: 5000;
}

.THIS .slds-table thead th {
    vertical-align: top;    
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);    
}

/*.THIS .slds-modal__container .slds-form-element__label {*/
    /*display: none;*/
/*}*/

.THIS .slds-modal__container .slds-input {
    width: 150px;
}

.THIS .slds-badge {
    background-color: t(dfColorBackgroundBadge);
    color: t(dfColorTextInverse);
    font-weight: t(dfFontWeightExtraBold);
    font-size: t(dfFontSizeBadge);    
}

.THIS .df-right-form-element {
    padding-left: t(dfFormElementPaddingLeft);
    padding-bottom: t(spacingMedium);
}

.THIS .df-left-form-element {
    padding-left: t(dfFormElementPaddingLeft);
    padding-bottom: t(spacingMedium);
}

.THIS .slds-select_container {
    width: auto;
    min-width: t(dfSelectMinWidth);
}

.THIS .slds-form-element__label.slds-m-right--xxx-small {
    margin-right: 0px;
}

.THIS .slds-progress.lightningProgressIndicator {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
}

.THIS .df-disabled-select .slds-select_container:before, .THIS .df-disabled-select .slds-select_container:after {
    display:none;
}

/*.THIS .df-center-left-aligned {*/
    /*width: 160px;*/
    /*text-align: left;*/
/*}*/
/*.THIS .df-center-right-aligned {*/
    /*width: 160px;*/
    /*text-align: right;*/
/*}*/
/*.THIS .df-center-right-aligned-inline {*/
    /*width: 160px;*/
    /*text-align: right;*/
    /*display: inline;*/
/*}*/
/*.THIS .df-center-left-aligned-inline {*/
    /*width: 160px;*/
    /*text-align: left;*/
    /*display: inline;*/
/*}*/

    /*.THIS .df-center-left-aligned .slds-form-element__control {*/
        /*width: 150px;*/
    /*}*/

.THIS .df-label-inline {
    display: inline-block;
    text-align:left;
    font-weight: t(dfFontWeightBold);   
    color: t(dfColorTextHeading);
    padding-left: t(spacingXxSmall);
    padding-bottom: t(spacingXSmall);
}

.THIS .df-label .slds-button.slds-button_icon {
    top: -2px;
}

@media (max-width: 48em) {

    .THIS .df-right-form-element, .THIS .df-left-form-element {
        padding-left: t(spacingSmall);
        padding-right: t(spacingSmall);
    }
}
.THIS .hide-error-message > .slds-form-element__help {
    display: none;
}

.THIS .label-hidden > label {
    display: none;
}

.THIS .DF_stickyModalMessage {
  position: sticky;
  top: 0;
  width: 100%; 
  z-index:1;     
}

.THIS .df-Text-Center{
    text-align:center;
}

.THIS input[type='number'] {
    -moz-appearance:textfield;
}

.THIS input::-webkit-outer-spin-button,
.THIS input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.THIS .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.THIS ::-webkit-input-placeholder {
   font-style: italic;
}
.THIS :-moz-placeholder {
   font-style: italic;  
}
.THIS ::-moz-placeholder {
   font-style: italic;  
}
.THIS :-ms-input-placeholder {  
   font-style: italic; 
}

.THIS .slds-tabs_default__link, .THIS .slds-tabs--default__link 
{
    cursor: default !important;
    text-decoration: none !important;    
}