.THIS.df-label {
    padding-left: t(spacingXxSmall);
    padding-bottom: t(spacingXSmall);
}

.THIS .slds-button.slds-button_icon {
    top: -1px;
    padding-bottom: t(spacingXxSmall);
}

.THIS lightning-helptext {
    display: inline !important;
}