.THIS {
    
}
.THIS .searchBox {
    padding: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}
.THIS .slds-form-element, .THIS .slds-form-element__control {
    display: inline-block;
}
.THIS .slds-lookup__search-input {
    width: 343px;
    margin-right: 10px;
}
.THIS .uiInputDate {
    display: inline-block;
}
.THIS .uiInputDate label {
    display: inline-block;
    margin-right: 5px;
    margin-left: 20px;
    
}
.THIS .uiInputDate .form-element {
    display: inline-block;
}
.THIS .uiInputDate .input {
    width: 150px;
    margin-right: 10px;
}
.THIS .searchStatus {
    display: inline-block;
}
.THIS .uiInputSelect {
    display: inline-block;
    width: 150px;
}
.THIS .uiInputSelectLabel {
    display: inline-block;
    margin-right: 5px;
    color: rgb(105, 105, 105);
    line-height: 1.5;
    margin-bottom: 0.25rem;
}

.THIS hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.THIS .slds-input__icon {
    margin-left: -35px;
}