.THIS{ 
    width:100%;
    background-color:#ffffff;
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px;
    background-clip: 0px;
    padding-left: 1rem;
    padding-top: 1rem;
}

.THIS.scrollerSize{ 
    height:250px;
    color:#3E3E3C;
}

.THIS .slds-card{
    padding: 10px;
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px;
    background-clip: 0px;
    margin-bottom: 0px;

}

.THIS .cmpTitle{
    text-align: left;
    font-size: 15px; 
    font-weight: bold;
}

.cDisplayIncidentNotes .header {
    line-height: 60px;
    margin: 0 auto;
    display: block;
    width: 940px;
    text-align:center;
}

.THIS.uiScrollerWrapper::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #edecec;
}

.THIS.uiScrollerWrapper::-webkit-scrollbar{
    width: 5px;
}

.THIS cmpText{
       margin-left: 10px; 
}