.THIS .ee-duration-hour {
    width: 50% !important;
    float: left;
}

.THIS .ee-duration-hour input {        
        min-height: 35px;
    }

.THIS .ee-duration-min {
    width: 45% !important;
    margin-left: 8px !important;
    float: right;
}

.THIS .ee-duration-min input {        
        min-height: 35px;
    }

.THIS .ee-dateTime-inputDate {
    width: 50% !important;
    float: left;
}

.THIS .ee-dateTime-inputTime {
    width: 45% !important;
    margin-left: 8px !important;
    float: right;
}

    .THIS .ee-dateTime-inputTime select {
        padding-top: 3px;
        padding-bottom: 3px;
        min-height: 35px;
    }

    .THIS .ee-dateTime-inputTime input {        
        min-height: 35px;
    }

.THIS .df-label-black .cDF_Form_Label.df-label>span{
    color: black;
}

.THIS .df-left-col {
    padding-right: 1.5rem;
}

.THIS .df-right-col {
    padding-left: 1.5rem;
}

.THIS .slds-table thead th {
    vertical-align: top;
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
    font-weight: 400;
}

.THIS .slds-table thead tr {
    line-height: 1;
    letter-spacing: 0.0625rem;
}

.THIS .dfnorecords {
    color: red;
}

.THIS .df-footer td {
    padding-top: 0;
}

.THIS .df-sortable {
    display: none;
}

.THIS .df-form .slds-form-element__label, .THIS .df-form lightning-helptext {
    display: none;        
}

.THIS .Pass {
    color: GREEN;
}

.THIS .Passed {
    color: GREEN;
}


.THIS .Fail {
    color: RED;
}

.THIS .Failed {
    color: RED;
}

.THIS .df-date-picker .datePicker-openIcon.display {
    right: 6px;
    top: 10px;
}

.THIS .df-date-picker .timePicker-openIcon.display {
    right: 6px;
    top: 10px;
}