.THIS .bordercolorvalue {
    color: #2574a9;
}
.THIS .backgroundcolorvalue {
    background-color:#E3ECF8;
}
.THIS .tableborder {
    background-color:#2574a9;
}
.THIS .panel {
    background-color: #E3ECF8;
    padding-left: 15px;
    border: 5px #2574a9;
    border-top-style: solid;
}
.THIS .homepanel {
    background-color: #E3ECF8;
    border-top-style: solid;
    border-color: #2574a9;
    border-width: 5px;
}
.THIS .rightpadding {
    padding-right: 15px;
}

.THIS .slds-box {
    padding: 0px;
}

.THIS .slds-tabs_default__content {
    padding-right: 20px;
    padding-left: 20px;
}

.THIS ::placeholder {
    color: darkgray;
}