.THIS {
    color: #333160;
    background-color: #E4EDCF;
    width: 100%;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
    font-size: 0.75rem;
    max-height: 285px;
}
/*override spinner for SLA Module*/
.THIS .slds-spinner_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 64px !important;
    left: 0;
    z-index: 1 !important;
    background-color: #DDDDDD !important;
}
.THIS .update-SLA{
    margin-top: 55px;
    font-size: 1rem;
    font-weight: 900;
    z-index:10;
}
.THIS.bg-yellow {
    background-color: #FDEFD2;
}
.THIS.bg-pink {
    background-color: #F3DBDA;
}
.THIS.bg-grey {
    background-color: #DDDDDD;
}
.THIS .slds-card__header {
    padding: 0;
    margin: 0;
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
    font-size: 1.2rem;
}
.THIS .slaBody {
    padding: 45px 0;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    z-index: 4;
    background-repeat: no-repeat;
    background-size: 25% 40%;
    background-position: left 145px;
    min-height: 219px;
}
.THIS .slaBody.response {
    padding: 45px 0;
    /*background-size: 51px;
    background-position: -3px 56px;*/
}
.THIS .slds-icon {
    width : 15px;
    height : 30px;
}
.THIS .slds-icon-text-default {
    fill : white;
}
.THIS .slds-badge {
    background-color: #DC143C;
    color : white;
}
.THIS .slaBody.icon-sla {
    background-image: url("/resource/nbnSpogiconSLA");
}
.THIS .slaBody.icon-sla.request {
    background-color: #DDDDDD !important;
}
.THIS .slaBody.response {
    background-image: url("/resource/nbnSpogiconSLAResp");
}
.THIS .slaBody .accept-by {
    font-size: 15px;
}
.THIS .sla-module-pending-icon {
    width: 31px;
}
.THIS .slds-card__footer {
    text-align: center;
    background-color: #FFFFFF;
    margin-top: 0px;
    border-top: none;
    font-size: .8rem;
    font-weight: 900;
    /*min-height: 66px !important Commented by Rohit CUSTSA-24147*/
    min-height:73px !important;/*Added by Rohit CUSTSA-24147*/
}
.THIS .lowerCase {
    text-transform: lowercase
}
.THIS .allowWrap{
    white-space:normal !important;
}
/* Error Handler CSS */
.THIS .errorCmp{
    width: 100%;
    /*min-height: 285px; Commented by Rohit CUSTSA-24147 */
    min-height: 292px; /*Added by Rohit CUSTSA-24147 */
    text-align: center;
    background-color: white;
    background-image: url(/resource/nbnSpogiconComponentLoadError);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 50% 20%;
}
.THIS .errorSection{
    display: table-row;
    margin-top: 50px;
    line-height: 1.5rem;
    text-align: center;
}
.THIS .errorHeader{
    margin: auto;
    font-size: 1.5rem;
    text-align:center;
}
.THIS .errorCmpName {
    margin: auto;
    font-size: 1rem;
    text-align:center;
}
.THIS .errorDetails {
    font-weight: 500;
    font-size: .8rem;
    color: #8a8b95;
}
.THIS .bg-grey{
    background-color : #dddddd;
}
.THIS .rejectedHeader{
    line-height : 0.5rem;
    font-size: 1.1rem;
    white-space: normal!important;
    color: #333160;
    font-family: 'Gotham Rounded Medium',Arial,sans-serif;
    font-weight: 500;
}

.THIS .rejectedSubText{
    font-size: 1.1rem;
    white-space: normal!important;
    color: #333160;
    font-family: 'Gotham Rounded Medium',Arial,sans-serif;
    font-weight: 500;
    display:block;
}