.THIS .slds-table thead th {
    vertical-align: top;
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
}

.THIS .slds-box {
    -webkit-box-shadow: t(dfBoxShadow);
    -moz-box-shadow: t(dfBoxShadow);
    box-shadow: t(dfBoxShadow);
    background-color: t(dfBoxColorBackground);
    min-width:1116px;
}

.THIS .df-label-search {
    font-weight: t(dfFontWeightBold);
    margin-top: 0.4rem;
}

.THIS .df-label {
    font-weight: t(dfFontWeightBold);
}

.THIS.df-box {
    background-color: t(dfBoxColorBackground);
}

.THIS .df-heading {
    color: t(dfColorTextHeading);
    font-weight: t(dfFontWeightBold);
}

.THIS .slds-select_container {
    min-width: 150px;
}

.THIS.slds-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-right: 50px;
}

@media (min-width: 1025px) { 
    .THIS .df-shift-left {
        margin-left: -50px;
    }
}