.THIS .ee-info-icon .slds-button.slds-button_icon {
    top: -3px;
    padding-right: 4px;
}

.THIS .df-label {
    font-weight: t(dfFontWeightBold);
}

.THIS .custom-box {
    text-align: left;
    background-color: #f4f6f9;
    padding: 1px;
    border: 1px solid #d8dde6;
}