.cLICDetails .image-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}


.cLICDetails .LICSeleted{
    border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cLICDetails .Vertical{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsLICV');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cLICDetails .Horizontal{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsLICH');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    margin-left: 10px;
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cLICDetails .GrannyFlatLeft{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsGFL');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cLICDetails .GrannyFlatRight{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsGFR');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cLICDetails .LICLeft{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsLICLeftNew');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    margin-left: 10px;
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cLICDetails .LICRight{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsLICRightNew');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    margin-left: 0px;
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cLICDetails .LICCentre{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsLICCenterNew');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    margin-left: 10px;
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cLICDetails .LICOther{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsLICOtherNew');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    margin-left: 0px;
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cLICDetails .SideDuplex{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsLICSD');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cLICDetails .CentreDuplex{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsLICCD');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    margin-left: 10px;
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cLICDetails .Cornerblock{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/sfsites/c/resource/DevelopmentDetailsLICCB');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cLICDetails .customA{
    color: white
}