.THIS {
	color: #333160;    
    background-color: #FDEFD2;
    width: 100%;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
    font-size: 0.75rem;
    min-height: 283px;
}
.THIS .errorCmp{
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    /*max-height: 280px; Commented by Rohit CUSTSA-24147*/
    /*min-height: 284px; Commented by Rohit CUSTSA-24147*/
    max-height: 292px;/*Added by Rohit CUSTSA-24147*/
    min-height: 292px;/*Added by Rohit CUSTSA-24147*/
    background-image: url(/resource/nbnSpogiconComponentLoadError);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 50% 10%;
    display:table;
    padding-top: 80px;
    
}
.THIS .errorSection{
    display:table-row;
    margin-top: 85px;
    line-height: 1.5rem;
}

.THIS .errorHeader{
    margin: auto;
    font-size: 1.5rem;
    text-align:center;
}
.THIS .errorCmpName{
    margin: auto;
    font-size: 1rem;
    text-align:center;
}
.THIS .errorDetails{
    font-weight: 500;
    font-size: .8rem;
    color: #8a8b95;
}

.THIS.heightchangecss .slds-card__header {
    padding: 0;
    margin: 0;
	font-family: 'Gotham Rounded Book', Arial, sans-serif;
    font-size: 1.2rem;
    min-height: 130px;
}

.THIS .ticketBody-error{
    padding:none;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    z-index: 4;
    background-repeat: no-repeat;
    background-size: 65px;
    background-position: 0 172px;
}

.THIS .ticketBody {
    padding: 71px 0 70px;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    z-index: 4;
    background-repeat: no-repeat;
    background-size: 65px;
    background-position: 0px 141px;
}

.THIS .ticketBody-large{
    padding: 85px 0 86px;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    z-index: 4;
    background-repeat: no-repeat;
    background-size: 65px;
    background-position: 0 172px;
}
.THIS .ticketBody.icon-bell,.THIS .ticketBody-large.icon-bell {
    background-image: url("/resource/nbnSpogiconCardCogs");
}

.THIS .ticketBody .ticketCount,.THIS .ticketBody-large .ticketCount,.THIS .ticketBody-error .ticketCount{
    display: block;
    font-size: 3rem;
    line-height: 2rem;
}

.THIS .ticketBody .ticketText,.THIS .ticketBody-large .ticketText ,.THIS .ticketBody-error .ticketText{
    font-size: 1rem;
}

.THIS .ticketBody .ticketText_sub,.THIS .ticketBody-large .ticketText_sub,.THIS .ticketBody-error .ticketText_sub{
    font-size: 0.7rem;
    display:block;
}
.THIS .ticketText_sub_error{
    font-size: 0.7rem;
    display:block;
    height: 78px;
}

.THIS.heightchangecss .slds-card__footer {
	text-align: center;
    background-color: #FFFFFF;
    margin-top: 0px;
    border-top: none;
    font-size: .8rem;
    font-weight: 900;
    min-height: 73px;
}

.THIS .allowWrap{
    white-space:normal !important;
}

.THIS .rejectedHeader{
    font-size: 1.1rem;
    white-space: normal!important;
    color: #333160;
    font-family: 'Gotham Rounded Medium',Arial,sans-serif;
    font-weight: 500;
}

.THIS .rejectedSubText{
    display:block;
    font-size: 1.1rem;
    white-space: normal!important;
    color: #333160;
    font-family: 'Gotham Rounded Medium',Arial,sans-serif;
    font-weight: 500;
}

.THIS .bgGrey{
    background-color : #dddddd;
}

.THIS .paddingAdjust{
    padding: 91px 0 74px;
}