.THIS.slds-box {
    -webkit-box-shadow: t(dfBoxShadow);
    -moz-box-shadow: t(dfBoxShadow);
    box-shadow: t(dfBoxShadow);
}

.THIS .slds-table thead th {
    vertical-align: top;    
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);    
}

.THIS .df-plain-number input.slds-input {
    opacity: 1 !important;
}

.THIS .cont-modal-large {
    width: 75%;
}

.THIS .cont-modal-small {
    width: 25%;
}

.THIS .slds-progress.lightningProgressIndicator {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
}

.THIS .df-center-left-aligned {
    width: 160px;
    text-align: center;
}

.THIS .df-center-left-aligned input{
    text-align: left;
}
.THIS .df_backBtnPadLeft{
    padding-left:24px;
}
.THIS .DF_stickyModalMessage {
  position: sticky;
  top: 0;
  width: 100%; 
  z-index:1;     
}

.THIS .label-hidden > label {
    display: none;
}