.THIS .slds-form-element_separator {
    border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .df-linktrace {
    min-width: 890px;
}

.THIS .df-test-result-table div {
    border: .1px solid BLACK;
    line-height: 2.5rem;
}

.THIS .df-dark-cell {
    background-color: lightgray;
    font-weight: bold;
    border-top: none;
}

.THIS .df-non-top-cell {
    border-top: none !important;   
}

.THIS .df-non-left-cell {
    border-left: none !important;
}

.THIS span.df-node-label {
    color: #2574a9;
}

.THIS .slds-form-element__control.slds-grid.itemBody {
    width: 100%;
}

.THIS .Pass {
    color: GREEN;
}

.THIS .Passed {
    color: GREEN;
}

.THIS .Green {
    color: GREEN;
}

.THIS .Fail {
    color: RED;
}

.THIS .Red {
    color: RED;
}

.THIS .Failed {
    color: RED;
}

.THIS .df-test-node-details {
    font-size: 11px;
}

.THIS .df-long-label {
    width: 190px;
}

.THIS .df-pull-left {
    margin-left: -5px;
}

.THIS .df-pull-right {
    margin-right: -5px;
}

.THIS .df-transition {
    transition: .5s opacity linear;
}

@media (max-width: 105.08em) {

    .THIS .df-as-line {
        max-width: 70px;   
    }

    .THIS .df-linktrace {
        min-width: inherit;
    }

    .THIS div.df-node-label {
        max-width: 140px;
        margin-right: 70px !important; 
    }

    .THIS div.df-node-label-last {
        max-width: 140px;
        margin-right: 0px !important; 
    }
}