/*MRTES-23236*/
.THIS .slds-truncate{
   white-space: pre-wrap; 
   word-break: break-word;
} 
.THIS .faultTDODD{
    width: 500px !important;
}

.THIS .summaryButton > button{
    text-decoration: underline;
    white-space: nowrap;
    padding:0;
    border:0;
}

.THIS .errorSection{
    text-align:center;
}

.THIS .errorCmp{
    background-image: url(/resource/nbnSpogiconComponentLoadError);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 50% 10%;
    padding-top: 80px;
    
}

.THIS .errorCmpName{
    margin: auto;
    font-size: 1rem;
    text-align:center;
}

.THIS .errorMainContainer{
    margin: 0 auto;
}

.THIS .slds-text-title_caps, .THIS .slds-text-title--caps {
    text-transform: none;
}

.THIS .detailTable tr{
    line-height:1.5rem;
}