.THIS {
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.THIS .table-header{
    padding-bottom: 10px;
    font-size: 1rem;
    white-space: normal!important;
    color: #333160;
    font-weight: 800;
}
.THIS .close-icon {
    text-align: right;
}
.THIS .close-icon svg{
    fill : #333160;
}
.THIS .tabsetPadding {
    padding-left: .75rem;
    padding-right: .75rem;
}
.THIS th{
    font-size: 0.8rem;
    font-weight: 800;
    color:#080707;
}
.THIS .close-button{
    padding : none !important;
    border : none !important;
    text-align : right;
    padding:0px;
}
/* Start of Appointment Details More Info CSS */
.THIS table {
    table-layout: auto;
    width: 100%;  
}
.THIS table .tdodd
{
    font: 12px arial, sans-serif;
    color : black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 200px;
}
.THIS table .tdeven
{
    font: 12px arial, sans-serif;
    color : black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    background: #F0F0F0;
    width: 200px;
}
.THIS table .tdgray
{
    font: 12px arial, sans-serif;
    color : #707070;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    background: #E8E8E8;
    border-bottom: 1px solid #F5F5F5;
    width:184px;
    word-wrap:break-word;
}
.THIS .slds-box svg{
    fill : white;
}
/* End of Appointment Details More Info CSS */
.THIS .ordConnect > button{
    background-color: transparent;
    color: #8d92a4;
    border: none;
}
.THIS .ordDisconnect > button{
    text-decoration: underline;
    background-color: transparent;
    border: none;
    font-weight: bold;
}
.THIS .ordDisconnect .slds-button_neutral:disabled{
    text-decoration: none !important;
    color:#080707;
}
.THIS .hideTitle{
    pointer-events: none;
}
.THIS .ordModify > button{
    border: none;
    text-decoration : underline;
    background-color: transparent;
    font-weight: bold;
}
.THIS .ordModify > button:hover{
    background-color: transparent;
    text-decoration : underline;
}
.THIS tbody tr:hover>th{
    background-color: #c8e4f5;
}
.THIS .slds-cell-fixed{
    background-color: #eee;
}

.THIS .ordDisconnect .slds-button_neutral{
    padding-left: 0rem;
}
.THIS .ordModify .slds-button_neutral{
    padding-left: 0rem;
}
.THIS .slds-button_neutral{
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
.THIS .class_work_order{
    border: none;
    text-decoration : underline;
    background-color: transparent;
    color: #8d92a4;
}
.THIS .slds-text-title_caps, .THIS .slds-text-title--caps {
    text-transform: none;
}
/* Error Handler CSS */
.THIS .errorCmp{
    width: 100%;
    height: 200px;
    text-align: center;
	background-image: url(/resource/nbnSpogiconComponentLoadError);
	background-repeat: no-repeat;
 	background-size: 60px;
	background-position: 50% 10%;
}
.THIS .errorSection{
    display: table-row;
    margin-top: 80px;
    line-height: 1.5rem;
   	text-align: center;
}
.THIS .errorHeader{
    margin: auto;
    font-size: 1.5rem;
    text-align:center;
}
.THIS .errorCmpName {
    margin: auto;
    font-size: 1rem;
    text-align:center;
}
.THIS .errorDetails {
    font-weight: 500;
    font-size: .8rem;
    color: #8a8b95;
}