/**
* Created by Gobind.Khurana on 18/05/2018.
*/

.THIS .colorvalue {
    color:red;
}
.THIS a[href="mailto:Unavailable"]
{
    color: black;
    pointer-events: none;
    cursor: default;
}
.THIS a[href="mailto:Red"]
{
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}
.THIS a[href="mailto:Amber"]
{
    color: orange;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Green"]
{
    color: green;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Red"] lightning-icon
{
    display: none;
}

.THIS a[href="mailto:Amber"] lightning-icon
{
    display: none;
}
.THIS a[href="mailto:Green"] lightning-icon
{
    display: none;
}
.THIS a[href="mailto:Unavailable"] lightning-icon
{
    display: none;
}
.THIS.df
{
    color: #ffffff;
}
.df.THIS{
    background-color: #FF6633;
}
.THIS .boarderInc {
    font-size: 13px !important;
    vertical-align: center !important;
    background-color: #FF6633 !important;
    color: white;

}