.THIS .buttonDCB {
    min-width: 186px;
    padding-left: 24px;
    padding-right: 24px;
    letter-spacing: -0.01em;
    white-space: normal;
    color: #fff;
    background-color: #0f5c9e;
    border-color: #0d4e87;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.42857;
    border-radius: 4px;
    user-select: none;
}
.THIS .buttonDCB:hover {
    color: #fff;
    background-color: #0b416f;
    border-color: #072e4f;
}