.THIS .slds-truncate {
    white-space:pre-wrap;
}

.THIS .slds-cell-fixed {
    background-color:#2574a9;
    color:white;
}

.THIS th.slds-text-title_caps {
    text-transform: none;
    font-size: 0.8125rem;
}

.THIS .slds-icon-text-default {
    fill: white;
}

.THIS .slds-th__action {
	background-color: #2574a9 !important;
	color:white;
	fill:white;
}

.THIS .slds-th__action:focus {
    background-color:#2574a9 !important;
    color:white;
    fill:white;
}

.THIS .slds-button_icon-bare{
    display: none;
}

.THIS .colorvalue {
    color:red;
}

.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;
}

.THIS .slds-button__icon[data-key='sync'] {
    width: t(dfButtonIconWidth);
    height: t(dfButtonIconHeight);
    margin-bottom: t(dfButtonIconMarginBottom);
}

.THIS a[href="mailto:Unavailable"]
{
    color: black;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Red"]
{
    color: red;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Amber"]
{
    color: orange;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Green"]
{
    color: green;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.THIS a[href="mailto:Red"] lightning-icon
{
    display: none;
}

.THIS a[href="mailto:Amber"] lightning-icon
{
    display: none;   
}

.THIS a[href="mailto:Green"] lightning-icon
{
    display: none;   
}

.THIS a[href="mailto:Unavailable"] lightning-icon
{
    display: none;   
}

.THIS.df
{
    color: 	#FFA500;
}