.THIS .df-label {
    font-weight: t(dfFontWeightBold);
}

.THIS .slds-badge {
    background-color: t(dfColorBackgroundBadge);
    color: t(dfColorTextInverse);
    font-weight: t(dfFontWeightExtraBold);
    font-size: t(dfFontSizeBadge);
    display: inline-block;
}

.THIS .slds-badge--inverse {        
    background-color: #878686;
    cursor: pointer;
}

.THIS .df-ovc-badge-odd-set {
    text-align: right;
    padding-right: t(spacingXSmall);
}

.THIS .df-ovc-badge-even-set {
    text-align: left;
}

.THIS.slds-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-right: 50px;
}

@media (max-width: 48em) {
    
    .THIS .df-ovc-badge-odd-set {
        text-align: center;
        padding-bottom: t(spacingMedium);
        padding-right: t(dfSpacingNone);
    }

    .THIS .df-ovc-badge-even-set {
        text-align: center;        
    }

    .THIS .df-table {
        padding-left: t(spacingSmall);
        padding-right: t(spacingSmall);
    }

    .THIS .slds-badge + .slds-badge {
        margin-left: t(spacingXxSmall);
    }

}