.THIS .slds-path__nav .slds-is-current, .THIS .slds-path__nav .slds-is-current:hover {
    background-color: orange;	    
} 

.THIS .slds-path__nav .slds-is-current+.slds-is-incomplete:before, .THIS .slds-path__nav .slds-is-current:hover+.slds-is-incomplete:before {
    background-color: orange;	    
}

.THIS .slds-path__nav .slds-is-incomplete:hover {
    background-color: rgb(236, 235, 234);	    
} 

.THIS .slds-path__item:hover+.slds-is-incomplete:before, .THIS .slds-path__item:hover+.slds-is-lost:before{
    background-color: rgb(236, 235, 234);	    
}


.THIS .df-center {  
    margin: auto;
    width: 50%;
}

.THIS .df-padding {  
    padding-top:16px;
}


.THIS .df-center h2 {
    text-align: center;
    padding-top:10px;
}

.THIS hr {
    margin-top: 10px;
    margin-bottom: 10px;        
}

.THIS .label-right-aligned {
    text-align: right;
    font-weight: bold;
    width: 25%;    
}

.THIS .input-row {
    padding-top: 20px;
}

.THIS .value-left-aligned {
    text-align: left;
    width: 25%;
    font-size: .7rem;
}

.THIS .slds-table thead th {
    vertical-align: top;    
    background-color:#2574a9;
    color:white;    
}

.THIS .df-center-ovc {  
    margin: auto;
    width: 70%;
}

.THIS .df-center-ovc h2 {
    text-align: center;
    padding-top:10px;
}

.THIS .slds-badge {
    background-color: green;
    color: white;
}

.THIS .ovc-modal {
    width: 50%;
}

.THIS .df-ovc-padding {  
    padding-bottom:16px;
}

    .THIS .df-ovc-padding div.slds-form-element__control {
        padding-left: 25%;
        padding-right: 25%;
    }

    .THIS .df-ovc-padding-large div.slds-form-element__control {
        padding-left: 35% !important;
        padding-right: 35% !important;
    }

    
.THIS.df-ovc-box {
    padding: 1px 1px 1px 1px;
}

.THIS.df-location-summary, .THIS .df-tab-header {
    background-color: rgb(241,241,241);
}

    .THIS .df-tab-header li {
        color: #2574a9;
        background-color: white;
    }

.THIS .df-quote-heading {
    color: #2574a9;
    font-weight: 600;
}

.THIS .df-quote-form .slds-form-element__label, .THIS span.df-quote-form {
    font-weight: 600;
    font-size: .75rem;
    color: #2574a9;
}

.THIS .df-right-col {
   padding-left: 60px;
}

.THIS .df-left-col {
   padding-right: 60px;
}

.THIS .slds-modal__container .slds-text-heading--small {
    font-size: .8rem;
    line-height: 1;
    font-weight: 600;
}