.THIS .slds-table thead th {
    vertical-align: top;
    background-color:#2574a9;
    color:#FFFFFF;
}

.THIS .slds-theme_shade {
    background-color: #2574a9;
}

.THIS .slds-picklist__input {
    width: 18rem;
}

.THIS .containerwidth {
    width: 800px;
}

.THIS .search-label {
    color: white;
}

.THIS .df-footer td {
    padding-top: 0;
}

.THIS .df-sortable {
    display: none;
}

.THIS .paddingSearch {
    padding-left: 120px;
}
.THIS .paddingSearchPane {
    padding-right: 5px;
}
.THIS .tableborder {
    background-color:#2574a9;
}
.THIS .dfbold {
    color:#2574a9;
    font-weight: bold;
    padding-left: 5px;
    position: absolute;
}
.THIS .backgroundcolorvalue {
    background-color:#E3ECF8;
}