.THIS {
    color: #333160;
    background-color: #FFFFFF;
    width: 100%;
    padding: 0 18px 4px 18px;
    border: 0px;
    border-radius: 0px;
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
    font-size: .75rem;
}
.THIS .lock svg{
    width: .7rem !important;
    height: .7rem !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
    margin-right: 1px !important;
    fill: rgb(187, 24, 27)!important;
}

.THIS .fa.fa-lock {
    padding-right: 2px;
    color: #CE1D20;
}
.THIS .rightArrow svg{
    width: .7rem !important;
    height: .7rem !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
    margin-right: 1px !important;
    fill: #81828c !important;
}


.THIS .fa.fa-caret-right {
    color: #81828C;
}

.THIS .slds-card__header {
    display: none;
}

.THIS .incident-work-log-title {
    font-size: 1.1rem;
}
.THIS .incident-work-log-titlebutton {
    font-size: 0.8rem;
    border-color: #02427a;
}
.THIS .incident-work-log-titlebuttonIcon {
    font-size: 0.8rem;
    border-color: #02427a;
}
.THIS .incident-work-log-titlebuttonIconClass{
    color: #005fb2;
}
.THIS .incident-work-log-titleselect {
    min-width: 200px;
}
.THIS .incident-work-log-titleselect .slds-form-element__control {
    display: inline-block;
}
.THIS .incident-work-log-list {
    width: 100%;
    height: 420px;
    padding-right: 8px;
}
.THIS .incident-work-log {
    padding: 14px 10px 6px 0;
    border-bottom: 1px solid #DDDDDD;
}

.THIS .incident-work-log-icon {
    vertical-align: top;
    margin-right: 8px;
}

.THIS .incident-work-log-icon.auto-processed {
    width: 24px;
}

.THIS .incident-work-log-username {
    padding-right: 3px;
}

.THIS .incident-work-log-date {
    text-align: right;
    font-size: .65rem;
    color: #3E3E3C;
}

.THIS .incident-work-log-body {
    padding-left: 32px;
    color: #3E3E3C;
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
}

.THIS .incident-work-log-body.no-show-more-link {
    padding-bottom: 6px;
}

.THIS .incident-work-log-show-more-link {
    padding-left: 32px;
}

.THIS .incident-work-log-show-more-link button {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 18px;
    color: #4E4B6D;
    background-color: #FFFFFF;
    text-decoration: underline;
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
}

.THIS .uiScrollerWrapper::-webkit-scrollbar {
    width: 5px;
}
.THIS .uiScrollerWrapper::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #EDECEC;
}

.THIS .lowerCase {
    text-transform: lowercase
}