/* Actions Icon styles (START) */
.THIS {
    color:#000000;
    z-index:9;
}
.THIS .actionIcon{
    margin-right:2px
}

.THIS img.disabled{
    filter: brightness(0.5);
}
.THIS img.disabled:hover{
    cursor: not-allowed;
} 

.THIS .slds-icon_container.slds-icon-custom-custom83{
    background-color:#333160;
}

.THIS .actionIcon svg
{	   
    fill:#333160;
    background-color: #ffffff;
    width: 1rem;
	height: 1rem;
    border-radius: 2rem;
}

.THIS .actionIcon.disabled svg
{	   
    background-color: gray;
}

.THIS .actionIcon svg
{	   
    fill:#333160;
    background-color: #ffffff;
    width: 1rem;
	height: 1rem;
    border-radius: 2rem;
}

.THIS .actionIcon:hover svg 
{	   
    background-color: #FFC841;
}

.THIS .actionIcon:focus svg 
{	   
    background-color: #FFC841;
}


.THIS .actionIcon:active svg 
{	   
    background-color: #00AEEF;
}

/* Actions Icon styles (END) */



/* Actions Link  styles (START) */
.THIS .slds-button.slds-button.actionLink
{
    color:#ffffff !important;
	text-decoration:underline !important;
    text-align : left;
    height: 3px !important;
    width:100%;
}

.THIS .slds-button.slds-button.actionLink:disabled
{
    color: gray !important;
    text-decoration: none !important;
    cursor: not-allowed;
}

.THIS .slds-button.slds-button.actionLink:enabled:link
{
    color:#ffffff !important;
    text-decoration:underline !important;
}


.THIS .slds-button.slds-button.actionLink:enabled:hover
{
    color:#FFC841 !important;
    text-decoration:none !important;
}


.THIS .slds-button.slds-button.actionLink:enabled:focus
{
    color:#FFC841 !important;
   text-decoration:none !important;
}



.THIS .slds-button.slds-button.actionLink:enabled:visited
{
    color:#ffffff  !important;
   text-decoration:underline !important;
}

.THIS .slds-button.slds-button.actionLink:enabled:active
{
    color:#00AEEF !important;
   text-decoration:none !important;
}

/* Actions Link styles (END) */


.THIS .actionLinkItemContainer
{
    padding-top:7px;
}


.THIS .slds-button {
    color: inherit !important;
    text-decoration: inherit !important;
    height: inherit !important;
}

.THIS .slds-icon-text-default
{
    fill: rgb(180, 180, 180);
}