.THIS {
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.THIS .table-header{
    padding-bottom: 10px;
    font-size: 1rem;
    white-space: normal!important;
    color: #333160;
    font-weight: 800;
}
.THIS .close-icon {
    text-align: right;
}
.THIS .close-icon svg{
    fill : #333160;
}
.THIS th{
    font-size: 0.8rem;
    font-weight: 800;
    color:#898a8b;
}
.THIS .close-button{
    padding : none !important;
    border : none !important;
    text-align : right;
    padding:0px;
}

.THIS table {
    table-layout: auto;
    width: 100%;  
}
.THIS table .tdodd
{
    font: 12px arial, sans-serif;
    color : black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 200px;
	/*MRTES-23236*/
    /*MRTEST-25178*/
	white-space: pre-wrap; 
    word-break: break-word;
}
.THIS table .tdeven
{
    font: 12px arial, sans-serif;
    color : black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    background: #F0F0F0;
    width: 200px;
}
.THIS table .tdgray
{
    font: 12px arial, sans-serif;
    color : #707070;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    background: #E8E8E8;
    border-bottom: 1px solid #F5F5F5;
    width:184px;
    word-wrap:break-word;
}
.THIS .slds-box svg{
    fill : white;
}