<apex:page sidebar="false" showHeader="false">
<head>
<link rel="stylesheet" type="text/css" href="/css/sfdc_204.css"/>
<style type="text/css">
a{
color:#0070d2;
}
body{
background-color:#B1BAC1;
}
#content,.container{
background-color:#ffffff;
}
#header{
color:#51606E;
}
#header,#footer{
color:#000000;
}
.primary,.primary:hover,.primary:focus{
background-color:#1797C0;
}
.primary{
color:#FFFFFF;
}
.primary{
border:#1797C0;
}
</style>
</head>
<div id="main">
    <div id="wrapper">
      <div id="logo_wrapper" class="standard_logo_wrapper mb24">
        <h1 style="height: 100%; display: table-cell; vertical-align: bottom;">
            <img id="logo" class="standard_logo" src="/img/logo198.png" alt="RSP Community" border="0" name="logo"/></h1>
        </div>
        <div id="header" class="mb24">Single Sign-On Error</div>
          <div id="content">
               <form action="/rsp/_nc_external/identity/saml/SamlError" id="editPage" method="post" name="editPage" >            
                    <p><b>nbn user:</b> Please contact nbn support team through IT Central using the link below.<br/>
                    <a href="https://myit.global.nbndc.local/ux/myitapp" target="_blank">nbn IT Support</a>
                                     <br/>
                        <b> External user: </b> You are either restricted from accessing this feature OR we are currently upgrading your licence. Please try again shortly or contact your Delegated Admin for support.</p>
               </form>
          </div>
       </div>
   </div> 

  <!-- You have accessed a feature for which you currently don't have permission too. Please contact your Delagated Admin to support. -->
  
  
</apex:page>