<apex:page Controller="LASEReportController" readOnly="true" >
    <head>
        <apex:includescript value="//code.jquery.com/jquery-1.12.4.js" / >
        <apex:includescript value="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" />
        <apex:includescript value="//cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"/>
        <apex:stylesheet value="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css"/>
                                                                                      
        <script>
            j$ = jQuery.noConflict();
            j$(document).ready( function () {
                var contactTable = j$('[id$="contacttable"]').DataTable({
                    order: [[0, 'asc']],                    
                    scrollY: "300px",
                    scrollX: true,
                    scrollCollapse: true,        
                    columnDefs: [{ width: 200, targets: 0 }],
                    fixedColumns: true,
                    initComplete: function() {
                        var api = this.api();
                        var select = j$('[id$=accountSelect]');
                        api.column(0).data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );   
                    }
                });
 
                j$('[id$=accountSelect]').change(function() {
                    var val = j$.fn.dataTable.util.escapeRegex(
                        j$(this).val()
                    );
                    contactTable.column(0)
                        .search( val == 'All' ? '' : '^'+val+'$', true, false )
                        .draw();
                });
            });
        </script> 
        
    </head>
   
    <apex:form >
        <apex:pageBlock title="LASE Report">
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{!exportToExcel}" value="Export To Excel"></apex:commandButton>
                <!-- <apex:commandButton onClick="window.top.close();"  value="Close" /> -->
            </apex:pageBlockButtons>
             <body>
        <table id="contacttable" class="display">
            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Account Type</th>
                    <th>Lase Risk Profile</th> 
                    <th>Notification Agreement Executed Date</th>
                    <th>Land Access requirements Summary</th>                    
                    <th>Notification / Statutory Approval Req</th>
                    <th>Site Engagement Overview</th>                    
                    <th>Contact Name</th> 
                    <th>Contact for Business Unit</th>
                    <th>Preferred Phone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <apex:repeat value="{!LASEReportWrapperList}" var="lase">
                    <tr>
                        <td>{!lase.instutionAccount.Name}</td>
                        <td>{!lase.instutionAccount.Account_Types__c}</td>
                        <td>{!lase.lcrRecord.LASE_Risk_Profile__c}</td>
                        <!-- <td>{!lase.lcrRecord.Notification_Agreement_Executed__c}</td> -->
                        <td>
                        <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                            <apex:param value="{!lase.lcrRecord.Notification_Agreement_Executed__c}" />
                        </apex:outputText>                        
                        </td>
                        <td>{!lase.lcrRecord.LASE_Land_Access_Requirements_Summary__c}</td>
                        <td>{!lase.lcrRecord.LASE_Notification_Statutory_Approval_Req__c}</td>
                        <td>{!lase.lcrRecord.Site_Engagement_Overview__c}</td>
                        <td>{!lase.laseContact.Name}</td>
                        <td>{!lase.laseContact.Contact_for_Business_Unit__c}</td>
                        <td>{!lase.laseContact.Preferred_Phone__c}</td>
                        <td>{!lase.laseContact.Email}</td>                        
                    </tr>
                </apex:repeat>
            </tbody>
        </table>
    </body>          
        </apex:pageBlock>
    </apex:form>
</apex:page>