<apex:page controller="PendingAccountsReportCSVController" showHeader="false" sidebar="false" action="{!makeCSVFile}">>
<apex:form >
<apex:pageBlock >
<div>{!message}</div>
</apex:pageBlock>
</apex:form>
Generating report...
</apex:page>