<apex:page standardController="Task" extensions="ViewAlternateContinuityInteraction_CX" lightningStylesheets="true" tabstyle="Alternate_Continuity_Interaction__tab" sidebar="false">   
    <apex:form id="form">
        <apex:pageBlock mode="view">
           <apex:pageblockbuttons location="top">
                    <apex:commandButton action="{!actionUpdate}" value="Update" />
                    <apex:commandButton action="{!actionRecordInteraction}" value="Close" />
                    
            </apex:pageBlockButtons>
            <apex:pageMessages />

                
                <apex:pageblocksection title="Common Fields">
                    <apex:outputField value="{!taskRecord.Reason_for_Call__c}" />    
                    <apex:outputField value="{!taskRecord.PRI__c}" />
                    <apex:outputField value="{!taskRecord.Telstra_Reference_number__c}" />
                    <apex:outputField value="{!taskRecord.Location_ID__c}" />
                    <apex:outputField value="{!taskRecord.Telstra_Tech_name__c}" />
                    <apex:outputField value="{!taskRecord.Location_Address__c}" />
                    <apex:outputField value="{!taskRecord.Telstra_Tech_ID__c}" />
                    <apex:outputField value="{!taskRecord.CPI_ID__c}" />
                    <apex:outputField value="{!taskRecord.Telstra_Tech_Contact_number__c}" />
                    <apex:outputField value="{!taskRecord.Time_of_Call__c}" />
                    <apex:outputField value="{!taskRecord.Additional_Comments__c}" />
                    <apex:outputField value="{!taskRecord.Any_follow_up_action_advised__c}" />
                    <apex:outputField rendered="{!NOT(ISNULL(taskRecord.NBNCorrelationId__c))}" value="{!taskRecord.NBNCorrelationId__c}" />
                </apex:pageBlockSection>
                
                
                <apex:pageblocksection title="Pair Swap Interaction" rendered="{!If(strReasonForCall=='Pair Swap',true,false)}" columns="1">
                    <apex:repeat value="{!$ObjectType.Task.FieldSets.FS_Task_Alt_Cont_Pair_Swap_Req}" var="fpsreqro">
                        <apex:pageblocksectionitem helpText="{!$ObjectType.Task.fields[fpsreqro].inlineHelpText}">
                            <apex:outputLabel value="{!fpsreqro.Label}" rendered="{!!If(fpsreqro.Label='DesiredPairExpText',true,false)}"/>
                            <apex:outputField value="{!taskRecord[fpsreqro.fieldPath]}" rendered="{!!If(fpsreqro.Label='DesiredPairExpText',true,false)}"/>
                        </apex:pageblocksectionitem>
                    </apex:repeat>
                    <apex:repeat value="{!$ObjectType.Task.FieldSets.FS_Task_Alt_Cont_Pair_Swap}" var="fpsro">
                        <apex:pageblocksectionitem helpText="{!$ObjectType.Task.fields[fpsro].inlineHelpText}">
                            <apex:outputLabel value="{!fpsro.Label}"  rendered="{!!If(fpsro.Label='DesiredPairExpText',true,false)}"/>
                            <apex:outputField value="{!taskRecord[fpsro.fieldPath]}" rendered="{!!If(fpsro.Label='DesiredPairExpText',true,false)}"/>
                        </apex:pageblocksectionitem>
                    </apex:repeat>
                </apex:pageblocksection>
                
                
                <apex:pageblocksection title="Cable Records Enquiry Interaction" rendered="{!If(strReasonForCall=='Cable Record Enquiry',true,false)}"> 
                    <apex:repeat value="{!$ObjectType.Task.FieldSets.FS_Task_Alt_Cont_Cable_Records_Enquiry}" var="fcrro">
                        <apex:pageblocksectionitem helpText="{!$ObjectType.Task.fields[fcrro].inlineHelpText}">
                            <apex:outputLabel value="{!fcrro.Label}"/>
                            <apex:outputField value="{!taskRecord[fcrro.fieldPath]}"/>
                        </apex:pageblocksectionitem>
                    </apex:repeat>
                </apex:pageblocksection>
                
                
                <apex:pageblocksection title="Inventory Update Interaction" rendered="{!If(strReasonForCall=='Inventory Update',true,false)}" columns="1">
                    <apex:repeat value="{!$ObjectType.Task.FieldSets.FS_Task_Alt_Cont_Inventory_Update_Req}" var="fiureqro">
                        <apex:pageblocksectionitem helpText="{!$ObjectType.Task.fields[fiureqro].inlineHelpText}">
                            <apex:outputLabel value="{!fiureqro.Label}" rendered="{!!If(fiureqro.Label='DesiredPairExpText',true,false)}"/>
                            <apex:outputField value="{!taskRecord[fiureqro.fieldPath]}" rendered="{!!If(fiureqro.Label='DesiredPairExpText',true,false)}"/>
                        </apex:pageblocksectionitem>
                    </apex:repeat>
                    <apex:repeat value="{!$ObjectType.Task.FieldSets.FS_Task_Alt_Cont_Inventory_Update}" var="fiuro">
                        <apex:pageblocksectionitem helpText="{!$ObjectType.Task.fields[fiuro].inlineHelpText}">
                            <apex:outputLabel value="{!fiuro.Label}" rendered="{!!If(fiuro.Label='DesiredPairExpText',true,false)}"/>
                            <apex:outputField value="{!taskRecord[fiuro.fieldPath]}" rendered="{!!If(fiuro.Label='DesiredPairExpText',true,false)}"/>
                        </apex:pageblocksectionitem>
                    </apex:repeat>
                </apex:pageblocksection>
                
                
                <apex:pageblocksection title="Reporting Hazard Interaction" rendered="{!If(strReasonForCall=='Reporting Hazard',true,false)}">
                    <apex:repeat value="{!$ObjectType.Task.FieldSets.FS_Task_Alt_Cont_Reporting_Hazard_Req}" var="frhreqro">
                        <apex:pageblocksectionitem helpText="{!$ObjectType.Task.fields[frhreqro].inlineHelpText}">
                            <apex:outputLabel value="{!frhreqro.Label}"/>
                            <apex:outputField value="{!taskRecord[frhreqro.fieldPath]}"/>
                        </apex:pageblocksectionitem>
                    </apex:repeat>
                    <apex:repeat value="{!$ObjectType.Task.FieldSets.FS_Task_Alt_Cont_Reporting_Hazard}" var="frhro">
                        <apex:pageblocksectionitem helpText="{!$ObjectType.Task.fields[frhro].inlineHelpText}">
                            <apex:outputLabel value="{!frhro.Label}"/>
                            <apex:outputField value="{!taskRecord[frhro.fieldPath]}"/>
                        </apex:pageblocksectionitem>
                    </apex:repeat>
                </apex:pageblocksection>
                
                
                <apex:pageblocksection title="CIU Bypass Interaction" rendered="{!If(strReasonForCall=='CIU Bypass',true,false)}">
                    <apex:repeat value="{!$ObjectType.Task.FieldSets.FS_Task_Alt_Cont_CIU_Bypass_Req}" var="fcbreqro">
                        <apex:pageblocksectionitem helpText="{!$ObjectType.Task.fields[fcbreqro].inlineHelpText}">
                            <apex:outputLabel value="{!fcbreqro.Label}"/>
                            <apex:outputField value="{!taskRecord[fcbreqro.fieldPath]}"/>
                        </apex:pageblocksectionitem>
                    </apex:repeat>
                    <apex:repeat value="{!$ObjectType.Task.FieldSets.FS_Task_Alt_Cont_CIU_Bypass}" var="fcbro">
                        <apex:pageblocksectionitem helpText="{!$ObjectType.Task.fields[fcbro].inlineHelpText}">
                            <apex:outputLabel value="{!fcbro.Label}"/>
                            <apex:outputField value="{!taskRecord[fcbro.fieldPath]}"/>
                        </apex:pageblocksectionitem>
                    </apex:repeat>
                </apex:pageblocksection>
                
                
                <apex:outputPanel id="networkInventoryResponse" >
                <apex:pageblocksection title="Response" rendered="{!If(((strReasonForCall=='Inventory Update' || strReasonForCall=='Pair Swap') && strNetworkInventrySwapStatus !=null),true,false)}" columns="1">
                    <apex:repeat value="{!$ObjectType.Task.FieldSets.FS_Task_Alt_Cont_Swap_Succ}" var="fpsucc">
                        <apex:pageblocksectionitem helpText="{!$ObjectType.Task.fields[fpsucc].inlineHelpText}" rendered="{!If((strNetworkInventrySwapStatus == $Label.Success),true,false)}">
                            <apex:outputLabel value="{!fpsucc.Label}"/>
                             <apex:outputField value="{!taskRecord[fpsucc.fieldPath]}"/>
                        </apex:pageblocksectionitem>
                    </apex:repeat>
                    <apex:repeat value="{!$ObjectType.Task.FieldSets.FS_Task_Alt_Cont_Swap_Fail}" var="fpsfail">
                        <apex:pageblocksectionitem helpText="{!$ObjectType.Task.fields[fpsfail].inlineHelpText}" rendered="{!If((strNetworkInventrySwapStatus == $Label.Failure),true,false)}">
                            <apex:outputLabel value="{!fpsfail.Label}"/>
                            <apex:outputField value="{!taskRecord[fpsfail.fieldPath]}"/>
                       </apex:pageblocksectionitem>
                   </apex:repeat>
               </apex:pageblocksection>
            </apex:outputPanel>
            
            
            <apex:outputPanel id="networkTrial" >
                <apex:pageblocksection title="Network Trial"  rendered="{!If( (boolTrialSucc==true || boolTrialErr==true ),true,false)}"  columns="1">
                        <apex:pageblocksectionitem rendered="{!If(( boolTrialSucc==true ),true,false)}" >
                            <apex:outputText value="Trial"/>
                            <apex:outputText value="{!strTrial }" escape="false"/>
                        </apex:pageblocksectionitem>                    
                    <apex:repeat value="{!$ObjectType.Task.FieldSets.FS_Task_Alt_Cont_NetTrail_Fail}" var="fnfail">
                        <apex:pageblocksectionitem helpText="{!$ObjectType.Task.fields[fnfail].inlineHelpText}" rendered="{!If((boolTrialErr==true ),true,false)}" >
                            <apex:outputLabel value="{!fnfail.Label}"/>
                            <apex:outputField value="{!taskRecord[fnfail.fieldPath]}"/>
                       </apex:pageblocksectionitem>
                   </apex:repeat>
               </apex:pageblocksection> 
              </apex:outputPanel>               
                                
            <!--<apex:actionPoller action="{!getSwapStatus}" rerender="networkInventoryResponse" enabled="{!boolIsSwap}" interval="5"/>  
            <apex:actionPoller action="{!getNetTrailStat}" rerender="networkTrial"  enabled="{!boolIsTrial}" interval="5"/>    -->    
        </apex:pageBlock>
    </apex:form>
</apex:page>