/*added by RM*/
.THIS .sp-selected-icon  svg{
    display:none;
}
/*added by RM*/
.THIS .slds-icon_container.slds-icon-utility-down.sp-dropdown-icon {
    display: inline;
    border-radius: 0;
}

.THIS .slds-picklist .slds-picklist__label .sp-selected-icon .slds-icon {
    position: static;
    margin-top: -.05rem;
    margin-right: 0.5rem;
}

.THIS .slds-picklist .slds-picklist__input.sp-menu-button .slds-icon {
    pointer-events: none;
}

.THIS .slds-picklist .slds-dropdown.sp-dropdown-control {
    width: 100%;
    max-width: none;
    font-size: t(fontSizeTextSmall);
    top: initial;
    left: calc(100% + -240px);
    /*Added by RM for TEst Manager*/
}

.THIS .slds-button.slds-button--neutral.slds-picklist__label {
    width: 100%;
}

.THIS .slds-picklist.slds-dropdown-trigger {
    display: block;
}

.THIS .slds-picklist .slds-button,
.THIS .slds-picklist .slds-button:hover {
    font-size: t(fontSizeTextSmall);
    color: t(colorTextDefault);
}

.THIS .slds-picklist.sp-disabled .slds-button,
.THIS .slds-picklist.sp-disabled:hover .slds-button {
    cursor: not-allowed;
    background-color: t(colorBackgroundShade);
    border-color: t(colorBorderInpuDisabled);
}

.THIS.slds-has-error .slds-picklist.sp-disabled .slds-button,
.THIS.slds-has-error .slds-picklist.sp-disabled:hover .slds-button {
    background-color: t(colorBackgroundInput);
    border-color: t(colorBorderError);
}

.THIS .slds-picklist.sp-readonly .slds-button {
    pointer-events: none;
}

.THIS .slds-picklist.sp-disabled.sp-readonly .slds-button {
    pointer-events: all;
}

.THIS .slds-hide {
    display: none !important;
}

.THIS .sp-help-text-icon .slds-icon {
    fill: #9ea9b5;
}


/* --------------------------------------------------
Salesforce1 Styles
-------------------------------------------------- */

.THIS.sp-picklist--mobile .slds-picklist.slds-is-open .slds-dropdown.sp-dropdown-control {
    display: block;
    padding: 0;
    margin-top: 0;
    border-radius: 0;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    overflow: initial;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: t(zIndexOverlay);
    background: t(colorBackground);
    -webkit-overflow-scrolling: touch;
}

.THIS.sp-picklist--mobile .slds-picklist.slds-is-open .slds-dropdown .slds-dropdown__list {
    max-height: none;
    height: 100%;
    padding: 0;
    margin-bottom: 52px;
    position: relative;
    top: initial;
    border: none;
    background: t(colorBackground);
}

.THIS.sp-picklist--mobile .slds-picklist .slds-dropdown .slds-dropdown__list li {
    border-bottom: 1px solid t(colorBorder);
    padding: t(spacingXSmall);
}

.THIS.sp-picklist--mobile .slds-picklist .slds-dropdown .slds-dropdown__list .slds-lookup__item-action,
.THIS.sp-picklist--mobile .slds-picklist .slds-dropdown .slds-dropdown__list .slds-lookup__item-action--label,
.THIS.sp-picklist--mobile .slds-picklist .slds-dropdown .slds-dropdown__list .slds-text-title--caps {
    padding-left: t(spacingXSmall);
    padding-right: t(spacingXSmall);
}

.THIS.sp-picklist--mobile .slds-lookup__list {
    max-height: none;
    overflow: initial;
    overflow-x: initial;
    overflow-y: initial;
}

.THIS.sp-picklist--mobile .slds-picklist .slds-dropdown .sp-picklist__mobile-header {
    border-bottom: 1px solid t(colorBorder);
    padding: t(spacingXSmall);
}

.THIS.sp-picklist--mobile .slds-picklist .slds-dropdown .sp-picklist__mobile-header .slds-button {
    color: t(colorTextLink);
}

.THIS.sp-picklist--mobile .slds-picklist .slds-dropdown .sp-picklist__input .slds-form-element {
    margin: 0;
}

.THIS.sp-picklist--mobile .slds-picklist .slds-dropdown .sp-full-button_container .slds-button {
    width: 100%;
    text-align: center;
}