/**
 * Created by Gobind.Khurana on 18/05/2018.
 */

.THIS .slds-form--horizontal .slds-form-element__label:first-child {
    float: left;
    max-width: calc(33% - 1.25rem);
    flex-basis: calc(33% - 1.25rem);
    padding-top: .25rem;
    padding-right: .75rem;
    margin: 0;
    position: absolute;
    z-index: 1;
    margin-bottom: 5px;
}

.THIS .slds-form--horizontal .slds-form-element__control {
    padding-left: 75px;
    clear: none;
}

.THIS .slds-form-element__help {
    font-size: .75rem;
    margin-top: .125rem;
    display: block;
    margin-left: 33%;
}

.THIS .slds-truncate {
    white-space:pre-wrap;
}
.THIS .slds-cell-fixed {
    background-color:#2574a9;
    color:white;
}
.THIS .slds-th__action:hover {
    background-color:#2574a9;
    color:white;
}
.THIS .colorvalue {
    color:green;
}