@font-face {
  font-family: "FontAwesome";
  src: url("/resource/FontAwesome470/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("/resource/FontAwesome470/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("/resource/FontAwesome470/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("/resource/FontAwesome470/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("/resource/FontAwesome470/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("/resource/FontAwesome470/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Gotham Rounded Medium";
    src: url("/resource/FontGotham/Gotham_Rounded_Medium.otf");
}

@font-face {
    font-family: "Gotham Rounded Book";
    src: url("/resource/FontGotham/Gotham_Rounded_Book.otf");
}

.THIS {
    background-color: #333160;
    color: #FFFFFF;
    width: 100%;
    padding: 16px 20px 8px;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
}



.THIS .slds-card__header {
	margin: 0;
    padding: 0;
}

.THIS .incident-assignee-details-section {
    display: table;
    width: 100%;
    padding-top: 6px;
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
    font-size: 0.75rem;
}

.THIS .allowWrap{
    white-space:normal !important;
}

.THIS .incident-assignee-details-section > div {
    display: table-cell;
    vertical-align: middle;
}

.THIS .incident-assignee-details-section > div:first-child {
    padding: 1px 0;
}

.THIS .incident-assignee-icon > img {
    width: 100%;
}

.THIS .incident-team-icon {
    width: 48px;
}

.THIS .incident-assignee-name {
    font-size: 1.1rem;
    line-height: 1.25rem;
}

.THIS .incident-action {
    display: table;
    width: 100%;
}

.THIS .incident-action > div {
    display: table-cell;
}

.THIS .incident-action > div > img {
    width: 14px;
}

.THIS .incident-action-link {
    text-align: left;
    color: white;
}

.THIS .slds-button.slds-button.incident-action-link:disabled:hover {
    cursor: not-allowed;
}

.THIS .slds-button.slds-button.incident-action-link:disabled{
    color:gray !important;
    text-decoration:none !important;
}

.THIS img.disabled {
    filter: brightness(0.5);
}
.THIS img.disabled:hover {
    cursor: not-allowed;
}

.THIS .slds-card__body {
    padding: 0;
    margin: 0;
}

.THIS .slds-text-heading--small {
    font-size: 1.1rem;
}

.THIS .slds-button {
    /*color: white;*/
    text-decoration: underline;
    height: 3px;
}

.cIncidentManagementActionsComponent a.textcolor {
   color: white;
}