/**
 * Created by Gobind.Khurana on 21/05/2018.
 */
.THIS #label-attach-file{
    margin-right: 2px;
    margin-top: 5px;
}

.THIS #label-file-format{
    margin-left: 70px;
}

.THIS #file-help-text {
    margin-left: 65px;
}

.THIS #label-file-download{
    margin-left: 280px;
}

.THIS .slds-form--horizontal {
    padding-left: 100px;
}

.THIS .slds-input {
    background-color: rgb(255, 255, 255);
    color: rgb(105, 105, 105);
    font-size: 0.75rem;
    line-height: 1;
    padding: 4px 1rem 0px 0.75rem;
    margin-left: 65px;
}

.THIS #errorMessage {
    margin-left: 65px;
}

@media (max-width: 545px) {
	.THIS #label-file-format{
    	margin-left: 0px;
  	}
}