.cICTNavigationMenu.ictcommnavigation {
    min-height: 33px;
    color: #ffffff;
    background-color: #27214D;
}
.cICTNavigationMenu.navbar{
    min-height:auto !important;
}
.cICTNavigationMenu.navbar-fixed-top{
    position: relative !important;
    background-color: #27214D !important;
    z-index:0 !important;
}
.cICTNavigationMenu .navbar-inverse{
    background-color: #27214D !important;
    border-color: #27214D !important;
}
.cICTNavigationMenu .ictmenuitems{
	display: flex;
	-webkit-box-flex: 1;
    min-width: 0px;
    flex: 1 1 0%;
	list-style: none;
	margin: 0px;
    padding: 0px;
    color: #ffffff;
}

.cICTNavigationMenu .ictmenuitem{
	align-self: center;
	position: relative;
	display: list-item;
    text-align: -webkit-match-parent;
}

.cICTNavigationMenu .ictmenuitem a {
    font-weight: 400;
    font-size: .875rem;
    font-family: Arial;
    line-height: normal;
    padding: 8px 14px;
	border-radius: 0;
    white-space: nowrap;
	text-decoration: none;
	display: block;
    color: #ffffff !important;
}
.cICTNavigationMenu .ictmenuitem a:hover {
	text-decoration: none;
    background-color:rgba(255,255,255,.2) !important;
}
.cICTNavigationMenu .slds-truncate {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.cICTNavigationMenu .navbar-nav{
    margin-left:5.5%;
}
.cICTNavigationMenu .navbar-toggle{
	background-color: #27214D !important;
}
@media screen and (max-width: 768px) {
	.cICTNavigationMenu .side-collapse-container{
		width:100%;
		position:relative;
		left:0;
		transition:left .4s;
	}
	.cICTNavigationMenu .side-collapse-container.out{
		left:200px;
	}
	.cICTNavigationMenu .side-collapse {
		left:0;
		width:200px;
		position:fixed;
		overflow:hidden;
		transition:width .4s;
	}
	.cICTNavigationMenu .side-collapse.in {
		width:0;
	}
}