.THIS .slds-table thead th {
    vertical-align: top;
    background-color:#2574a9;
    color:#FFFFFF;
}

.THIS .slds-theme_shade {
    background-color: #2574a9;
}

.THIS .search-label {
    color: white;
}

.THIS .df-footer td {
    padding-top: 0;
}

.THIS .df-sortable {
    display: none;
}
.THIS .df-fittable {
    table-layout: fixed;
    width: 100%;
}
.THIS .df-fittable tr{
    height:3rem;
}
.THIS .slds-picklist__input {
    width: 25rem;
}