.THIS .media-body {
    width: 90% !important;
}
.THIS .titlePostion{
    float: left;
    padding: 10px;
}
.THIS .titleAlignment{
    text-align: center;
}
.THIS .media-left{
    padding-right:0px !important;
}