.THIS {
    background-color:#9cd8f6;
    border-top-color:20px #d5e7b3;
    border-bottom:20px solid #d5e7b3;
    background-repeat: no-repeat;
    background-position: 50px 38px;
}

.THIS .figure {
    margin-top: 15px !important;
    margin-left: 20px !important;
    margin-bottom: -10px !important;
}

.THIS .welcomeheader {
    color: #16316D;
    font-size: 24pt;
    margin-top: 20px;
    margin-bottom: 0px;
    min-width: 207px;
}

.THIS .Buttonbrand {
    
    border-color: #00A4E5;
    color: #16316D;   
    width:120px;
}


.THIS .hover {
    background-color: #00A4E5;
    border-color: #00A4E5;
}

.THIS .buttonactive {
    background-color: #16316D;
    border-color: #16316D;
}

.THIS .bodyregular {
    margin-top: 38px;
    margin-left: 115px;
    color: #16316D;   
    font-size:14px;
}

.THIS .welcomeCell {
    margin-left: 40px;
    margin-bottom: 27px;
}

.THIS .button
{
    color: #0070BA ;
	background-color: #ffffff;
    width: 180px;
    border: 1px solid #0070BA;
    font-size: .8125rem ;
    margin-top:32px;
}


.THIS .button:hover, .THIS .button:focus
{
    background-color: #00AEEF;	
    color: #ffffff;
    border: 1px solid #00AEEF;
}


.THIS .button:active
{
    background-color: #0C528E;	
    color: #ffffff;
    border: 1px solid #0C528E;	
}


.THIS .button:visited
{
    color: #0070BA ;
	background-color: #ffffff;    
    border: 1px solid #0070BA;

}