.THIS.container h2{
    background-color: #ddebc1;
    color: #031a47;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
}

.THIS.container h3{
    background-color: #fff;
    color: #031a47;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
}

.THIS.container.cObjectsListByQueue{
    width: 100%;
   
    margin-top: 1px;
    padding-bottom: 1px;
    background-color: white;
}

.THIS.container.cObjectsListByQueue lightning-datatable > div {
    overflow: visible;
}

.THIS .IncidentHyperLink > button{
    text-decoration: underline;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.THIS .fontBold{
    font-weight: bold;
}
.THIS .labelWidth{
    width:85%;
}