.cCustomerBusinessDetails  .panel-heading {
    background-color: white !important;
    border-color: #777 !important;
    color: black !important;
}

.cCustomerBusinessDetails .help-none-error{    
    display: none;
}

.cCustomerBusinessDetails .selectlistHeight{
    height: 45px;
}

.cCustomerBusinessDetails .errorSpan{
    color: red;
    visibility: hidden
}

.cCustomerBusinessDetails .field-tip {
    position:relative;
    cursor:help;
}

.cCustomerBusinessDetails .field-tip .tip-content {
    position:absolute;
    z-index: 1;
    top:-10px; /* - top padding */
    right:9999px;
    width:300px;
    margin-right:-300px; /* width + left/right padding */
    padding:10px;
    color:#fff;
    /*background:#26234c;*/
     /*background: rgb(71,85,96);*/
    background: #002659;
    -webkit-box-shadow:2px 2px 5px #aaa;
    -moz-box-shadow:2px 2px 5px #aaa;
    box-shadow:2px 2px 5px #aaa;
    opacity:0;
    -webkit-transition:opacity 250ms ease-out;
    -moz-transition:opacity 250ms ease-out;
    -ms-transition:opacity 250ms ease-out;
    -o-transition:opacity 250ms ease-out;
    transition:opacity 250ms ease-out;
}

/* <http://css-tricks.com/snippets/css/css-triangle/> */
.cCustomerBusinessDetails  .field-tip .tip-content:before {
    content:' '; /* Must have content to display */
    position:absolute;
    top:45%;
    left:-16px; /* 2 x border width */
    width:0;
    height:0;
    margin-top:-8px; /* - border width */
    border:8px solid transparent;
    /* border-bottom-color:#26234c; */
}

.cCustomerBusinessDetails .field-tip:hover .tip-content {
    right:-20px;
    opacity:1;
}