.THIS .df-heading {
    color: t(dfColorTextHeading);
    font-weight: t(dfFontWeightBold);
}

.THIS.df-box {
    background-color: t(dfBoxColorBackground);
}

.THIS .df-label {
    font-weight: t(dfFontWeightBold);
}