.cPitPipeAndPathwaysDetails .help-none-error{    
    display: none;
}

.cPitPipeAndPathwaysDetails .field-tip {
    position:relative;
    cursor:help;
}

.cPitPipeAndPathwaysDetails .field-tip .tip-content {
    position:absolute;
    z-index: 1;
    top:-10px; /* - top padding */
    right:9999px;
    width:300px;
    margin-right:-300px; /* width + left/right padding */
    padding:10px;
    color:#fff;
    background:#26234c;
    -webkit-box-shadow:2px 2px 5px #aaa;
    -moz-box-shadow:2px 2px 5px #aaa;
    box-shadow:2px 2px 5px #aaa;
    opacity:0;
    -webkit-transition:opacity 250ms ease-out;
    -moz-transition:opacity 250ms ease-out;
    -ms-transition:opacity 250ms ease-out;
    -o-transition:opacity 250ms ease-out;
    transition:opacity 250ms ease-out;
}

/* <http://css-tricks.com/snippets/css/css-triangle/> */
.cPitPipeAndPathwaysDetails  .field-tip .tip-content:before {
    content:' '; /* Must have content to display */
    position:absolute;
    top:45%;
    left:-16px; /* 2 x border width */
    width:0;
    height:0;
    margin-top:-8px; /* - border width */
    border:8px solid transparent;
}

.cPitPipeAndPathwaysDetails .field-tip:hover .tip-content {
    right:-20px;
    opacity:1;
}

.cPitPipeAndPathwaysDetails .customA{
    color: white
}