/* Actions Icon styles (START) */
.THIS {
    color:#000000;
    z-index:9;
}
.THIS .oppacityText {
    opacity:0.5 !important;
}
.THIS img.disabled {
    filter: brightness(0.5);
}
.THIS img.disabled:hover {
    cursor: not-allowed;
}
.THIS .bckcolor {
    background-color: rgb(243, 242, 242);
}
.THIS button.testclass:hover {
    background-color:#9FC74C !important;
    color: #005031 !important;
    font-weight:bold;
}
/* Actions Icon styles (END) */
/* Actions Link  styles (START) */
.THIS .slds-button.slds-button.actionLink
{
    color:#ffffff !important;
    text-decoration:underline !important;
}
.THIS .reqInfo
{
    line-height: 1.275rem !important;
    text-align: left !important; 
}
.THIS .slds-button.slds-button.actionLink:disabled:hover {
    cursor: not-allowed;
}
.THIS .slds-button.slds-button.actionLink:disabled{
    color:gray !important;
    text-decoration:none !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:link
{
    color:#ffffff !important;
    text-decoration:underline !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:hover
{
    color:#FFC841 !important;
    text-decoration:none !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:focus
{
    color:#FFC841 !important;
    text-decoration:none !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:visited
{
    color:#ffffff  !important;
    text-decoration:underline !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:active
{
    color:#00AEEF !important;
    text-decoration:none !important;
}
/* Actions Link styles (END) */
.THIS .actionLinkItemContainer
{
    padding-top:7px;
}
/* Overriding display propoerty of label to make it avoid unnecessary space */
.THIS .slds-form-element__label {
    display:none ;
    visibility:hidden;
}
.THIS .slds-textarea
{
    height: 100px;	    
    font: normal normal 13px/30px  'Gotham Rounded Book',sans-serif,Arial  !important;
}
/* Overriding radio button and label CSS (START) */
.THIS .slds-button.minimizeCloseIcons.slds-button--icon-x-small.slds-button--icon-border
{
    height: 20px !important;	
}
.THIS .slds-radio_button [type=radio]+.slds-radio_button__label
{
    background-color: white;
    color:#0C528E !important;  
}
.THIS .slds-button {
    color: inherit !important;
    text-decoration: inherit !important;
    height: inherit !important;
}
.THIS .slds-radio_button [type=radio]:checked+.slds-radio_button__label
{
    background-color: #0C528E !important;
    color:white !important;
}
.THIS .slds-radio_button [type=radio]:hover+.slds-radio_button__label
{
    background-color: #00AEEF !important;
    color:white !important;
}
/* Overriding radio button and label CSS (END) */
.THIS .leftPaddingOnlyForFormElements
{
    padding-right:0.75rem;
}
/* Affirmative button Styling (START) */
.THIS .btnAffirmative
{
    background-color:#9FC74C !important;
    color: #005031 !important;
    font-weight:bold;
}
.THIS .btnAffirmative:focus
{
    background-color:#9FC74C !important;
    color: #005031 !important;
    font-weight:bold;
}
.THIS .btnAffirmative:visited
{
    background-color:#9FC74C !important;
    color: #005031 !important;
    font-weight:bold;
}
.THIS .btnAffirmative:hover
{
    background-color:#B3DB60 !important;
    color: #005031 !important;
    font-weight:bold;
}
.THIS .btnAffirmative:active
{
    background-color:#BDE56A !important;
    color: #005031 !important;
    font-weight:bold;
}
/* Affirmative button Styling (END) */
/* Negative button Styling (START) */
.THIS .btnNegative
{
    background-color:#D82F2A  !important;
    color: #ffffff !important;
    font-weight:bold;
}
.THIS .btnNegative:focus
{
    background-color:#D82F2A  !important;
    color: #ffffff !important;
    font-weight:bold;
}
.THIS .btnNegative:visited
{
    background-color:#D82F2A  !important;
    color: #ffffff !important;
    font-weight:bold;
}
.THIS .btnNegative:hover
{
    background-color:#EC433F !important;
    color: #ffffff !important;
    font-weight:bold;
}
.THIS .btnNegative:active
{
    background-color:#F64D49 !important;
    color: #ffffff !important;
    font-weight:bold;
}
/* Negative button Styling (END) */
/* Disabled button Styling (START) */
.THIS .btnDisabled
{   
    background-color:#dcdcdc !important;
    color: #585862 !important;
    cursor:not-allowed !important;
    font-weight:bold;
}
.THIS .btnDisabled:focus
{
    background-color:#D2D2D2 !important;
    color: #585862 !important;
    cursor:not-allowed !important;
    font-weight:bold;
}
.THIS .btnDisabled:visited
{
    background-color:#dcdcdc !important;
    color: #585862 !important;
    font-weight:bold !important;
    cursor:not-allowed;
}
.THIS .btnDisabled:hover
{
    background-color:#D2D2D2 !important;
    color: #585862 !important;
    cursor:not-allowed !important;
    font-weight:bold;
}
.THIS .btnDisabled:active
{
    background-color:#dcdcdc !important;
    color: #585862 !important;
    cursor:not-allowed !important;
    font-weight:bold;
}
/* Disabled button Styling (END) */
/* Cancel button Styling (START) */
.THIS .btnCancel
{
    background-color:#FFFFFF !important;
    color: #585862 !important;
    font-weight:bold;
}
.THIS .btnCancel:focus
{
    background-color:#DCDCDC !important;
    color: #585862 !important;
    font-weight:bold;
}
.THIS .btnCancel:visited
{
    background-color:#FFFFFF !important;
    color: #585862 !important;
    font-weight:bold;
}
.THIS .btnCancel:hover
{
    background-color:#DCDCDC !important;
    color: #585862 !important;
    font-weight:bold;
}
.THIS .btnCancel:active
{
    background-color:#D2D2D2 !important;
    color: #585862 !important;
    font-weight:bold;
}
/* Cancel button Styling (END) */
.THIS .textAreaContainer
{
    height:120px;
}
.THIS .footerButtons
{
    text-align:right;
}
.THIS .headerIcon
{
    width:15px;
}
.THIS .slds-theme_shade {
    padding-top : 5px;
    padding-left : 5px;
    color:#54698D;
    background-color : #F4F6F9;
    border: 1px solid #e3e5ed;
}
.THIS .characterCount
{
    font: normal normal 10px/20px  'Gotham Rounded Book',sans-serif,Arial  !important;    
}
.THIS .mainContainer
{
    font-family: "Salesforce Sans", Arial, sans-serif;
    color:#54698D;
    height: 600px;
    min-width: 615px;
    overflow-x: auto;
    z-index:9;
    position: absolute;
}
.THIS .modalDialogConfirmation
{
    height: 640px;
    position: absolute;
}
.THIS .slds-docked-composer.slds-is-open{
    height: 318px !important;
    padding-bottom: 310px !important;
}
.THIS .dockcomposerheader {
    background-color: #F4F6F9;
}
.THIS .btncolor{
    color:white !important;
}
.THIS .slds-modal__container {
    margin: 0 auto;
    width: 30%;
    max-width: 40rem;
    min-width: 20rem;
}
.THIS .slds-icon-text-default
{
    fill: rgb(180, 180, 180);
}