.THIS .slds-table thead th {
    vertical-align: top;
    background-color: #2574a9;
    color: #FFFFFF;
}

.THIS .slds-picklist__input {
    width: 18rem;
}

.THIS .containerwidth {
    width: 103%;
}

.THIS .paddingSearchPane {
    padding-right: 0px;
}

.THIS .tableborder {
    background-color: #2574a9;
}

.THIS .dfbold {
    color: #2574a9;
    font-weight: bold;
    padding-left: 5px;
    
}

.THIS .backgroundcolorvalue {
    background-color: #E3ECF8;
}

.THIS .tableborder {
    background-color: #2574a9;
}

.THIS .df-footer td {
    padding-top: 0;
    padding-left: 0;
    background-color: #E3ECF8;
}

.THIS .df-search-container {
    width: 100%
}

.THIS .slds-th__action:focus, .THIS .slds-th__action:hover {
    background-color: #2574a9;
    color: WHITE
}

.THIS .slds-table th .slds-icon.slds-icon-text-default {
    fill: WHITE !important;
    margin-bottom: 3px
}