.THIS .df-as-event-table-tooltips .slds-button.slds-button_icon {
    top: t(borderWidthThin);
    padding-bottom: t(spacingXxSmall);
}

.THIS .cDF_SF_Footer td:first-child {
    padding-left: 0;
}

.THIS .df-no-result {
    color: RED;
}

.THIS .slds-table thead th {
    vertical-align: top;
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
    font-weight: 400;    
}

.THIS .df-event-table.slds-table thead th {   
    padding: 0 0 0 0;
}

.THIS .slds-th__action:focus, .THIS .slds-th__action:hover {
    background-color: t(dfColorBackground);
    color: WHITE;
}

.THIS .slds-table th .slds-icon.slds-icon-text-default {
    fill: WHITE !important;
    margin-bottom: 3px;
}

.THIS th.slds-text-title_caps {
    text-transform: none;
    font-size: 0.8125rem;
}