.THIS .richtext ul>li {
    text-indent: 1em;
}
  
  
  
.THIS h2.slds-text-body--small.slds-float--left.slds-p-top--x-small.header {
    font-size: 100 px;   
}


.THIS .slds-button{
    font-size: 2rem;
}



.THIS .getting-started{
	margin-bottom:30px;
}
 
.THIS li span{
	position: relative; 
    left: -18px;
}

.THIS ul{
    margin-left:0;
    padding-left:0;
}

.THIS .has-error li.form-element__help{
    font-size:16px;
}

.THIS .checkboxone{
    display: inline-block;
    float: left;
    height: 15px;
    width: 15px;
    margin-right : 10px;
    
}

.THIS .h1{
    font-family: "Gotham Rounded SSm 5r","Gotham Rounded SSm A","Gotham Rounded SSm B",Sans-Serif;
    font-weight: 500;
    line-height: 1.1;
    color: #26234c;
}

.THIS .h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.THIS .btn {
    font-family: "Gotham Rounded SSm 5r","Gotham Rounded SSm A","Gotham Rounded SSm B",Sans-Serif;
    min-width: 186px;
    padding-left: 24px;
    padding-right: 24px;
    letter-spacing: -0.01em;
    white-space: normal;
}


.THIS .p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


.THIS .btn-default {
    color: #585862;
    background-color: #fff;
    border-color : black;
}
.THIS .btn-primary {
    color: #fff;
    background-color: #0f5c9e;
    border-color: #0d4e87;
}

.THIS .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.THIS .label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.THIS .modal-container .slds-modal__container{
    background : red;
}

.THIS .customrow{
    min-height: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    display: block;
    
}