.THIS .notificationStyle{
    background-color: #fff;
    color: #e61200;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 0px 5px;
}
.THIS .col-lg-6{
    width: 100% !important;
}
.THIS .pullout-paper{
    margin-bottom: 0px !important;
}