/**
 * Created by philipstafford-jones on 22/11/18.
 */
.THIS {
}

.THIS.error-box {
    border-width: 1px;
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
    border-style: solid;
    border-radius: 5px;
    padding: 3px;
}
.THIS.error-text {
    color: rgb(194, 57, 52);
    font-size: 0.75rem;
    margin-top: 0.125rem;
    display: block;
}
.THIS.hide {
    display: none;
}