/*NS Order*/
.THIS .df-label {
    font-weight: t(dfFontWeightBold);
}

.THIS .slds-badge {
    background-color: t(dfColorBackgroundBadge);
    color: t(dfColorTextInverse);
    font-weight: t(dfFontWeightExtraBold);
    font-size: t(dfFontSizeBadge);    
}