.THIS {
    text-align: center;
}

.THIS > p {
    font-size: 14px;
    color: #CCCCCC;
    margin: 4px 0;
}

.THIS .customContainer{
    max-width: 50%;
    
}
.THIS Button{
    white-space: nowrap;
    display:inline-block;
    float: left;
    padding: 6px 110px 6px 110px;
    text-align: center;    
    
    cursor: pointer;   
}
.THIS .customLabel{
    padding-left: 64px;
}
.THIS .customSpan{
    text-align: left;
}
.THIS .slds-form-element__label{
    font-size: 10px;
}
.THIS .customTd{
    min-width: 50px;
}