.THIS .df-read-only-value {
    padding-left: t(spacingXxSmall);
    padding-bottom: t(spacingXSmall);
}

.THIS .slds-select_container {
    width: auto;
    min-width: t(dfSelectMinWidth);
}

.THIS .df-disabled-select .slds-select_container:before, .THIS .df-disabled-select .slds-select_container:after {
    display:none;
}

.THIS .slds-table thead th {
    vertical-align: top;    
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);    
}

.THIS .df-center-left-aligned {
    width: 160px;
    text-align: left;
}

    .THIS .df-center-left-aligned .slds-form-element__control {
        width: 150px;
    }


.THIS .df-right-form-element {
    padding-left: t(dfFormElementPaddingLeft);
    padding-bottom: t(spacingMedium);
}

.THIS .df-left-form-element {
    padding-left: t(dfFormElementPaddingLeft);
    padding-bottom: t(spacingMedium);
}

.THIS .slds-modal__container .slds-text-heading--small {
    line-height: 1;
    font-weight: t(dfFontWeightBold);
}

.THIS.slds-modal {
    z-index: 5001;
}

.THIS.slds-backdrop {
    z-index: 5000;
}

.THIS.slds-box {
    -webkit-box-shadow: t(dfBoxShadow);
    -moz-box-shadow: t(dfBoxShadow);
    box-shadow: t(dfBoxShadow);
}

.THIS .slds-badge {
    background-color: t(dfColorBackgroundBadge);
    color: t(dfColorTextInverse);
    font-weight: t(dfFontWeightExtraBold);
    font-size: t(dfFontSizeBadge);    
}

.THIS .df-complete {
    color: t(dfColorTextStatusComplete);
}

.THIS .df-incomplete {
    color: t(dfColorTextStatusIncomplete);
}

.THIS center .slds-notify--alert {
    padding-right: 0.5rem;
}

@media (max-width: 48em) {

    .THIS .df-right-form-element, .THIS .df-left-form-element {
        padding-left: t(spacingSmall);
        padding-right: t(spacingSmall);
    }

}

@media (min-width: 48em) {

    .THIS .slds-modal__container {
        width: 80%;
    }

}

.THIS .label-hidden > label {
    display: none;
}