.THIS  #topdiv {
    height:	40px;
}
.THIS  #topdiv2 {
    height:	10px;
}
.THIS  #error {
    text-align: left;
    color:#FF0000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:	68%;
    /*height:	130px;*/
}
.THIS  #errortext{
    border: 0.5px solid grey;
    padding-top:10px;
	padding-bottom:0px;
    padding-left:10px;
    padding-right:10px;
}
.THIS  #registration {
    /*text-align: center;*/
    color:#FF0000;
    margin:	auto;
    width:	70%;
}
.THIS  #loginForm {
    text-align: center;
    color:#FF0000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:	30%;
}
.THIS #img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.THIS .leftdiv {
  float: left;
  width: 45%;
  padding: 10px;
}
.THIS .rightdiv {
  float: right;
  width: 45%;
  padding: 10px;
}
.THIS .centerdiv {
  margin: auto;
  width: 25%;
  padding: 10px;
}
.THIS #password_format{
    color:#26234c;
    padding-top:5px;
}
.THIS .sfdc {
    font-size:	12px;
}
.THIS #titlediv {
    font-weight:	bold;
    text-align:	center;
    color:	#475560;
}
.THIS #sfdc_forgot{
    font-weight:bold;
    font-size: 12px;
    margin-top: 10px
}

.THIS  .buttondiv {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #fff;
    /*background-color: #0070d2;/
    background-color: #2574a9;*/
    border-color: #357ebd;
    display: inline-block;
    text-align: left;
    vertical-align: left;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0px 0px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}