.THIS .contactRoleSelect {
    height : 45px !important;
    font-size: initial !important;
}

.THIS .contactRoleSelect option {
    font-size: initial !important;
}

.THIS li{
    list-style-type: none;
    margin-bottom : 15px !important;
}

.THIS .required {
    float: left;
    padding-left: 2px;
    color: rgb(194, 57, 52);
    font-weight: 700;
}

.THIS .not-required {
    display: none;
}

.THIS .help-none-error{    
    display: none;
}
.THIS .form-control{
    background-color:#fff !important;
}