.THIS .slds-table thead th {
    vertical-align: top;
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
}

.THIS .search-label {
    color: white;
}

.THIS .df-no-result {
    color: red;
}

.THIS .df-footer td {
    padding-top: 0;
}

.THIS .df-sortable {
    display: none;
}

.THIS .slds-box {
    -webkit-box-shadow: t(dfBoxShadow);
    -moz-box-shadow: t(dfBoxShadow);
    box-shadow: t(dfBoxShadow);
    background-color: t(dfBoxColorBackground);
    min-width:1116px;
}

.THIS .df-label-search {
    font-weight: t(dfFontWeightBold);
    margin-top: 0.4rem;
}

.THIS .df-label {
    font-weight: t(dfFontWeightBold);
}

.THIS.df-box {
    background-color: t(dfBoxColorBackground);
}

.THIS .df-heading {
    color: t(dfColorTextHeading);
    font-weight: t(dfFontWeightBold);
}

.THIS .df-date label {
    display: none;
}

/*
.THIS .uiInputDate {
    max-width: 150px;
}
*/

.THIS .slds-select_container {
    min-width: 150px;
}

.THIS .df-shift-left {
    margin-left: -200px;
}

.THIS .slds-form-element__control.df-search {
    min-width: 300px;
}

.THIS.slds-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-right: 50px;
}

@media (min-width: 1025px) { 
    .THIS .df-shift-left {
        margin-left: -50px;
    }
}

@media (min-width: 481px) and (max-width: 1023px) {
    .THIS .df-label-search.slds-text-align--right {
        text-align: left;
    }

    .THIS .df-label-search {
        margin-top: 0;
    }

    .THIS .df-shift-left {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .THIS .df-label-search.slds-text-align--right {
        text-align: left;
    }
    
    .THIS .df-shift-left {
        margin-left: 0;
    }

    .THIS .df-footer .slds-float--right {
        float: left;
    }
}