/**
 * Created by philipstafford-jones on 28/11/18.
 */
.THIS {
}
.THIS.NE_Section_Heading {
    padding-left: 50px;
    margin-left: 50px;
}

.THIS table {
    word-break: break-word;
    table-layout: fixed;
    width: 100%;
}