/**
 * Created by Dheeraj.Mandavilli on 19/06/2018.
 */
/*.THIS .slds-form--horizontal {*/
    /*padding-left: 100px;*/
/*}*/

.THIS .slds-form-element__row div:first-child {
    margin-bottom: 8px;
}

/*.THIS .slds-form-element__help {*/
    /*margin-left: 0%;*/
/*}*/