.THIS .outerContainer{
    padding:10px 5px;
}
.THIS .userSelect{
    display:inline-block !important;
    float: left;
    padding-right: 10px;
}
.THIS .userButton{
    margin-top: 15px;
    float:right;
}
.THIS .optextStyle{
    font-weight: bold;
}
.THIS .errorStyle{
    color:red;
    clear:both;
}