.THIS .inProgressContainer{
    font-size: 16px;
    color: #0c528e;
    font-weight: 800;
}

.THIS .RRCodes{
    font-weight : 600;
    font-size : 14px;
}
.THIS .resultHeaderText {
    font-size: 12px;
    color: #0c528e;
    font-weight: 500;
}


.THIS .InProgressTestDetailTable {
    font-size: 12px;
    font-weight: 100
}

.THIS .InProgressTestDetailTable tr {
    line-height: 25px;
}

.THIS .InProgressTestDetailTable tr:nth-child(1){
    border-top: 1px solid #efefef;
}
.THIS .InProgressTestDetailTable tr:hover {
    background: #f1f4f7;
}

.THIS .InProgressTestDetailTable td:nth-child(1) {
    color: #0c528e;
}

.THIS .InProgressTestDetailTable td:nth-child(2) {
    color: black;
}

.THIS .InProgressTestDetailTable th {
    font-size: 14px;
    vertical-align: middle;
    color: #0c528e;
    font-weight: bold;
    height:40px;
}
/*********************************************************/

.THIS .testDetailTable {
    font-size: 12px;
    font-weight: 100
}

.THIS .testDetailTable tr {
    border-bottom: 1px solid #efefef;
    line-height: 25px;
}

.THIS .testDetailTable tr:hover {
    background: #f1f4f7;
}

.THIS .testDetailTable td:nth-child(1) {
    color: #67666c;
}

.THIS .testDetailTable td:nth-child(2) {
    color: black;
}

.THIS .testDetailTable th {
    background: #f1f4f7;
    font-size: 14px;
    vertical-align: middle;
    color: #0c528e;
    font-weight: bold;
    height:40px;
}
.cJIGSAW_TestManagerAtomicContainer .resultSection {
    background: #f1f4f7;
}

.THIS .Passed {
    color: #9fc74c;
    font-weight: 800;
    font-size: 14px;
}

.THIS .Failed {
    color: #d82f2a;
    font-weight: 800;
    font-size: 14px;
}

.THIS .inProgress {
    color: #0c528e;
    font-weight: 800;
    font-size: 14px;
}


.THIS .bullets {
    list-style: outside;
    font-weight: 600;
    font-size: 14px;
    margin-left: 1rem;
    max-width: 42rem;
    word-wrap: break-word;
}

.THIS .lineSeparator {
    border-top: 1px solid #ced5e1;
}

.THIS .leftAlighnText {
    text-align: left;
}

.THIS .atomicTestexpandButton {
    width: 100%;
    border-top: 1px solid #efefef;
    min-height: 40px;
}

.THIS .atomicTestexpandButton svg {
    fill: #0c528e;
}

.THIS .atomicTestexpandButton:hover {
    background: #f1f4f7;
}

.THIS .atomicTestexpandButton:focus {
    box-shadow: none;
}

.THIS .rightAlignText {
    color: #67666c;
    font-size: 12px;
}

.THIS .collapseHeader {
    font-size: 14px;
    color: #0c528e;
    font-weight: 800;
}