.THIS {
    border-top: 1px solid #dddddd;
    padding : 0.1rem;
    margin-top: 0.4rem;
}
.THIS .right-caret svg{
    fill: #115a91;
    width: .7rem;
    height: .7rem;
    margin-right: .2rem;
    white-space : pre;
}
.THIS.emptyDiv {
    color: #115a91;
    font-weight: normal;
    font-size: .675rem;
    text-decoration: underline;
    min-height : 23.52px;
}
.THIS a{
    color: #115a91;
    font-weight: normal;
    font-size: .675rem;
    text-decoration: underline;
}