.THIS .slds-form-element__label {
    font-size:.8125rem !important; 
}
.THIS .ictPortalLabelCSS{
    width:100%;
}
.THIS .titleCSS{
    font-size: 16px;
}
.THIS .button-space{
    margin-left:10px;
}
.THIS .slds-form-element__label{
    display:none !important;
}
.THIS .form-group label {
    font-size: 16px;
}
.THIS .help-none-error{    
    display: none;
}
.THIS .showFullMessage{
    width:100% !important;
}
.THIS .infoTitle{
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 15px;
}
.THIS .custompanel-body{
    padding:5px 15px 15px 15px !important;
}
/* Create two equal columns that floats next to each other */
.THIS .column {
    float: left;
    width: 50%;
    padding: 10px;
    /*height: 300px;  Should be removed. Only for demonstration */
}

.THIS .col-md-6{
    padding:0px;
}

.THIS .sumitButtonPanel {
    padding-top: 20px;
}

.THIS .row {
    margin-top:20px;
}

.THIS .btnICT{
    min-width:120px !important;
    padding:7px !important;
}

.THIS .collapsible-control-title {
    font-size:16px;
}

.THIS .well-responsive-no-border {
    background: white;
    border: none ;
}
.THIS .button-width {
    width : 222.09px;
}
.THIS .subTitleClass{
    font-size:11px;
}

.THIS select[disabled] {
    color:#aaa !important;
}