.THIS a.btn{pointer-events:none}
.THIS .btn{display:inline-block;margin-bottom:0;font-weight:500;text-align:center;vertical-align:middle;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:10px 12px;font-size:16px;line-height:1.42857;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.THIS .btn-default{color:#585862;background-color:#fff;border-color:#585862} 
.THIS .btn:focus,
.THIS .btn.focus,
.THIS .btn:active:focus,
.THIS .btn:active.focus,
.THIS .btn.active:focus,
.THIS .btn.active.focus{ 
    outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px
}
.THIS .btn:hover,
.THIS .btn:focus,
.THIS .btn.focus{color:#585862;text-decoration:none}
.THIS .btn:active,
.THIS .btn.active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)}
.THIS .btn.disabled,
.THIS .btn[disabled],
.THIS fieldset[disabled] 
.THIS .btn{cursor:not-allowed;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none}