.THIS {
}

.THIS body{
    width:100%;
}


.THIS .layout{
    width:100%;
    background-color: #F5FAFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 5px ;
    padding:8px;
    margin-bottom:10px;
}

.THIS .layout
{
    min-height:100px;;
}


.THIS .costColumn{
    width:40%;
    margin-top:15px;
}

.THIS .tinyTopMargin{    
    margin-top:5px;
}

.THIS .costOuterGrid{
    width:100%;
}
.THIS .costLabel{
    font-weight:bold !important;    
}