/* Error Handler CSS */
.THIS {
    
}
.THIS .errorCmp {
    background-color: #155a91!important;
    text-align: left;
    /*padding-left: 21px;*/
    padding-bottom: 21px;
    width: 75px;
}
.THIS .errorSection {
    display: table-row;
    line-height: 1.5rem;
    text-align: left;
}
.THIS .errorHeader {
    margin: auto;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: left;
    /*padding-left: 21px;*/
}
.THIS .errorCmpName {
    margin: auto;
    font-size: 1.0rem;
    text-align: left;
    /*padding-left: 21px;*/
}
.THIS .errorDetails {
    /*padding-left: 21px;*/
    font-weight: 500;
    font-size: .8rem;
    color: white;
    text-align: left;
}