.THIS .power-blackout-section-cell.label-and-image{
    vertical-align:middle; 
}

.THIS .confirmation{
    margin-top:120px;
}

.THIS .well-margin{
    margin-top:90px;
}
.THIS.RadioButtonCss{
    padding-left:5px;
}

.THIS fieldset{
    border: transparent;
    padding: 0 0 0 0;
}

.THIS fieldset legend{
    font-size: 18px;
    margin-bottom: 5px;
}

.THIS .blackoutIcon{
    float:left;
}

.THIS .contactItem{
    margin-top:10px;
}

.THIS .power-blackout-section-cell{
    display:table-cell;
}

.THIS .power-blackout-inner-cell{
    display:table-cell;
}

.THIS .power-blackout-inner-table{
    display:table;
}

.THIS .row.conditions{
    font-size: 8pt;
    margin-top: 30px;
}

.THIS .power-blackout-inner-cell.power-blackout-label{
    vertical-align: middle;
    padding-left: 8px;
    padding-right: 20px;
    color:black;
}

.THIS .errorMSG{
    color:#db0606;
}

.THIS .statusClass{
    font-size:14px;
    color:black;
}

.THIS .SummaryIconFomrat{
    font-size:24px;
}

.THIS .has-error li.form-element__help{
    font-size:16px;
}

.THIS .richtext ul>li {
    text-indent: 1em;
}

.THIS .getting-started{
	margin-bottom:30px;
}

.THIS li span{
	position: relative; 
    left: -18px;
}

.THIS ul{
    margin-left:0;
    padding-left:0;
}

.THIS .contact-us-item{
    margin-left:0;
    padding-left:0;
}

.THIS .richtext ul>li::before{
    margin-right: 0.9em;
    font-family:fontcustom;
    content:"";
    opacity:0.6;
}

.THIS h1{
	font-family:'Gotham Rounded SSm 5r', 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', Sans-Serif;font-weight:500;
	font-style:normal;
	color:#26234c;
	font-size:20px;
	margin-top:10px;
	margin-bottom:10px;
	line-height:1.1
}

.THIS h2{
	font-family:'Gotham Rounded SSm 5r', 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', Sans-Serif;
	font-weight:500;
	font-style:normal;
	color:#26234c;
	font-size:18px;
	margin-top:10px;
	margin-bottom:10px;
	line-height:1.1
}

.THIS h3{
	font-family:'Gotham Rounded SSm 5r', 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', Sans-Serif;
	font-weight:500;
	font-style:normal;
	color:#26234c;
	font-size:14px;
	margin-top:10px;
	margin-bottom:10px;
	line-height:1.1
}

.THIS .testfocusCheckboxCss{
    border-color:blue;
}

@media (min-width: 768px) {
	 .THIS h1{font-size:26px}
	 .THIS h2{font-size:22px}
	 .THIS h3{font-size:16px}
}