.cNewDevPortalLandingPage .tableborder{
    border-bottom: 1px solid #ddd;
}

.cNewDevPortalLandingPage .truncate{
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}