.THIS #label-attach-file{
    margin-top: 5px;
    margin-left: 120px;
}

.THIS #label-file-format{
    margin-left: 190px;
}

.THIS .slds-input {
    background-color: rgb(255, 255, 255);
    color: rgb(105, 105, 105);
    font-size: 0.75rem;    
    line-height: 1;        
    padding: 4px 1rem 0px 0.75rem;
}

@media (max-width: 545px) {
	.THIS #label-file-format{
    	margin-left: 0px;
  	}
}