.THIS .myTable{
  display: inline-block;
  float: left;
}

.THIS .tableheader thead th {
background-color: #16325c;
color: white}

.THIS .cellUp{
    top:-27px;
    
}
.THIS .recordRow{
    width:100%;
}
.THIS .mcol1{
    max-width:5%;
    width:5%;
    
}
.THIS .mcol2{
    max-width:20%;
    width:20%;position:relative;
}
.THIS .milestoneWrapText{
    word-wrap: break-word;
}
.THIS .mcol3{
    max-width:15%;
    width:15%;
}
.THIS .mcol4{
    max-width:15%;
    width:15%;
}
.THIS .mcol5{
    max-width:15%;
    width:15%;
}
.THIS .mcol6{
    max-width:15%;
    width:15%;
}
.THIS .mcol7{
    max-width:15%;
    width:15%;
}
.THIS .slds-table td {
    padding: .25rem .5rem;
    white-space: initial !important;
    position: relative;
}
.THIS .slds-table thead th{
    white-space: pre-line;    
}
.THIS .slds-dropdown-trigger_click.slds-is-open .slds-dropdown{
    display: table !important;    
}
.THIS .slds-form-element__icon{ 
    display: none;
}