.THIS {
    color:#000000;
}
.THIS.dockedComposer{
    background-color: white;
    min-width:50px;
    height:100px;
}
.THIS .slds-docked-composer.slds-is-open {
    font-family: "Salesforce Sans", Arial, sans-serif;
    color : #54698D;
    min-width: 400px !important;
    height: 400px !important;
}
.THIS .footerButtons
{
	text-align:right;
}
.THIS .mainContainer
{
    /*height: 800px; 
    min-width: 615px; */
    overflow-x: auto;
    z-index:9;
    position: absolute;
    font-weight:normal !important;
}

.THIS .scrollerSize { 
    height:400px;
}

.THIS .slds-button {
    height: 19px !important;
}

/* Affirmative button Styling (START) */
.THIS .btnAffirmative
{
	background-color:#9FC74C !important;
    color: #005031 !important;
    font-weight:bold;
}


.THIS .btnAffirmative:focus
{
	background-color:#9FC74C !important;
    color: #005031 !important;
    font-weight:bold;
}
.THIS .btnAffirmative:visited
{
	background-color:#9FC74C !important;
    color: #005031 !important;
    font-weight:bold;
}

.THIS .btnAffirmative:hover
{
	background-color:#B3DB60 !important;
    color: #005031 !important;
    font-weight:bold;
}


.THIS .btnAffirmative:active
{
	background-color:#BDE56A !important;
    color: #005031 !important;
    font-weight:bold;
}
/* Affirmative button Styling (END) */






/* Negative button Styling (START) */
.THIS .btnNegative
{
	background-color:#D82F2A  !important;
    color: #ffffff !important;
    font-weight:bold;
}

.THIS .btncolor{
    /*color:white !important;*/
}
.THIS .btnNegative:focus
{
	background-color:#D82F2A  !important;
    color: #ffffff !important;
    font-weight:bold;
}
.THIS .btnNegative:visited
{
	background-color:#D82F2A  !important;
    color: #ffffff !important;
    font-weight:bold;
}

.THIS .btnNegative:hover
{
	background-color:#EC433F !important;
    color: #ffffff !important;
    font-weight:bold;
}


.THIS .btnNegative:active
{
	background-color:#F64D49 !important;
    color: #ffffff !important;
    font-weight:bold;
}
/* Negative button Styling (END) */




/* Disabled button Styling (START) */
.THIS .btnDisabled
{   
	background-color:#dcdcdc !important;
    color: #585862 !important;
    cursor:not-allowed !important;
    font-weight:bold;
}


.THIS .btnDisabled:focus
{
	background-color:#D2D2D2 !important;
    color: #585862 !important;
    cursor:not-allowed !important;
    font-weight:bold;
}
.THIS .btnDisabled:visited
{
	background-color:#dcdcdc !important;
    color: #585862 !important;
    font-weight:bold !important;
    cursor:not-allowed;
}

.THIS .btnDisabled:hover
{
	background-color:#D2D2D2 !important;
    color: #585862 !important;
    cursor:not-allowed !important;
    font-weight:bold;
}


.THIS .btnDisabled:active
{
	background-color:#dcdcdc !important;
    color: #585862 !important;
    cursor:not-allowed !important;
    font-weight:bold;
}
/* Disabled button Styling (END) */





/* Cancel button Styling (START) */
.THIS .btnCancel
{
	background-color:#FFFFFF !important;
    color: #585862 !important;
    font-weight:bold;
}


.THIS .btnCancel:focus
{
	background-color:#DCDCDC !important;
    color: #585862 !important;
    font-weight:bold;
}
.THIS .btnCancel:visited
{
	background-color:#FFFFFF !important;
    color: #585862 !important;
    font-weight:bold;
}

.THIS .btnCancel:hover
{
	background-color:#DCDCDC !important;
    color: #585862 !important;
    font-weight:bold;
}


.THIS .btnCancel:active
{
    background-color:#D2D2D2 !important;
    color: #585862 !important;
    font-weight:bold;
}

/* Affirmative button Styling (END) */

.THIS .slds-button {
    
    /*color: inherit !important;*/
    text-decoration: inherit !important;
    height: inherit !important;
}
.THIS .slds-textarea
{
	height: 100px;	 
    font: normal normal 13px/30px  'Gotham Rounded Book',sans-serif,Arial  !important;    
}
.THIS .characterCount
{
    font: normal normal 10px/20px  'Gotham Rounded Book',sans-serif,Arial  !important;    
}
.THIS .modalDialogConfirmation
{
    height: 640px;
    position: absolute;
}


/* Actions Icon styles (START) */
.THIS img.disabled{
    filter: brightness(0.5);
}
.THIS img.disabled:hover{
    cursor: not-allowed;
}
/* Actions Link  styles (START) */
.THIS .slds-button.slds-button.actionLink
{
    color:#ffffff !important;
    text-decoration:underline !important;
}
.THIS .reqInfo
{
    line-height: 1.275rem !important;
    text-align: left !important; 
}
.THIS .slds-button.slds-button.actionLink:disabled:hover {
    cursor: not-allowed;
}
.THIS .slds-button.slds-button.actionLink:disabled{
    color:gray !important;
    text-decoration:none !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:link
{
    color:#ffffff !important;
    text-decoration:underline !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:hover
{
    color:#FFC841 !important;
    text-decoration:none !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:focus
{
    color:#FFC841 !important;
    text-decoration:none !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:visited
{
    color:#ffffff  !important;
    text-decoration:underline !important;
}
.THIS .slds-button.slds-button.actionLink:enabled:active
{
    color:#00AEEF !important;
    text-decoration:none !important;
}
/* Actions Link styles (END) */
.THIS .slds-button {
    text-decoration: inherit !important;
    height: inherit !important;
}
/* Actions Link styles (END) */
.THIS .modalDialogConfirmation
{
    height: 640px;
    position: absolute;
}

.THIS .slds-icon-text-default
{
    fill: rgb(180, 180, 180);
}
.THIS .slds-modal__container
{
    width: 30%;
}