.cDevelopmentDetails .panel-heading {
    background-color: white !important;
    border-color: #777 !important;
    color: black !important;  
}
.cDevelopmentDetails .help-none-error{    
    display: none;
}


.cDevelopmentDetails .field-tip {
    position:relative;
    cursor:help;
}

.cDevelopmentDetails .field-tip .tip-content {
    position:absolute;
    z-index: 1;
    top:-10px; /* - top padding */
    right:9999px;
    width:300px;
    margin-right:-300px; /* width + left/right padding */
    padding:10px;
    color:#fff;
    /*background:#26234c;*/
     /*background: rgb(71,85,96);*/
    background: #002659;
    -webkit-box-shadow:2px 2px 5px #aaa;
    -moz-box-shadow:2px 2px 5px #aaa;
    box-shadow:2px 2px 5px #aaa;
    opacity:0;
    -webkit-transition:opacity 250ms ease-out;
    -moz-transition:opacity 250ms ease-out;
    -ms-transition:opacity 250ms ease-out;
    -o-transition:opacity 250ms ease-out;
    transition:opacity 250ms ease-out;
}

/* <http://css-tricks.com/snippets/css/css-triangle/> */
.cDevelopmentDetails  .field-tip .tip-content:before {
    content:' '; /* Must have content to display */
    position:absolute;
    top:45%;
    left:-16px; /* 2 x border width */
    width:0;
    height:0;
    margin-top:-8px; /* - border width */
    border:8px solid transparent;
    /* border-bottom-color:#26234c; */
}

.cDevelopmentDetails .field-tip:hover .tip-content {
    right:-20px;
    opacity:1;
}

.cDevelopmentDetails .image-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}


.cDevelopmentDetails .Pathways{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/directcustomer/sfsites/c/resource/Pathwaysonly');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cDevelopmentDetails .PitnPipe{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/directcustomer/sfsites/c/resource/Pitandpipe');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cDevelopmentDetails .LIC{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/directcustomer/sfsites/c/resource/LeadinConduit');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cDevelopmentDetails .LICSeleted{
    border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cDevelopmentDetails .image-selector input:checked +.LIC{
   	border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cDevelopmentDetails .image-selector input:checked +.PitnPipe{
   	border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cDevelopmentDetails .image-selector input:checked +.Pathways{
   	border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cDevelopmentDetails .image-selector input:checked +.Horizontal{
   	border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cDevelopmentDetails .image-selector input:checked +.Vertical{
   	border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cDevelopmentDetails .image-selector input:checked +.GrannyFlatLeft{
   	border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cDevelopmentDetails .image-selector input:checked +.GrannyFlatRight{
   	border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cDevelopmentDetails .image-selector input:checked +.LICLeft{
   	border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cDevelopmentDetails .image-selector input:checked +.LICRight{
   	border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cDevelopmentDetails .image-selector input:checked +.SideDuplex{
   	border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cDevelopmentDetails .image-selector input:checked +.CentreDuplex{
   	border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cDevelopmentDetails .image-selector input:checked +.Cornerblock{
   	border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cDevelopmentDetails .LICSeleted{
    border-style: solid;
	border-color: #33ccff;
    border-width: thick;
}

.cDevelopmentDetails .Vertical{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/directcustomer/sfsites/c/resource/DevelopmentDetailsLICV');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cDevelopmentDetails .Horizontal{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/directcustomer/sfsites/c/resource/DevelopmentDetailsLICH');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    margin-left: 10px;
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cDevelopmentDetails .GrannyFlatLeft{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/directcustomer/sfsites/c/resource/DevelopmentDetailsGFL');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cDevelopmentDetails .GrannyFlatRight{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/directcustomer/sfsites/c/resource/DevelopmentDetailsGFR');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cDevelopmentDetails .LICLeft{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/directcustomer/sfsites/c/resource/DevelopmentDetailsLICLeft');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    margin-left: 10px;
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cDevelopmentDetails .LICRight{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/directcustomer/sfsites/c/resource/DevelopmentDetailsLICRight');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    margin-left: 10px;
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cDevelopmentDetails .SideDuplex{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/directcustomer/sfsites/c/resource/DevelopmentDetailsLICSD');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cDevelopmentDetails .customA{
    color: white
}

.cDevelopmentDetails .CentreDuplex{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/directcustomer/sfsites/c/resource/DevelopmentDetailsLICCD');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    margin-left: 10px;
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}

.cDevelopmentDetails .Cornerblock{
    cursor:pointer;
    background-size: 140px 130px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: 100%;
    vertical-align: top;
    background-image: url('/directcustomer/sfsites/c/resource/DevelopmentDetailsLICCB');
    white-space: nowrap;
    display:inline-block;
    width:140px;height:130px;
    
    padding-right: 140px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    
}
.cDevelopmentDetails .customInput{
    background-color: #f5f5f5
}