.THIS {
    color: #333160;
    background-color: #FFFFFF;
    width: 100%;
    padding: 0 18px 4px 18px;
    border: 0px;
    border-radius: 0px;
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
    font-size: .75rem;
}

.THIS .greyBg{
    background: rgb(242, 242, 242);
}

.THIS .Network-trail-title {
    font-size: 17px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.THIS .Network-trail-table-title {
    font-size: 14px;
    padding-top: 18px;
    padding-bottom: 10px;
}

.THIS .Network-trail-log {
	height : 20px ;
    border-bottom: 1px solid #DDDDDD;
    word-wrap: break-word;
}
.THIS .Network-trail-Content {
    font-size: 11px;
    font-family: 'Salesforce Sans',Arial,sans-serif ;
    color:rgb(8, 7, 7);
    word-wrap: break-word;
    white-space: normal !important;
}

.THIS .Network-trail-title-content{    
    color: #333160;
    margin-top:11px;
}


.THIS .Network-trail-Content thead th{
    margin-top: 20px ;  
    font-size: 10px;
    font-family: 'Gotham Rounded Book',Arial,sans-serif;
}

.THIS .cableLengthWidthAdjust{
    width: 97%;
}

.THIS .slds-cell-fixed{
    background-color:#f1f4f7;
}
.THIS .slds-text-title_caps, .THIS .slds-text-title--caps {
    text-transform: none;
    font-weight: 700;
    color: #333160;
}
.THIS .btn_networkTrail{
 	width : 300px;
    color: #0070BA ;
    border-color: #0070BA ; 
}

.THIS .networkTrailSpinner{
    width: 100%;
    height: 200px;
    text-align: center;
}

.THIS .slds-spinner_container {
    position: relative;
}

/* Close Button */
.THIS .close-icon {
    text-align: right;
}
.THIS .close-icon svg{
    fill : #333160;
}

.THIS .close-button{
    border:0px;
    text-align : right;
    padding:0px;
}


.THIS .fillBlue .slds-icon-text-default{
    fill : rgb(0, 109, 204);
}

/* Error Handler CSS */
.THIS .errorCmp{
    width: 100%;
    height: 200px;
    text-align: center;
	background-image: url(/resource/nbnSpogiconComponentLoadError);
	background-repeat: no-repeat;
 	background-size: 70px;
	background-position: 50% 10%;
}
.THIS .errorSection{
    display: table-row;
    margin-top: 94px;
    line-height: 1.5rem;
   	text-align: center;
}
.THIS .errorHeading1{
    margin: auto;
    font-size: 1.5rem;
    text-align:center;
}
.THIS .errorHeading2 {
    margin: auto;
    font-size: 1rem;
    text-align:center;
}
.THIS .errorDetails {
    font-weight: 500;
    font-size: .8rem;
    color: #8a8b95;
}
.THIS .NT-transactionSataus {
    margin-top:80px;
    font-size: 1rem;
    text-align:center;
}

.THIS .avatarHeight{
    height : inherit;
}

.THIS .nodeIcon{
    background-image: url(/resource/Jigsaw_NetworkTrail_Images/Jigsaw_NetworkTrailImages/Icon_node.svg);
}
.THIS .csdIcon{
    background-image: url(/resource/Jigsaw_NetworkTrail_Images/Jigsaw_NetworkTrailImages/Icon_csd.svg);
}
.THIS .pillarIcon{
    background-image: url(/resource/Jigsaw_NetworkTrail_Images/Jigsaw_NetworkTrailImages/Icon_pillar.svg);
}
.THIS .cableLengthIcon{
    background-image: url(/resource/Jigsaw_NetworkTrail_Images/Jigsaw_NetworkTrailImages/Icon_cablelight.svg);
}
.THIS .fttbSiteIcon{
    background-image: url(/resource/Jigsaw_NetworkTrail_Images/Jigsaw_NetworkTrailImages/Icon_fttb.svg);
}
.THIS .mdfIcon{
    background-image: url(/resource/Jigsaw_NetworkTrail_Images/Jigsaw_NetworkTrailImages/Icon_mdf.svg);
}
.THIS .cableLengthBox {
	border: 1px solid #DDD;
    
}
.THIS .cableLengthVal {
   font-size: 18px;
   font-family: 'Gotham Rounded Medium', Arial, sans-serif;
}
.THIS .redIcon {
    color: red;
}
.THIS .CollapseSection{
    padding:0px;
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
    font-size: .75rem;
}
.THIS .CopperSectionBG{
    background-color:#f1f4f7;
}