/*NS Order Component*/
/*.THIS.df-label > span {*/
    /*font-weight: bolder;*/
    /*color: black;*/
/*}*/

.THIS.df-label {
    padding-left: t(spacingXxSmall);
    padding-bottom: t(spacingXSmall);
}

.THIS .slds-button.slds-button_icon {
    top: t(borderWidthThin);
    /*padding-bottom: t(spacingXxSmall);*/
}

.THIS lightning-helptext {
    display: inline !important;
}