.cLocationSearch .lookup {
    position: relative;
    width: 100%;
	font-size: 12px;
    background-color: #fff;
}
.cLocationSearch .lookup_menu_close {   
    display: none;
}

.THIS .sWrapTest {
    height: 200px;
}

.THIS #locationTypeAhead{
    overflow: auto;
}


.THIS .selected{
    background-color:#c1bec4;
}


.cLocationSearch .lookup_list {
    max-height: calc((((1.5 * 0.8125rem) + (1.5 * 0.75rem) - 0.25rem) + (0.25rem * 2)) * 20);
    overflow-y: auto;     
	padding: 1px;
   	margin: 1px;
	border:1px ridge;
}
.cLocationSearch .lookup_list:hover{
    display: block;
}
.cLocationSearch .lookup_list a {
    display: block;
    padding: 0.5em 0.8em;
    text-decoration: none;    
    color: #333333;
}

.cLocationSearch .lookup_list a:hover{
	background-color:#d5d8dc;
} 

.cLocationSearch .lookup_list li:last-of-type {
    border-bottom:none;
}

.cLocationSearch .typeahead_message{
    display: block;
    padding: 10px 0px;
    font-size: 15px;
    color: red !important;
}
.cLocationSearch .lookup_result-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.cLocationSearch .lookup_bg{
	border-bottom:1px ridge;
}
.cLocationSearch .location_bg{
	/*padding: 30px 0px 30px 0px;
    margin: 0px 25px 0px 25px;*/
    background-color: #f5f5f5;
}
.cLocationSearch .searcLocationText{
    background-color:#fff;
}
.cLocationSearch .locError-danger {
    background-color: #fff;
    border-color: #6e6e79;
    color: #6e6e79;
}
.cLocationSearch .locError {
    margin-top: 10px;
    padding: 15px;
    margin-bottom: 22px;
    border: 1px solid #6e6e79;
    border-radius: 4px;
}
.cLocationSearch .lookup.google-maps:after {
	content: "";
  	position: absolute;
  	bottom: 1px;
  	right: 1px;
  	background: url("https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png") no-repeat;
  	background-size: contain;
  	height: 16px;
  	width: 120px;
}
.cLocationSearch .location_bg_cancel{
	/*padding: 30px 0px 30px 0px;
    margin: 0px 25px 0px 25px;*/
    background-color: #ffffff
}