.THIS .df-left-col {
    padding-right: 0;
    text-align: right;
}

.THIS .df-right-col {
    padding-left: 1.5rem;
    text-align: left;
}

.THIS .slds-table thead th {
    vertical-align: top;
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
    font-weight: 400;    
}

.THIS .slds-table th .slds-icon.slds-icon-text-default {
    fill: WHITE !important;
    margin-bottom: 3px;
}

.THIS th.slds-text-title_caps {
    text-transform: none;
    font-size: 0.8125rem;
}