.THIS .ee-info-icon .slds-button.slds-button_icon {
    top: -3px;
    padding-right: 4px;
}

.THIS .ee-error-message {
    padding-left: 0px !important;
    padding-right: 0px !important; 
}

.THIS .df-tab-extra-margin-top .slds-box.df-tab-box {
    margin-top: 8px;
}

.THIS .df-toast {    
    margin-top: -5rem;    
}
    .THIS .df-toast .slds-notify.slds-notify_toast.slds-theme_info {
        background-color: rgb(241, 241, 241);
        color: black;
        margin-right: 0px;   
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 6px;
        padding-left: 3px;
        padding-right: 9px;
        padding-top: 7px;
        min-width: 1rem;
        box-shadow: 3px 3px 3px 3px rgba(95,95,95,0.15);
        border: 2px solid #d4d4d4;
    }

.THIS .df-toast a {
    color: #2574a9 !important;
}

.THIS .df-as-multi-ovc-selection {
    padding-left: 60px;
    padding-right: 100px;
}

.THIS .df-add-notes-link, .THIS .df-add-info-link {
    margin-right: 10px;
}

.THIS .df-add-note-icon svg {
    height:18px;
    width:18px;
}

.THIS .cDF_Form_Label.df-label {
    padding-left: 0;
}

.THIS .custom-box {
    text-align: left;
    background-color: #f4f6f9;
    padding: 1px;
    border: 1px solid #d8dde6;
}

.THIS .slds-box {
    -webkit-box-shadow: t(dfBoxShadow);
    -moz-box-shadow: t(dfBoxShadow);
    box-shadow: t(dfBoxShadow);
    background-color: t(dfBoxColorBackground);
    min-width:1116px;
}

.THIS .df-default-tab1 li[data-tab-value='2']:not(.slds-is-active):hover,
.THIS .df-default-tab1 li[data-tab-value='2']:not(.slds-is-active) a:hover,
.THIS .df-default-tab2 li[data-tab-value='1']:not(.slds-is-active):hover,
.THIS .df-default-tab2 li[data-tab-value='1']:not(.slds-is-active) a:hover {   
   cursor: default;
}

.THIS .df-default-tab1 li[data-tab-value='2']:not(.slds-is-active):hover:after,
.THIS .df-default-tab2 li[data-tab-value='1']:not(.slds-is-active):hover:after {   
    background-color: transparent;
}

.THIS .cDF_Section_Header {
    margin-top: -0.5rem;
}

.THIS .cDF_Section_Header hr {
    margin-bottom: 1rem;
}

.THIS .df-form .cDF_Form_Label {
    margin-bottom: 0.3rem;
    padding-left: 0;
}

.THIS .df-form .slds-form-element__label, .THIS .df-form lightning-helptext {
    display: none;        
}

.THIS .slds-form .slds-button.slds-button_icon {
    top: t(borderWidthThin);
    padding-bottom: t(spacingXxSmall);
    margin-left: -.5rem;
}

.THIS .step1 textarea, .THIS .step2 textarea, .THIS .step3 textarea {
    height: 8rem;
}

.THIS .step1 .slds-form-element__control, .THIS .step2 .slds-form-element__control, .THIS .step3 .slds-form-element__control {
    width: 100%;        
}

.THIS .df-left-col {
    padding-right: 1.5rem;
}

.THIS .df-right-col {
    padding-left: 1.5rem;
}

.THIS .df-inc-aw .uiInputDate {
    max-width: 225px; 
}

.THIS .slds-has-error.df-date.input {
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    min-height: calc(1.875rem + (1px * 2));
    border-width: 1px;
}

.THIS .df-as-modal-reminder {
    height: 600px;
}

.THIS .df-as-modal-reminder header {
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
}

.THIS .slds-icon-standard-note {
    background-color: t(dfColorBackground);
}