/**
 * Created by Gobind.Khurana on 21/05/2018.
 */

.THIS .bundle-search-box-section {
    border-top-style: solid;
    border-color: #2574a9;
    border-width: 5px;
}

.THIS .slds-table_bordered {
    border-style: solid;
    border-color: #2574a9;
    border-width: 1px;
}

.THIS .df-outer-border {
    /*border-style: solid;*/
    /*border-color: red;*/
    /*border-width: 2px;*/
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #e3ecf8;
}

.THIS .df-light-background {
    background-color: #e3ecf8;
}

.THIS .df-footer td {
    padding-left: 0px !important;
}

.THIS .slds-table thead th {
    vertical-align: middle;
    background-color:#2574a9;
    color:#FFFFFF;
    padding: 0;
}

.THIS .slds-theme_shade {
    background-color: #2574a9;
}

.THIS .search-label {
    color: white;
}

.THIS .df-footer td {
    padding-top: 0;
}

.THIS th.slds-text-title_caps {
    text-transform: none;
    font-size: 0.8125rem;
}

.THIS .slds-th__action:focus, .THIS .slds-th__action:hover {
    background-color: t(dfColorBackground);
    color: WHITE;
}

.THIS .slds-table th .slds-icon.slds-icon-text-default {
    fill: WHITE !important;
    margin-bottom: 3px;
}