.THIS.slds-theme_shade {
    background-color: t(dfColorBackground);
    padding-left: t(spacingXxSmall);
}

.THIS .df-number {
    width: 101px;
}

.THIS .df-edit-col {
    width: 60px;
}

.THIS .df-icon {
    background-color: t(dfColorBackgroundIconDisabled);
}

.THIS.slds-table thead th {
    vertical-align: center;
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
}

.THIS .df-hyperlink a {
    text-decoration: none;
}

.THIS .slds-truncate {
    white-space: pre-wrap;
}

.THIS .slds-cell-fixed {
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
}

.THIS .slds-th__action:hover {
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
}

.THIS .slds-cell-buffer{
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
}

.THIS.df
{
    color: 	#FFA500;
}

.THIS .err-msg{
    color: #ff0000;
}

.THIS.df-box {
    background-color: t(dfBoxColorBackground);

}

.THIS .df-head {
    color: t(dfColorTextHeading);
}

.THIS .notUploading {
    visibility: hidden;
}

.THIS .uploading {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
}

.THIS .icn svg {
    fill : t(dfColorBackground);
}

.THIS .df-nowidth {
    width: 0px;
}

.THIS .df-one-col {
    width: 62px;
}

.THIS .df-search-col {
    width: 362px;
    padding-left: 5.5%;
}

.THIS .not-active {
    pointer-events: none;
    cursor: default;
}

.THIS .not-active-link {
    pointer-events: none;
    cursor: default;
    color: #545454;
}