.THIS.map{
    height: 320px;
   	width: 100%;
    padding-top : 40px;
    padding-right : 100px;
    display : none;
    padding-left : 15px;
    padding-bottom : 40px;
}

.THIS.mapInfo{
    display : none;
    margin-left : 15px;
    
}

.THIS label.uiLabel {
    padding-right: 12px;
}

.THIS .field{
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  border: 1px solid #D2DADD;
  border-radius: 2px;
  background-color: #F7FBFE;    
  height: 45px;
}

.THIS .chk{
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  border: 1px solid #D2DADD;
  border-radius: 2px;  
  box-shadow: 0 0 3px #006AAE;
  background-color: #F7FBFE;    
  height: 15px;
  width: 25px;
}