.THIS {
    background-color: #155A91;
    color: #FFFFFF;
    width: 100%;
    padding: 0px 20px 0px;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
}

.THIS .slds-card__header {
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
    margin-bottom: 18px;
    padding-left: 0;
    padding-right: 0;
}

.THIS .allowWrap{
    white-space:normal !important;
}

.THIS .slds-card__body {
    padding-left: 20px;
}

.THIS .slds-card__body .slds-p-horizontal_small {
    padding-left: 0;
    padding-right: 0;
}

.THIS .slds-text-heading--small {
    font-size: 1.1rem;
}

.THIS .overview-icon {
    position: relative;
    bottom: 3px;
    margin-right: 8px;
    font-size: 14px;
}

.THIS .overview-icon:before {
    vertical-align: middle;
}

.THIS .sdg-campaign-icon .slds-icon {
	fill: #ffb325;
    margin-right:4px;
}

.THIS .lowerCase {
    text-transform: lowercase
}

.THIS .resolution_rejection{
    padding:4px 0px;
}

.THIS .resolution_rejection_icon{
	background-color:#D82F2A;
        height: 14px;
    width: 14px;
    padding: 0.13rem;
    line-height: 0;
    margin-right:4px;
}
.THIS .resolution_rejection svg{
	fill: white;    
    height: 10px;
    width: 10px;
     /*height:14px;  
  width:14px;  /* as per wireframe */
}
.THIS .marginRight{
    margin-right:4px;
}