.cContactMatrixComponent .hideMe {
    display: none !important;
} 

.cContactMatrixComponent .outputText_backgroundColor {   
    background-color: #ccc;
}

.cContactMatrixComponent .showMe {
    display: block !important;
}

.cContactMatrixComponent .has-max-width {
    max-width: 500px;
}

.cContactMatrixComponent table.table-contact-summary {
    table-layout:fixed;
    word-wrap:break-word;
}

.cContactMatrixComponent table.table-contact-summary th:nth-of-type(2) {width:270px;}
.cContactMatrixComponent table.table-contact-summary th:nth-of-type(3) {width:230px;}
.cContactMatrixComponent table.table-contact-summary th:nth-of-type(4) {width:120px;}
.cContactMatrixComponent table.table-contact-summary th:nth-of-type(5) {width:120px;}




.cContactMatrixComponent .lookup {
    position: relative;
    width: 100%;
}

.cContactMatrixComponent .lookup_result-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-bottom: 5px;
}

.cContactMatrixComponent .typeahead_message{
    display: block;
    padding-bottom: 1px;
    font-size: 15px;
    font-color: red !important;
}

.cContactMatrixComponent .lookup_result-emailtext {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding: 2px;
    font-size: 12px;
}


.cContactMatrixComponent .lookup_menu_open  {
    background: white;
    border: 1px solid #d8dde6 !important;
    border-radius: 0.25rem;
    z-index: 7000;
    position: absolute;
    width: 514.438px;   
     margin-bottom: 1px !important;
    display: block;
}

.cContactMatrixComponent .lookup_menu_close {   
    display: none;
}

.cContactMatrixComponent .lookup_list {
    max-height: calc((((1.5 * 0.8125rem) + (1.5 * 0.75rem) - 0.25rem) + (0.25rem * 2)) * 5);
    overflow-y: auto;     
	padding: 1px;
   	
}

.cContactMatrixComponent .lookup_list:hover{
    display: block;
}

.cContactMatrixComponent .lookup_list a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;    
    color: #333333;
}

.cContactMatrixComponent .lookup_list a:hover {
    background: #F5F5F5;
}


.cContactMatrixComponent .uiInputDefaultError .form-element__help{    
   font-size: 15px; 
}