/*NS Order summary*/

.THIS ul.slds-tabs_default__nav {
    background-color: t(dfTabHeaderColorBackground);
    padding-left: t(spacingXSmall);
    padding-top: t(spacingXSmall);    
    font-size: t(dfFontSizeTextMedium);
    line-height: t(lineHeightHeading);
    border-bottom: t(borderWidthThin);
}
    .THIS ul.slds-tabs_default__nav li.slds-tabs_default__item {
        padding: t(spacingXxSmall) t(dfSpacingTabHeaderLi) t(spacingXxSmall) t(dfSpacingTabHeaderLi);
    }

.THIS .slds-tabs_default__item .slds-tabs_default__link, 
.THIS .slds-tabs_default__item.slds-active .slds-tabs_default__link, .THIS .slds-tabs_default__item.slds-is-active .slds-tabs_default__link {
    text-transform: none;
    color: t(dfColorTextHeading);
    font-weight: t(dfFontWeightBold);
    border-bottom-color: WHITE;
}

.THIS .slds-tabs_default__item.slds-active.slds-has-focus:after, .THIS .slds-tabs_default__item.slds-is-active.slds-has-focus:after, 
.THIS .slds-tabs_default__item.slds-active:after, .THIS .slds-tabs_default__item.slds-is-active:after, 
.THIS .slds-tabs_default__item.slds-has-focus:after {
    background-color: transparent;
}

.THIS .df-bottom-spacer {
    background-color: t(dfColorBackgroundInverse);
}

.THIS ul.slds-tabs_default__nav {
    background-color: t(dfTabHeaderColorBackground);
}

.THIS ul.slds-tabs_default__nav li.slds-active, .THIS ul.slds-tabs_default__nav li.slds-is-active {
    background-color: t(dfColorBackgroundInverse);
    border-bottom: t(dfBorderStyleInverse);
    margin-bottom: t(dfTabHeaderItemMarginBottom);
    border-left: t(dfTabHeaderItemBorderStyle);
    border-top: t(dfTabHeaderItemBorderStyle);
    border-right: t(dfTabHeaderItemBorderStyle);
}

.THIS.df-tab-box {
    padding: t(dfTabBoxPadding);
}

.THIS .slds-table th {
  font-weight: t(dfFontWeightBold); 
}

.THIS .slds-table--striped tbody tr:nth-of-type(odd) > td {
  background-color: t(dfColorBackgroundRowOdd); 
}

.THIS .slds-table--striped tbody tr:nth-of-type(even) > td {
  background-color: t(dfColorBackgroundRowEvenInverse); 
}

.THIS .slds-table_bordered tr > td:first-child, .THIS .slds-table_bordered tr > th:first-child {
  border-left: t(dfBorderStyleTable); 
}

.THIS .slds-table_bordered tr > td:last-child, .THIS .slds-table_bordered tr > th:last-child {
  border-right: t(dfBorderStyleTable); 
}

@media (max-width: 48em) {

    .THIS .slds-table_bordered td {
        border-right: t(dfBorderStyleTable);
    }

    .THIS .slds-table_bordered tr > td:last-child, .THIS .slds-table_bordered tr > th:last-child {
        border-bottom: t(dfBorderStyleTable);
    }   

    .THIS .df-table {
        padding-left: t(spacingSmall);
        padding-right: t(spacingSmall);
    }    

    .THIS ul.slds-tabs_default__nav li.slds-tabs_default__item {       
        padding: t(spacingXxSmall) t(spacingSmall) t(spacingXxSmall) t(spacingSmall);
    }
}