.THIS .graphButtonCell {
    text-align: center;
}

.THIS .graphButtonCell button {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 20px;
}

.THIS .errorIcon {
    width: 5%;
}

.THIS .errorSection {
    text-align: center;
}

.THIS .restrictContentHeight {
    overflow-y: visible;
    max-height: 80vh;
    min-height: 50vh;
}

.THIS .closeModal svg{
    fill : white;
}

.THIS .modalImage{
    max-width: 100%;
    height: auto;
    max-height: 80vh;
}