.THIS.HFCDisplayCard {
    background-color: #FFFFFF;
    max-height: 292px;
    min-height: 292px;
    text-align: center;
}
.THIS .HFCDisplayCardTitle{
    font-size: 18px;
    width: 100%;
}
.THIS .HFCDisplayCardDesc{
    font-size: 11px;
    width: 100%;
}