.THIS {
    background-color: #155A91;
    color: #FFFFFF;
    width: 100%;
    padding: 8px 20px 16px;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
}

.THIS .slds-card__header {
    font-family: 'Gotham Rounded Medium', Arial, sans-serif;
	margin-bottom: 18px;
    padding-left: 0;
    padding-right: 0;
}

.THIS .slds-card__body {
    padding-left: 20px;
}

.THIS .slds-text-heading--small {
    font-size: 1.1rem;
}

.THIS .location-icon {
    margin-right: 9px;
}

.THIS .allowWrap{
    white-space:normal !important;
}