.THIS ul.slds-tabs_default__nav {
    background-color: t(dfTabHeaderColorBackground);
    padding-left: t(spacingXSmall);
    padding-top: t(spacingXSmall);
    font-size: t(dfFontSizeTextMedium);
    line-height: t(lineHeightHeading);
    border-bottom: t(borderWidthThin);
}

.THIS ul.slds-tabs_default__nav li.slds-tabs_default__item {
    padding: t(spacingXxSmall) t(spacingMedium) t(spacingXxSmall) t(spacingMedium);
}

.THIS div.slds-tabs_default__content {
    padding: t(spacingXxSmall) t(spacingMedium) t(spacingXxSmall) t(spacingMedium);
}

.THIS .slds-tabs_default__item .slds-tabs_default__link,
.THIS .slds-tabs_default__item.slds-active .slds-tabs_default__link, 
.THIS .slds-tabs_default__item.slds-is-active .slds-tabs_default__link {
    text-transform: none;
    color: t(dfColorTextHeading);
    font-weight: t(dfFontWeightBold);
    border-bottom-color: WHITE;
}

.THIS .slds-tabs_default__item.slds-active.slds-has-focus:after, 
.THIS .slds-tabs_default__item.slds-is-active.slds-has-focus:after,
.THIS .slds-tabs_default__item.slds-active:after, 
.THIS .slds-tabs_default__item.slds-is-active:after,
.THIS .slds-tabs_default__item.slds-has-focus:after {
    background-color: transparent;
}

.THIS ul.slds-tabs_default__nav {
    background-color: t(dfTabHeaderColorBackground);
}

.THIS ul.slds-tabs_default__nav li.slds-active, .THIS ul.slds-tabs_default__nav li.slds-is-active {
    background-color: t(dfColorBackgroundInverse);
    border-bottom: t(dfBorderStyleInverse);
    margin-bottom: t(dfTabHeaderItemMarginBottom);
    border-left: t(dfTabHeaderItemBorderStyle);
    border-top: t(dfTabHeaderItemBorderStyle);
    border-right: t(dfTabHeaderItemBorderStyle);
}

.THIS.df-tab-box {
    padding: t(dfTabBoxPadding);
}