.cNewDevPortalMilestoneDetailPage .paddingright{
    padding-right: 50px;
}

.cNewDevPortalMilestoneDetailPage .tableborder{
    border-bottom: 1px solid #ddd;
}

.cNewDevPortalMilestoneDetailPage .bold{
    font-weight:bold
}