.THIS {
}
.THIS .marginBottom .forceRelatedListCardDesktop{
    margin-bottom:.75rem;
}

.heightrestrict500{
    height: 500px;
}
.heightrestrict350 {
    min-height: 350px;
    max-height: 350px;
}
.heightrestrict300 {
    min-height: 300px;
    max-height: 300px;
}

.heightrestrict200 {
    min-height: 200px;
    max-height: 200px;
}
.heightrestrict50 {
    height: 50px;
}
/* set Padding between all the right top components*/
.THIS div.heightrestrict300.slds-p-right_small {
    padding-right: .20rem;
}
.THIS div.heightrestrict300.slds-p-left_small {
    padding-left: .20rem;
}
.THIS div.heightrestrict350.slds-p-right_small {
    padding-right: .25rem;
}