/**
 * Created by gobindkhurana on 9/7/18.
 */

.THIS .title-border {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(41, 133, 180);
    border-radius: 0px;
}

.THIS .tile-content {
    color:#000000;
}

.THIS .tile-heading {
    color:#2985B4;
}

 .THIS .divSize{
     width: 300px;
     height: 150px;
 }

.THIS .imgBox {
    display: inline-block;
    overflow: hidden !important;
    transition: .3s ease-in-out;
  }

.THIS .imgBox:hover {
    opacity: 0.6;
    filter: alpha(opacity=30);
    transform: scale(1.3);
  }

.THIS .frame {
    width: 300px;
    height: 200px;
  overflow: hidden;
}

.THIS .zoomin img {
  width: 300px;
  height: 200px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.THIS .zoomin img:hover {
    width: 300px;
    height: 200px;
}