.THIS .slds-table thead th {
    vertical-align: top;
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
    font-weight: 400;    
}

.THIS .df-order-table.slds-table thead th {   
    padding: 0 0 0 0;
}

.THIS .slds-th__action:focus, .THIS .slds-th__action:hover {
    background-color: t(dfColorBackground);
    color: WHITE;
}

.THIS .slds-table th .slds-icon.slds-icon-text-default {
    fill: WHITE !important;
    margin-bottom: 3px;
}

.THIS th.slds-text-title_caps {
    text-transform: none;
    font-size: 0.8125rem;
}

.THIS .cDF_Form_Label.df-label {
    padding-bottom: 0px;
}

.THIS .df-date-picker .uiInputDate {
    width: 12em;
}

.THIS .slds-form-element .slds-form-element__label {
    display: none;    
}

.THIS .df-date-picker .datePicker-openIcon.display {
    right: 6px;
    top: 10px;
}

.THIS .slds-table thead th {
    vertical-align: top;
    background-color: t(dfColorBackground);
    color: t(dfColorTextInverse);
}

.THIS .search-label {
    color: white;
}

.THIS .dfnorecords {
    color: red;
}

.THIS .df-footer td {
    padding-top: 0;
}

.THIS.slds-box {
    -webkit-box-shadow: t(dfBoxShadow);
    -moz-box-shadow: t(dfBoxShadow);
    box-shadow: t(dfBoxShadow);
}

.THIS .df-label-search {
    font-weight: t(dfFontWeightBold);
    margin-top: 0.4rem;
}

.THIS.df-box {
    background-color: t(dfBoxColorBackground);
}

.THIS .df-heading {
    color: t(dfColorTextHeading);
    font-weight: t(dfFontWeightBold);
}

.THIS .df-date label {
    display: none;
}

/*
.THIS .uiInputDate {
    max-width: 150px;
}
*/

.THIS .slds-select_container {
    min-width: 150px;
}

.THIS .df-shift-left {
    margin-left: -200px;
}

.THIS .slds-form-element__control.df-search {
    min-width: 300px;
}

.THIS .slds-has-error.df-date.input {
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    min-height: calc(1.875rem + (1px * 2));
}

@media (min-width: 1025px) { 
    .THIS .df-shift-left {
        margin-left: -50px;
    }
}

@media (min-width: 481px) and (max-width: 1023px) {
    .THIS .df-label-search.slds-text-align--right {
        text-align: left;
    }

    .THIS .df-label-search {
        margin-top: 0;
    }

    .THIS .df-shift-left {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .THIS .df-label-search.slds-text-align--right {
        text-align: left;
    }
    
    .THIS .df-shift-left {
        margin-left: 0;
    }

    .THIS .df-footer .slds-float--right {
        float: left;
    }
}