.THIS {
    background-color: white;
    min-height: 70vh;
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
}

.THIS .emptySection {
    max-height: 200px;
    text-align: center;
    color: #333160;
}

.THIS .rightAlignText {
    text-align: right;
}

.THIS .spinnerContainer {
    position: relative;
    z-index: 1;
}

.THIS .headerTestName {
    font-size: 18px;
    color: #0c528e;
    font-weight: 800;
}

.THIS .testDetailHeaderText {
    color: #67666c;
    font-size: 12px;
    font-weight: 100;
    white-space: nowrap;
}

.THIS .dotSeparator {
    font-weight: bold;
    font-size: 20px;
    line-height: 1px;
}

.THIS .errorTextBold {
    font-weight: bold;
}

.THIS .errorSection {
    text-align: center;
}

.THIS .errorIcon {
    width: 10%;
}

.THIS .errorHeading {
    font-size: 14px;
    font-weight: 800;
    color: #0c528e;
}

.THIS .errorText {
    color: #67666c;
    font-size: 12px;
    font-weight: 500;
}

.THIS .guidedIcon svg {
    fill: #0c528e;
}